[2015-11-11 16:29] rhiever opened #1 "Always use balanced accuracy"
There is no reason not to always use balanced accuracy for the fitness function by default.

[2015-11-11 16:29] rhiever opened #2 "Ensure Access to Model Parameters upon Early Termination"
From @rasbt:

Let's make sure that we don't lose the model parameters if the run is terminated early.

- Add a "verbose" parameter that writes to stderr. This way, the user can pipe the output (e.g., model parameters and metrics) to a log file. This is especially useful to keep track of the process if you are running TPOT as a PBS job, and it ensures that you have access to the model parameters wh

[2015-11-11 16:30] rhiever opened #3 "Packaging and Unit tests"
From @rasbt:

I think it would be worthwhile to turn TPOT into an importable python module/package and to add unit tests. This would help with the development, especially in collaboration.

For the first public release, I think it would be a big plus to add continuous integration, e.g,. Travis CI (in terms of trustworthiness)

[2015-11-11 16:32] rhiever opened #4 "Basic project documentation"
Flesh out the README to provide
- [x] a basic working example of TPOT
- [x] installation instructions
- [x] a longer description of TPOT

[2015-11-11 18:56] #1 closed, assigned to rhiever

[2015-11-11 19:13] rhiever opened #5 "Output the pipeline to sklearn code"
Provide a utility function to export the pipeline as sklearn code.

[2015-11-11 21:02] rhiever opened #6 "Support multiclass accuracy"
Currently, TPOT only handles binary classification accuracy. Many ML problems are multiclass -- make sure TPOT can handle this.

[2015-11-11 21:12] #6 closed, assigned to rhiever

[2015-11-12 00:15] rhiever opened #7 "Add verbosity parameter"
Allow the user to tune the level of output from TPOT. Default to no output.

[2015-11-12 00:17] rhiever opened #8 "Default the guess column to the most common class"
By default, the `guess` column is assigned to 0. In many use cases, there may not even be a 0 class. Instead, assign `guess` to the most common class in the training set.

[2015-11-12 02:08] #8 closed, assigned to rhiever

[2015-11-12 02:13] rhiever opened #9 "Store the training set internally so the user doesn't have to repeatedly pass it"
Since the training set is required to properly run the pipeline each time, this information should be stored internally so the user doesn't have to repeatedly pass it to TPOT (e.g., with the `score()` function).

[2015-11-12 02:17] #9 closed, assigned to rhiever

[2015-11-12 02:37] #7 closed, assigned to rhiever

[2015-11-12 02:57] #4 closed, assigned to rhiever

[2015-11-12 03:25] rhiever opened #10 "Implement a predict() function"
Create a `predict()` function to provide a similar interface as with scikit-learn models.

`predict()` takes 3 parameters:
- training features
- training classes
- testing features

and returns the predicted testing classes.

[2015-11-12 03:29] rhiever opened #11 "Brainstorm: How can we keep the pipelines trained so they don't need to re-train on each call?"
Currently, TPOT requires the training data to be passed along with any additional data so the pipeline can train the sklearn models on the training data again. This is required because the pipeline consists of functions: each random forest, decision tree, etc. is a function and the model is garbage collected as soon as the function terminates.

Let's brainstorm: How can we design these functions s

[2015-11-12 03:51] #10 closed, assigned to rhiever

[2015-11-12 18:06] rhiever opened #12 "Should we rename optimize() to fit()?"
@rasbt, what do you think? We basically have a normal-ish sklearn interface here except for the `optimize()` call.

[2015-11-12 20:13] rhiever opened #13 "Add random_state as a parameter to __init__()"
Instead of only configuring the RNG seed from the command line, make it a parameter that is passed to `__init__()`, where it sets the seeds there.

[2015-11-12 20:27] #12 closed, assigned to rhiever

[2015-11-12 20:41] rhiever opened #14 "Check parameters on input and make sure they're in a valid range"
For both `__init()` and the command line calls.

[2015-11-12 20:48] #13 closed, assigned to rhiever

[2015-11-12 21:17] #14 closed, assigned to rhiever

[2015-11-13 19:51] rhiever opened #16 "Implement command-line call for TPOT"
Currently, the only way to call TPOT is to point Python to the `tpot.py` file, which obviously isn't useful for people who installed TPOT via e.g. `pip`. Make the `pip` installer create an entry point for the command line.

See https://github.com/rhiever/reddit-analysis/blob/master/setup.py#L41 for an example.

[2015-11-13 20:07] rasbt commented on #16
May I ask why you chose this design decision over a regular module? Just an idea, but I'd consider changing it to a standard package/module layout and provide "example scripts" and or the command line interfaces extra, which import for the package. What do you think? This way it's much more flexible and you can make different flavors of command line executable scripts. (I am doing this for one of

[2015-11-13 20:09] rhiever commented on #16
Check the README. It supports both. ;-)

[2015-11-13 20:13] rasbt commented on #16
Ahh, you updated it! Nice, and never-mind.

[2015-11-13 22:20] #16 closed

[2015-11-15 23:31] rhiever opened #17 "Installation error with Python 2"
[code]

Probably because Python 3 treats many lists as iterators by default and Python 2 doesn't.

[2015-11-16 00:05] #17 closed

[2015-11-16 00:44] rasbt commented on #17
Hm, I don't quite understand!? As far as I know, lists are iteratable in both Python 2 and 3. The only difference I could think if is `range` where `range` in Python 3 is like `xrange` in Python 2. In contrast to Python 2's `range`, the Python 3 range doesn't create a list but is rather like a generator ...
Or that `next` in Python 2 is a method rather than a function such as in Python 3. Anyway,

[2015-11-16 00:47] rhiever commented on #17
I suppose I meant that the *resulting lists* from functions like `filter()` are returned as iterators. lists themselves are treated the same of course.

[2015-11-16 02:11] minimumnz opened #18 "Error running MNIST minimal working example with Python 2.7"
----> 1 tpot.score(X_test, y_test)

TypeError: score() takes exactly 5 arguments (3 given)

I think it should be:
tpot.score(X_train, y_train, X_test, y_test)
 Out[9]: 0.97094643806485903

[2015-11-16 02:29] #18 closed

[2015-11-16 02:29] rhiever commented on #18
You're correct, thank you!

[2015-11-16 14:38] MichaelMarkieta commented on #2
Keep in mind the usability of the temp output and what might be possible.... no big deal if its just a log of the current state of the model upon exit, but if you wanted to use that log as some sort parameterized object for specifying a new model run based on the last attempt, or (in some blue-sky thinking way), using the temp output from the previous model to train the new model to skip certain g

[2015-11-16 15:18] rasbt commented on #2
@MichaelMarkieta I agree with you; maybe we should start with a simple log file to get it going, and we can later come up with a "parameter file" to directly initialize and parameterize the model as I mentioned above.

[2015-11-16 17:40] datnamer commented on #11
http://blaze.pydata.org/blog/2015/10/19/dask-learn/ Check this out

[2015-11-16 20:46] #3 closed, assigned to nobody

[2015-11-16 20:48] rasbt opened #24 "Add Executable Examples"
Would be nice if you could add an `./examples` directory containing some IPython Notebooks with a complete TPOT pipeline optimization examples & comments (e.g., using the prostate cancer dataset). You could link them in the README.md file, which would help people to get an overview, plus, people could re-use these notebooks as templates for own experiments.

[2015-11-16 21:02] rasbt opened #25 "Broken Landscape Badge"
For some reason, the landscape badge is now broken after the last pull request. I don't think there is a problem with the link since it worked previously, however, I noticed that it also doesn't show on landscape.io itself anymore (the other styles still seem to work though); weird!

![screen shot 2015-11-16 at 3 52 49 pm](https://cloud.githubusercontent.com/assets/5618407/11194646/3ed3a4d2-8c7b-1

[2015-11-17 00:04] mstampfer opened #27 "example broken?"
Getting the following traceback when running the minimal working example from README.

[code]

Changing member function name back to _evaluate_individual resolves the issue.

[2015-11-17 00:09] rhiever commented on #27
Did you install from source when you got this error? I see that one of the function registrations wasn't updated in #23 now.

[2015-11-17 00:12] mstampfer commented on #27
Yes, I'm running a cloned copy. Should the function stay private?

[2015-11-17 00:13] rhiever commented on #27
Yep. I'm going to fix this by changing

to

Will commit against this issue with any additional fixes as well.

[2015-11-17 00:16] mstampfer commented on #27
Thanks. tpot looks quite useful for many things I'm working on.

[2015-11-17 00:19] #27 closed

[2015-11-17 00:20] rhiever commented on #27
Great! Fix should be in the source now. Please let us know if you run into any more issues, or have any ideas on how to improve TPOT. :+1:

[2015-11-17 02:05] #25 closed

[2015-11-17 13:12] msjgriffiths opened #29 "Allow passing of sparse matrices"
In some situations, it's easier to pass a `scipy.sparse` matrix object to `sklearn` model objects. This would reduce the memory requirements when fitting larger datasets.

Most `sklearn` models will accept a sparse matrix. For those that do not, checking for sparsity in the method call and calling `matrix.todense()` would work.

[2015-11-17 13:26] rhiever commented on #29
Do you know how this data format interacts with pandas? Right now, TPOT uses pandas to pass around the data sets between pipeline operators.

[2015-11-17 15:38] rasbt commented on #29
I further recommend `toarray` over `todense`. In practice, this may often not be an issue, but `todense` returns a numpy matrix whereas `toarray` returns a numpy array.

@msjgriffiths Yes, I think sparse matrices shouldn't be a problem anymore -- in the majority of cases. Even the random forest has sparse matrix support now.

As far as I can tell you are using numpy arrays as input to the scikit-l

[2015-11-19 10:17] troglotit opened #30 "Add DecisionTreeRegressor & RandomForestRegressor"
I was wondering whether it is easy to implement a regressor for TPOT. It'd use [DecisionTreeRegressor](http://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeRegressor.html) and [RandomForestRegressor](http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestRegressor.html) instead of classifiers.

It'd increase the number of TPOT usage and boost the develop

[2015-11-20 16:47] Chris7 commented on #30
I looked at doing this briefly. From what I saw:

1) You would need to add new methods for feature selection for continuous data,
2) You would add a new function for each regressor along with their arguments, and add it to the primitives.

Here's a gist I made implementing an AdaBoostRegressor:
https://gist.github.com/Chris7/d46a57f03ed7507c59e6

Ultimately, TPOT should have a keyword indicate we

[2015-11-20 17:02] manugarri commented on #29
+1 to this, it would make it even closer to sklearn

[2015-11-23 07:36] rasbt opened #31 "Making the code citable"
Hey, since TPOT has a release tag for the "first" version as it is described in the accompanying paper, I thought it may be worthwhile to go a step "further" and get a unique DOI to cite the library. There's a nice instruction page on GitHub to set this up: https://guides.github.com/activities/citable-code/

[2015-11-23 13:28] rhiever commented on #31
I'd rather pursue the route of requesting that they cite actual papers when using the code. It's unlikely that these code citations will be picked up by Google Scholar, so it's rather pointless to use them until then.

[2015-11-23 13:29] rhiever commented on #30
Hi! Just wanted to acknowledge that I saw your issue and hope to get to it soon. @Chris7 is on the right track with his response.

[2015-11-23 16:22] rasbt commented on #31
okay sure, make sense! Was just something I stumbled upon!

[2015-11-23 16:22] #31 closed

[2015-11-25 01:18] rasbt opened #32 "Project Documentation Enhancement"
I was thinking that it may be worthwhile setting up a project documentation page other than this github repo -- for example, via Sphinx or MkDocs. This would have the advantage to create & organize an API documentation and tutorials/examples. I could set up something like at http://rasbt.github.io/biopandas/ if you'd find it useful.

[2015-11-25 13:53] rhiever commented on #32
What's the advantage over a standard README? How tough is it to maintain?

On Tuesday, November 24, 2015, Sebastian Raschka <notifications@github.com>
wrote:

--
Randal S. Olson, Ph.D.
Postdoctoral Researcher, Institute for Biomedical Informatics
University of Pennsylvania

E-mail: rso@randalolson.com | Twitter: @randal_olson
<https://twitter.com/randal_olson>
http://www.randalolson.com

[2015-11-25 15:39] rasbt commented on #32
Well, of course you can always put 'everything' into a README file as well, but depending on future additions, this README file can become huge and user unfriendly. I'd say it's the same reason why people don't build websites as 1 large html/text file ...
I think for larger projects, breaking it -- the documentation -- down into logical sections (e.g., one document to list and describe version cha

[2015-11-25 17:10] rhiever commented on #32
Doesn't hurt to have the web page docs then. I don't think the project is
large enough to merit that yet, but we will probably get there soon.

On Wednesday, November 25, 2015, Sebastian Raschka <notifications@github.com>
wrote:

--
Randal S. Olson, Ph.D.
Postdoctoral Researcher, Institute for Biomedical Informatics
University of Pennsylvania

E-mail: rso@randalolson.com | Twitter: @randal_olson
<

[2015-11-25 17:50] pronojitsaha commented on #32
Hi @rhiever & @rasbt, I am quite interested & motivated by the possibilities & impact potential of TPOT. If possible, I would like to contribute to it and I think starting with the project documentation would be good, if you require? Look forward to hear from you guys.

Thanks.

[2015-11-25 18:06] rasbt commented on #32
@rhiever Yes, I was also thinking more in terms of "in the long run." It would certainly help though to start early and document "as we go."

If we were to set up a project documentation, we probably want to use a static html builder like Sphinx, MkDocs, or Jekyll. I think it's typical for Python projects to use Sphinx. It's really a neat tool, but it's also a pretty complex beast, and personally,

[2015-11-25 18:16] rhiever commented on #32
I would be happy for you two to take the helm on establishing the project
docs. Once I get back on Monday, I'll be focusing on development again.

On Wednesday, November 25, 2015, Sebastian Raschka <notifications@github.com>
wrote:

--
Randal S. Olson, Ph.D.
Postdoctoral Researcher, Institute for Biomedical Informatics
University of Pennsylvania

E-mail: rso@randalolson.com | Twitter: @randal_olso

[2015-11-25 18:32] rasbt commented on #32
@rhiever @pronojitsaha Alright, sounds like a plan. I suggested to setup the MkDocs framework with API generator and stuff as I've done this for other projects already, but if @pronojitsaha wants to do it, it would be fine with me too. Just let me know so that we don't implement the same thing twice :).

[2015-11-26 10:02] pronojitsaha commented on #32
@rhiever & @rasbt thanks.

@rasbt As you already have a similar framework in place, I dont believe its make sense to reinvent the wheel again! You can share the existing framework as a separate repository and then we can decide the structure and contribute to individual pages as mutually decided. Does that work for you?

[2015-11-30 05:11] bartleyn opened #33 "Performance Metrics & Fitness Functions"
I imagine that it would be useful to use TPOT to find models that optimize alternate performance metrics like precision, recall, etc. As such, I've come up with the following brainstorming questions:

1. Does having alternate performance metrics/fitness functions make sense for the users?
2. Does it make sense to add alternate metrics when reporting the best model? If so, which metric do we use as

[2015-11-30 17:19] SimplyAhmazing opened #34 "TPOT command line usage help"
I downloaded a sample mnist data set into a CSV and installed TPOT and all the dependencies.

I tried running it through the command line and below is the command I ran and the results I got,

[code]

It took a couple of hours until TPOT returned the stats summary and then after an hour or so it was still running so I terminated it. I'm curious as to what a TPOT run looks like? And for some reason

[2015-12-01 01:49] rasbt commented on #32
@rhiever @pronojitsaha Sorry for the late response, I took a few days off over the long Thanksgiving weekend. Unfortunately, I am in the midst of wrapping up a few research projects before I I'll go on vacation in a few days so I probably wouldn't get to it before January. But setting up a basic framework via Sphinx or Mkdocs should be pretty straight-forward I guess. The gplearn library is actual

[2015-12-01 06:18] pronojitsaha commented on #32
@rasbt Hope you had a good thanksgiving. Ok, I will look into it and setup the initial framework using Mkdocs which we can later work on together once you are available in January. Enjoy the vacation!

[2015-12-01 08:44] rasbt commented on #32
@pronojitsaha Just got home and read your message; I thought: up the template literally just takes 10 minutes, let's do this ;). See pull request #35

I basically just pasted the sections from the Readme file for now, you can see it live at
http://rasbt.github.io/tpot/

(If you fetch or merge it, you can see it live locally by running `mkdocs serve` from the `docs/source` directory -- by default i

[2015-12-01 09:31] pronojitsaha commented on #32
@rasbt Ok, great. Will dwell into it further.

[2015-12-01 19:12] rhiever opened #36 "Output the current best pipeline when the user terminates TPOT on the command line"
Issue raised from #34

[2015-12-01 19:14] rhiever commented on #34
Hi @SimplyAhmazing,

The first thing I should clarify is that TPOT will be quite slow on large data sets such as the full MNIST data set. Using the default TPOT settings, each iteration of the algorithm is evaluating 100 pipelines on the training set, many of which are training multiple classifiers on the data. This statement is true of most Evolutionary Computation-based methods, where it's not u

[2015-12-02 18:28] rhiever commented on #30
Okay, finally back from vacation! I'm happy to hear that you're excited about contributing to TPOT.

Looking at @Chris7's gist, he's right on the money. I'd imagine instead of having a special keyword passed to TPOT, we'd be better off implementing separate "classification" and "regression" versions of TPOT (e.g., TPOT_Regressor and TPOT_Classifier) that build off of a base TPOT object with the co

[2015-12-02 18:31] rhiever commented on #33
Yes. I think we should eventually support allowing the user to pass arbitrary scoring functions, similar to how sklearn does it.

As in, use one scoring functions for optimization then a different scoring metric for final model selection? Interesting idea. I'm currently working on a version of TPOT that allows it to optimize on multiple criteria simultaneously, so perhaps that will help in this re

[2015-12-02 18:32] rhiever commented on #32
Thanks for the great start on these docs. I've merged #35.

[2015-12-02 18:52] SimplyAhmazing commented on #34
@rhiever Thanks! I figured that it would indeed be slow to run iterations on the training set.

I think this is a really cool project.

[2015-12-02 18:52] #34 closed

[2015-12-02 21:03] rhiever commented on #32
@rasbt, I've been updating the docs for the new `export` functionality and it takes double the work to update both the README and the docs. Any recommendations to avoid this duplication of labor?

@pronojitsaha, now that we have docs up and running, I can think of a couple things that would be invaluable at this point:

1) Not all of the public TPOT functions are thoroughly documented. fit, score,

[2015-12-02 21:14] rasbt commented on #32
@rhiever I'd recommend not to cram too much into the README file but focus on the "essentials" like an overview, a quick example, installation, license info, and short contributing info. I would insert a "important links section at the top pointing to the actual documentation than.
Otherwise, I'd suggest to just assemble the README.md, e.g.,
    cat index.md installation.md contributing.md MNIST_E

[2015-12-02 21:23] rhiever commented on #24
Since we #32 now, I think we can close this issue.

[2015-12-02 21:23] #24 closed

[2015-12-02 21:25] bartleyn commented on #33
Would passing in a keyword for the specific metric work for now?

Yeah, I was thinking that and/or adding additional metrics to the report of the final model.

I'm happy to contribute by adding simple support for F1/Precision/Recall in the same vein as the accuracy. I think it should be relatively straightforward.

[2015-12-02 21:33] rhiever commented on #33
At first thought, I think it'd be better/easier to simply allow the user to pass an arbitrary scoring function. Otherwise, we have to choose what scoring functions to support, write a special case for each one, etc. Not very scalable from a coding point of view. Of course, we'd have to also clarify that the user should provide a scoring function that's appropriate for their data.

Is there a speci

[2015-12-02 21:43] bartleyn commented on #33
I see your point about making the effort now to support the arbitrary functions. I'll make an attempt at it and provide examples for at least F/P/R.

[2015-12-03 18:04] rhiever opened #39 "Implement more classifier pipeline operators"
Similar to the Decision Tree and Random Forest classifier pipeline operators, also implement:

* [x] Logistic regression: http://scikit-learn.org/stable/modules/linear_model.html#logistic-regression

* [x] SVM: http://scikit-learn.org/stable/modules/svm.html#classification

* [x] kNN: http://scikit-learn.org/stable/modules/neighbors.html#nearest-neighbors-classification

* [x] Gradient boosting: h

[2015-12-03 22:25] rhiever commented on #39
Just to bug you even more, @rasbt, check out https://github.com/rhiever/tpot/commit/96c69a4fd260e1dfeeed1e360943a86803204cb7 for the implementation of these new classifiers.

Any other parameters that you would include?

Would you implement any parameters differently?

[2015-12-04 14:09] #36 closed

[2015-12-04 14:09] #5 closed

[2015-12-04 17:55] rhiever commented on #39
@amueller, do you have any advice on what additional model parameters to open up to evolution?

[2015-12-04 18:49] rhiever opened #41 "Expand project unit tests and integration tests"
Currently, there are only a few unit tests in `tests.py`. These are basic unit tests and don't cover a large portion of the project. We should expand the unit tests to cover more of the core TPOT functions.

We also need integration tests that test TPOT as a whole. This can be done with a small, fixed data set and a fixed random number generator seed over only a few generations, with a few differe

[2015-12-04 18:49] rhiever commented on #41
@pronojitsaha, are you interested in taking on this task?

[2015-12-04 19:24] rhiever opened #42 "Export functionality: Only import sklearn modules when they're used"
Currently, the `export()` function imports all of the sklearn modules that can possibly be used by TPOT. Let's make the `export()` function a little smarter by looking at the sklearn modules it actually uses and only importing those.

[2015-12-04 19:53] #42 closed

[2015-12-04 21:19] Chris7 commented on #39
Nice to see classifiers are coming along!

One thing I've noticed is you have a ton of repetitive code and it seems like you could abstract the implementation of all these methods to just a generic_regressor/generic_classifier function and a common structure for storing the regressors/parameters. Have you tried any generic approach yet?

[2015-12-04 22:07] amueller commented on #39
ANNs are in dev. They don't have dropout yet, but will soon.

How about gradient boosting?

[2015-12-05 01:20] rhiever commented on #39
@Chris7: I noticed that today too when I was implementing the new classifiers. I'll look into abstracting the common bits next week, as that would indeed save quite a lot of repeated code.

@amueller: :+1: Looking forward to ANNs in sklearn. I'll add gradient boosting as well. Do you have a sense for what are the 2-3 most important parameters (if there are that many) for each model? I've tinkered

[2015-12-05 01:22] rhiever opened #43 "Create an abstract function for the classifier pipeline operators"
There's quite a bit of repeated code in the classifier functions. Abstract the common code to a single function then have the classifiers call that function and pass their custom parameters/model.

[2015-12-05 01:36] rhiever opened #44 "Break export() down into 3 separate functions"
`export()` is currently too large. Break it down into 3 functions based on the primary steps of the function:

- Replace all of the mathematical operators with their results

- Unroll the nested function calls into serial code

- Replace the function calls with their corresponding Python code

This change will make it easier to unit test the `export()` function as well.

[2015-12-05 01:41] rhiever opened #45 "Add more feature selection operators"
Add more feature selection operators from sklearn:

- [x] VarianceThreshold: http://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.VarianceThreshold.html#sklearn.feature_selection.VarianceThreshold

- [x] SelectKBest: http://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.SelectKBest.html#sklearn.feature_selection.SelectKBest

- [x] SelectPercentile: http:/

[2015-12-05 01:50] rhiever opened #46 "Add more preprocessing pipeline operators"
Add the following preprocessing pipeline operators:

- [x] StandardScaler: http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html#sklearn.preprocessing.StandardScaler

- [x] RobustScaler: http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.RobustScaler.html#sklearn.preprocessing.RobustScaler

- [x] PolynomialFeatures: http://scikit-learn.org/s

[2015-12-05 01:57] bartleyn commented on #45
Would these be options that fall under the _dt_feature_selection method?

[2015-12-05 02:07] rhiever commented on #45
Nope - these will be separate functions.

On Friday, December 4, 2015, Nathan <notifications@github.com> wrote:

--
Randal S. Olson, Ph.D.
Postdoctoral Researcher, Institute for Biomedical Informatics
University of Pennsylvania

E-mail: rso@randalolson.com | Twitter: @randal_olson
<https://twitter.com/randal_olson>
http://www.randalolson.com

[2015-12-05 02:20] bartleyn commented on #45
Right, duh, because dt stands for decision tree. These operators would then act as alternatives to _dt_feature_selection. I'd be interested in taking a stab at it tonight/this weekend.

[2015-12-05 04:27] rhiever commented on #45
Awesome. I'll keep an eye out for the PR!

On Friday, December 4, 2015, Nathan <notifications@github.com> wrote:

--
Randal S. Olson, Ph.D.
Postdoctoral Researcher, Institute for Biomedical Informatics
University of Pennsylvania

E-mail: rso@randalolson.com | Twitter: @randal_olson
<https://twitter.com/randal_olson>
http://www.randalolson.com

[2015-12-05 17:20] UniqueFool opened #47 "Questions about TPOT"
http://www.randalolson.com/2015/11/15/introducing-tpot-the-data-science-assistant/

Given that this is very much work in progress, I am primarily wondering:

1) if/how can this be used to directly deal with ASTs (parse trees) - i.e. beyond GAs and so that this can be used to seed/create, mutate syntax trees (e.g. from python ast)
and 2) if there are any plans to support OpenCL, e.g. for running th

[2015-12-05 20:21] UniqueFool opened #48 "tpot should handle --version argument"
I was running into runtime errors when executing the example (MNIST data set): "AttributeError: TPOT instance has no attribute 'export'", and was hoping to check if the correct tpot version is installed, but it seems that --version isn't supported.

[2015-12-05 22:14] amueller commented on #39
We want to add a "Default grid" https://github.com/scikit-learn/scikit-learn/pull/5564 but it is somewhat stalled. I'm crazy busy at the moment but I hope to work on that soonish.

[2015-12-05 22:39] rhiever commented on #48
Fair enough. If you import the library, you can check the version with:

    import tpot
    print(tpot.__version__)

Should be easy enough to add --version as a command line parameter.

BTW: the `export()` functionality has not been included with a release yet; it's only available in the dev version.

[2015-12-05 22:54] UniqueFool commented on #48
re: export() - thanks for clarifying - you may want to add a corresponding note to the example on the website, because that is kinda unexpected, i.e. most people will probably try to run your examples first

[2015-12-06 19:48] UniqueFool commented on #44
also, the website/example may need to be updated to ensure that the examples there actually work with what's currently available via pip

[2015-12-07 09:29] pronojitsaha commented on #32
@rhiever Ok, I will look into the two points. I understand at this point we have only implemented for classifications tasks, so for examples following are few data sets in my mind, please let me know your views:
1. Iris Dataset
2. Titanic Dataset
3. [Lending Club Data](https://www.lendingclub.com/info/download-data.action)
4. [Facial Keypoint Detection](https://www.kaggle.com/c/facial-keypoints-de

[2015-12-07 09:37] UniqueFool commented on #32
FWIW, other Python based GP projects tend to use OpenCL/PyOpenCL to make better use of dedicated CPU/GPU and FPGA resources. In fact, a number are even using CUDA (which is NVIDIA specific)

[2015-12-07 16:01] rhiever commented on #48
I'll push out a new version to pip today with the export feature.

[2015-12-07 16:07] rhiever commented on #32
For now, I think we'll stick to smaller data sets (e.g., the sklearn MNIST subset) for the examples in the docs. i.e., examples that can be executed and see results in less than 10 minutes. I wouldn't want to require the user to fire up an EC2 instance or hop on a HPCC to run a basic TPOT example.

However, for some use cases it may take several hours to run TPOT -- especially with large data sets

[2015-12-07 16:17] rhiever commented on #47
Can you elaborate on this? I'm not familiar with ASTs. There are function within TPOT that generate and mutate the GP trees that represent machine learning pipelines, but those are currently hidden from the user.

My boss is very much pushing for GPU support, so we may go that way eventually, but currently we're still focusing on fully developing the TPOT functionality (e.g., adding more pipeline

[2015-12-07 18:48] rhiever commented on #48
TPOT v0.2.0 is out on pip with the export functionality. Enjoy, and thanks for your feedback!

[2015-12-07 18:48] #48 closed

[2015-12-07 19:03] rhiever commented on #39
Nice. Looks like [this](https://github.com/zermelozf/scikit-learn/blob/default-cv/sklearn/grid_search_default.py) will be a good start. Thank you @amueller!

[code]

[2015-12-07 19:09] amueller commented on #39
feedback welcome. I haven't actually reviewed this, not sure if someone else has ;)

[2015-12-07 19:09] rhiever commented on #39
I'll drop some comments in there.

[2015-12-07 20:39] rhiever commented on #45
@bartleyn, just wanted to ping you about this one to see if you're working on it. If not, I'll likely try to tackle this issue this week.

[2015-12-07 20:41] rhiever commented on #39
Going to close this issue and open a new one for expanding classifier parameter search.

[2015-12-07 20:41] #39 closed

[2015-12-07 20:45] rhiever opened #49 "Open more ML model parameters to optimization"
From #39, we discussed parameters that may be important to open up to search for the various ML models in TPOT. The sklearn devs have a general sense of some of the important parameters, below, but this is not an exhaustive list.

I think it would be valuable at some point to explore what parameters are most important to optimize for the various models used in TPOT, as I [discussed here](https://g

[2015-12-07 20:47] bartleyn commented on #45
Was actually about to submit my PR -- I've gotten all four to work as additional operators, but could probably use some optimization (no caching, etc). Also could probably abstract a couple additional things.

[2015-12-07 21:02] rhiever commented on #45
Woohoo! :+1:

In your PR, please note what operators are slow (and how they can be optimized) and how else the code can be improved so we can file them as PRs or fix them on the spot.

Cheers!

[2015-12-07 22:56] rhiever opened #51 "Export TPOT pipelines to Orange file format"
[Orange](http://orange.biolab.si/) has a pretty nice interface for building sklearn pipelines in a GUI.

![image](https://cloud.githubusercontent.com/assets/1719223/11642314/4e581870-9d0b-11e5-84eb-d50f2a023a3f.png)

It'd be great to have a function that exports TPOT pipelines into a file format that can be opened with Orange.

I've contacted the Orange devs and they said that it should be relativ

[2015-12-08 09:46] UniqueFool commented on #48
once again, thank you for being so responsive!

[2015-12-08 09:52] UniqueFool commented on #47
regarding Abstract Syntax Trees (ASTs), frameworks like deap can be used to support configurable input/output tree formats, which is to say that a DSL (domain specific language) can be internally used by the GP framework for representation and crossover/mutation purposes.

The powerful thing here is to support a  programming language, like Python, as both, its output, but als input - i.e .similar

[2015-12-08 10:21] UniqueFool commented on #32
Note that OpenCL is just an abstraction mechanism, i.e. the underlying "kernels" (C-like code) will work on CPUs, GPUs and FPGA hardware.
Wrappers like pyopencl even hide the nitty gritty details and expose all this flexibility to scripting space, which means that a python script can implement heavy algorithms as "kernels" that will automatically  make use of dedicated hardware if available.
the o

[2015-12-08 11:57] pronojitsaha commented on #32
@rhiever Ok, I think it makes sense to work on small/sub sets now and focus more on the implementation of the examples. Will look into it.

[2015-12-08 14:45] rhiever commented on #47
I see what you mean now. I've heard of researchers using GP as a way to create computer programs that take given inputs and produce a specific output. With TPOT, the idea is to constrain the available grammar to only machine learning operators, with the hope that such constraints will aid in faster discovery of effective pipelines. Opening the entire Python language to GP entails a much larger sea

[2015-12-08 15:22] rhiever opened #52 "Issue with train/test split"
Sometimes when both `train_size` and `test_size` aren't specified in `StratifiedShuffleSplit()` calls, the split doesn't use the entire data set. Change all split calls to explicitly specify both `train_size` and `test_size`.

[2015-12-08 15:28] #45 closed

[2015-12-08 16:03] #52 closed

[2015-12-09 22:49] rhiever commented on #46
Note to self: Investigate this more.

Results in the error:

Same for passing the results of `_polynomial_features()` to any feature selection function.

---

Also, still need to implement export functionality for these new preprocessing operators.

[2015-12-10 04:46] bartleyn commented on #43
I've got a long plane ride tomorrow evening that I could use to knock this out, especially now that I'm more familiar with DEAP.

[2015-12-10 14:14] rhiever commented on #43
Awesome!

On Wednesday, December 9, 2015, Nathan <notifications@github.com> wrote:

--
Randal S. Olson, Ph.D.
Postdoctoral Researcher, Institute for Biomedical Informatics
University of Pennsylvania

E-mail: rso@randalolson.com | Twitter: @randal_olson
<https://twitter.com/randal_olson>
http://www.randalolson.com

[2015-12-10 16:44] #46 closed

[2015-12-11 18:09] rhiever opened #56 "Add SelectFwe to feature selection operators"
Works just like the other feature selection operators: http://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.SelectFwe.html

[2015-12-15 16:20] rhiever opened #58 "Replace PCA operator with RandomizedPCA"
RandomizedPCA is much faster (especially on large data sets) and achieves approximately the same result.

[2015-12-15 23:11] rhiever opened #59 "Smart seeding of TPOT populations?"
Sorry if the text below sounds like rambling -- I was using this issue to brainstorm.

I've been thinking about possible ways to make TPOT perform better right out of the box, without having to run it for several generations to finally discover the better pipelines. One of the ideas I've had is to seed the TPOT population with a smarter group of solutions.

For example, we know that a TPOT pipelin

[2015-12-16 19:32] rhiever opened #61 "Convenience function: Detect if there are non-numerical features and encode them as numerical features"
(As discussed in #60)

Since many sklearn tools only work on numerical data, one limitation of TPOT is that it cannot work with non-numerical features. We should look into adding a convenience function that:

1) detects whether there exist non-numerical features in the feature set

2) sends a warning to the user that they should preprocess the non-numerical features into numerical features

3) ...

[2015-12-17 17:31] bartleyn commented on #61
As an additional note, should we make an effort to distinguish between numerical and ordinal data?

[2015-12-17 18:08] rhiever commented on #61
I can definitely see the value in that, but how could we accomplish it without explicit information from the user?

[2015-12-17 18:13] bartleyn commented on #61
Yeah I can imagine it's difficult without the information. Maybe that'll just something on the backburner/wishlist then.

[2015-12-17 18:15] rhiever commented on #61
@amueller, how does sklearn handle this (w.r.t. what @bartleyn mentioned)? Does sklearn just assume that the user will take care of issues w.r.t. numerical vs. ordinal data?

[2015-12-17 18:19] amueller commented on #61
sklearn assumes everything is numerical basically. (well or binary)

For trees ordinal vs numeric doesn't make a difference, how would you even handle it in other models?

[2015-12-17 18:32] bartleyn commented on #61
Okay, so then the onus for dealing with ordinal data would then be on the user. As for encoding the non-numerical features, should we be binarizing them? If not, what should the range be? I.e., can we assume the other features have been normalized?

[2015-12-17 18:35] rhiever commented on #61
I'm thinking binarizing is the best option, yes. IIRC sklearn (or was it pandas?) has a built-in function for this, so we can probably harness that.

[2015-12-17 20:46] dmarx commented on #43
I think a better approach would be to create a class for each operator, where the separate operators would inherit from base classes that define the expected API similar to how scikit-learn is organized. If done correctly, this would greatly simplify adding any arbitrary operator in the future, including empowering users to create customized operators. I'm thinking of a framework that would look s

[2015-12-17 20:59] bartleyn commented on #43
Agreed with the oo approach, as among other things it'll also avoid bloating the main TPOT class down the line. Just to flesh this idea out, where would you propose handling input validation? An abstract function that each operator implements?

[2015-12-17 21:10] dmarx commented on #43
We could probably attach that to the base class. In the gist, I included `inputtypes` as an input parameter to the base class with the intention of using that to pass the appropriate values to `pset.addPrimitive`. I imagine we could add a simple input validation function to the base class as well that would access these values.

Personally, I'm more concerned about what the best way would be to ti

[2015-12-17 21:27] bartleyn commented on #43
I should specify that I mean validating that the model parameters and input dataframe are usable (e.g., non-negative parameters and a minimum number of columns in the dataframe), rather than just type validation, which is the only thing I think `addPrimitive` provides.

As for tying together the instances of operator objects to the pipeline, that's a good question. Perhaps the `tpot` object would

[2015-12-17 21:39] dmarx commented on #43
Ok, I see. An abstract function sounds like a good approach. You're right about treating this as a "contract" as well. I was starting to get into attaching fitted parameters to operator instances (which would move towards satisfying issue #11) but that might be getting ahead of ourselves. Just abstracting out the "contract" would significantly simplify the code for the TPOT class, and is really al

[2015-12-18 03:35] dmarx commented on #43
I've started playing with this in my fork:  https://github.com/dmarx/tpot/tree/modularize_operators

This is obviously going to be a significant refactoring of the project so I'd appreciate the feedback of anyone who cares enough to poke around (here's lookin at you, @rhiever) as I'd rather not make significant unilateral decisions on a project I haven't previously been involved with.

I've manage

[2015-12-18 10:19] pronojitsaha commented on #61
I was thinking the same, that for tress data type doesnt make a difference. So may be for other models we do preprocessing specific to the model. Further I believe for binarizing, we need to chose a threshold, which then becomes a tuning parameter. How about the following encodings which require no decision parameters:
- pandas.get_dummies()
- sklearn.preprocessing.LabelEncoder()

Both lead to inf

[2015-12-18 15:35] dmarx commented on #61
Pretty sure these are the sklearn tools you're talking looking for:

* sklearn.preprocessing.LabelBinarizer
* sklearn.preprocessing.MultiLabelBinarizer

[2015-12-18 16:31] rhiever commented on #43
Oooohh, this is interesting @dmarx! I'm poking around in your fork now to see how things work. I like how this could also allow us to tie the `export()` code to the individual objects rather than having a giant single function as we do now.

wrt input validation: DEAP doesn't currently perform input validation. All `PrimitiveSetTyped` does is ensure that the right *type* is passed, but doesn't per

[2015-12-18 16:33] rhiever commented on #43
Also: I'll note that I'm currently trying to nail down a semi-stable version of TPOT for the next conference paper, so I probably won't pursue a major refactor until ~late January.

[2015-12-18 16:37] rhiever commented on #61
@dmarx: Yep, those are the functions I was thinking of!

[2015-12-18 16:42] pronojitsaha commented on #44
@rhiever While I am working on this, can you provide some inputs on the 'type' and 'contents' of the following just to be sure
-exported_pipeline,
-pipeline_list, and
-operator_text

[2015-12-18 16:48] rhiever commented on #44
@pronojitsaha, it may be best to hold off on this issue until we see what affect @dmarx's refactor (see https://github.com/rhiever/tpot/issues/43#issuecomment-165660908) has on the export function. I suspect it will shrink the export function significantly.

[2015-12-18 16:53] rhiever commented on #43
@dmarx, I'm :+1: on this refactor. It looks fantastic! How much do you think it's going to be able to reduce the code size of `export()`?

[2015-12-18 17:09] dmarx commented on #43
@rhiever quite a bit. My goal is to push all code generation particular to operators to two loops: one that constructs the import statement and one that constructs the pipeline. So basically everything below the comment `# Replace the TPOT functions with their corresponding Python code` is going to go, as is the block that constructs the import statements. Call it a reduction of about 250 lines? A

[2015-12-18 17:38] pronojitsaha commented on #44
Ok. I see that @dmarx's implementation still has the first two functions in export i.e.

- Replace all of the mathematical operators with their results

- Unroll the nested function calls into serial code

Should I break that into separate functions, it will streamline export() further and then incorporate @dmarx's refactor?

[2015-12-18 17:55] dmarx commented on #44
@pronojitsaha: Sounds good to me

[2015-12-18 17:59] pronojitsaha commented on #44
@dmarx Ok..great! Will get it done tomorrow.

[2015-12-18 18:02] rhiever commented on #44
:+1:

[2015-12-20 16:06] #44 closed

[2015-12-20 16:13] rhiever commented on #43
#62 is now merged if you want to merge that into your fork, @dmarx.

Pretty stoked to see this refactor!

[2015-12-22 14:58] rhiever opened #64 "Address pipeline overfitting"
Currently, TPOT has a tendency to build pipelines that overfit the data unless a good training sample is provided. We need to devise a method to combat overfitting on the pipeline level. Here's what I'm looking to explore:

**Multi-objective fitness:** Optimize along two fitness axes, where one is classification accuracy and the other is model complexity. Model complexity can be quantified in seve

[2015-12-22 23:03] QCaudron opened #65 "Pickling TPOT objects"
I wonder if there'd be any interest in generating something to pickle TPOT pipelines. Aside from the immediate use-case of "I want to import my pipeline and work with it more easily than with the `.export()`-generated .py file", it'd also help immensely in parallelising pipeline search, say if I wanted to find several different pipelines simultaneously and compare their scores afterwards. Admitted

[2015-12-22 23:17] rhiever commented on #65
There's definitely interest. I've discussed pickling TPOT pipelines with @rasbt in #2 if you'd like to join the conversation there.

[2015-12-23 13:08] pronojitsaha commented on #44
@rhiever While we await the integration of #63, it will be good to break the final part i.e. 'Replace the function calls with their corresponding Python code' into a separate function or a code that the main tpot file imports from for improved code readability and comprehensibility significantly (similar way that I did the first two). I already have a basic structure, if you want can create a PR f

[2015-12-23 14:14] rhiever commented on #44
Sounds good to me.

On Wednesday, December 23, 2015, PRONOjit Saha <notifications@github.com>
wrote:

--
Randal S. Olson, Ph.D.
Postdoctoral Researcher, Institute for Biomedical Informatics
University of Pennsylvania

E-mail: rso@randalolson.com | Twitter: @randal_olson
<https://twitter.com/randal_olson>
http://www.randalolson.com

[2015-12-23 17:49] QCaudron commented on #65
Thanks ! Apologies, I hadn't seen that that discussion encompassed pickling. I'll close up over here.

[2015-12-23 17:49] #65 closed

[2015-12-25 14:41] kadarakos commented on #59
Hey rhiever,

I'm not very familiar so far with TPOT, but I really like the idea! So sorry if my idea is not helping much, but here it goes:

- The TPOT package would come with the winning populations for e.g.: the Iris and MNIST data set.
- A random selection from these populations with random mutations could be the starting population for the new task given by the user.

This idea would do I thi

[2015-12-26 14:51] rhiever commented on #59
Good idea! I think that's something we could explore along with #49. We've been collecting numerous supervised classification data sets to explore TPOT performance on, and it could be interesting to see what pipeline components are shared amongst the best-performing pipelines on these data sets.

[2015-12-28 11:50] kadarakos opened #67 "Using the tpot object for prediction"
#### Error with .predict for iris example

[code]

But when I try to use the pipeline as a predictor

```tpot.predict(X_train, y_train, X_test)```

this is the error I get (iPython debugger output):

[code]
#### Interpreting generated code

Running the iris example generated this piece of code

[code]

I struggle a bit to understand what is the intended idea behind providing this result2 dataframe

[2015-12-28 15:26] rhiever commented on #67
Hi @kadarakos!

### Error with .predict for iris example

Please check if the iris features and classes are encoded as numerical features. This is likely the source of your error. We've raised issue #61 to address this problem in the near future.

### Interpreting generated code

Happy to see feedback about the generated code! The following is occurring in the pipeline you posted:

1) The training

[2015-12-29 16:27] amueller commented on #61
these are for labels, not input features.
For trees "types don't make a difference" if the tree knows what to do with them. The scikit-learn trees don't at the moment, and there will be a difference between one-hot encoding a variable and not doing so.

The problem with the pandas dummy variables is that they don't know about a training and a test phase, and so you need to make sure that the categ

[2015-12-29 16:47] rhiever commented on #61
Hmmm, that's a good point @amueller. I wonder if we should simply make it a requirement that the user perform the data cleaning beforehand. Otherwise, it's possible for the feature encodings to change between `fit()` and `score()`/`predict()` calls, which could be quite disastrous.

[2015-12-29 16:58] amueller commented on #61
Jeff said it's possible to make sure that the encoding is the same, if you remember the possible values for the categorical variable.
You just have to take care of that, as ignoring it might indeed be disastrous.

[2015-12-29 17:18] kadarakos commented on #67
Hi @rhiever ,

Both iris features and classes are encoded as floats.

Your explanation makes it clear how to interpret the generated code. It makes me wonder, however, if this is the best way to ensemble models. Imho using the [VotingClassifier](http://scikit-learn.org/stable/modules/ensemble.html) object would be a more standard/straightforward way of ensembling different classifiers, plus it pro

[2015-12-29 18:25] rhiever commented on #67
Ah, I see what happened. The predict function is missing the `.loc` call at the end:

[code]

should be

[code]

This has already been fixed in the development version, but I haven't rolled it out to pip yet. I will do this soon!

[2015-12-29 18:27] rhiever commented on #67
wrt ensembles of classifiers: I agree 100%! This is also something we're working on in the near future -- adding a pipeline operator that pools classifications from multiple classifiers in different ways (majority etc.).

[2015-12-29 19:22] kadarakos commented on #67
Thanks for the quick reply!

I evolved another piece of code that scores 1.0 on the iris data set, which is pretty impressive. However, I did raise some questions.

[code]
A minor issue was that the DecisionTreeClassifier wasn't imported for the feature selection. Apart from that the I was a bit surprised by the way the feature selection part was implemented. I believe, could be replaced with the

[2015-12-29 20:04] kadarakos commented on #67
Actually from observing the code a bit more precisely it seems to me that "result3" is just a sorted version of the original features:
[code]
and then the kNN is fitted to the this sorted data frame

[code]

, so as far as I understand the feature selection was not actually performed. Running this piece of code

[code]

actually shows - unsurprisingly - that the most informative features are the d

[2015-12-29 21:22] rhiever commented on #67
That's exactly right. It seems the feature selection in this case was "junk code" that wasn't pruned by the optimization process. i.e., because the feature selection didn't do anything, it wasn't optimized away. I'm working on code now that selects against bloat like that currently.

In the most recent version, we've actually removed the decision tree-based feature selection entirely and replaced

[2015-12-30 12:33] pronojitsaha commented on #61
@amueller While I thought the same about MultiLabelBinarizer initially, but dont you think we can represent an input feature with it by treating the features's values as classes and then stacking the (n_sample x n_classes) obtained through MultiLabelBinarizer (on the input feature) with the original dataset for further analysis?

[2016-01-02 14:27] kadarakos opened #69 "Some bugs in the generated code with feature selection and scaler"
I ran a couple of experiments on MNIST and observed that the code generation is a bit buggy at the moment. In the first example only operator generated is SelectPercentile
[code]

+ No indentation
+ result2 is not defined
+ optimized_pipeline_ contains _select_percentile, svc, _standard_scaler, but svc and
  standard scaler don't appear in the generated code

Another example with RobustScaler:

[c

[2016-01-02 15:57] rhiever commented on #69
:+1: I noticed some of these bugs when reviewing the code the other day as well. Will look to address these soon.

[2016-01-04 16:42] amueller commented on #61
yeah but you should really rather use OneHotEncoder - which unfortunately doesn't support strings at the moment, because the changes for that haven't been reviewed.

[2016-01-04 19:23] dmarx opened #70 "Trim out data transformations operators that are downstream of the last classification step"
Sometimes the optimized pipeline will look something like this:

    transformation -> transformation -> classification -> transformation

The last transformation step adds nothing. We should cleanup the pipeline by adding a post-processing step to `tpot.fit` that trims out unnecessary operators from the optimized pipeline. This will be trivial after incorporating the refactor in #63 as we could j

[2016-01-05 23:43] kadarakos commented on #59
As far as I understand this work also uses the kind of warm start I described:
https://drive.google.com/file/d/0BzRGLkqgrI-qSWJ0MXBJbmpSYmpSQlJySkt2UHQ4allueThr/view

Their method is implemented in this library:
https://github.com/automl/auto-sklearn

[2016-01-06 09:21] kadarakos commented on #70
Could we solve this by having a multi-objective fitness function? Combined from:

+ reward accuracy/f-score
+ penalize the number of operations
+ penalize runtime

As far as I understand deap supports multi-objective optimization out-of-the-box.

[2016-01-06 09:55] rhiever commented on #70
I'm currently developing and testing a multi-objective version of TPOT.
Including various measures of model complexity as an axis to minimize does
indeed eliminate cases like this.

On Tuesday, January 5, 2016, kadarakos <notifications@github.com> wrote:

--
Randal S. Olson, Ph.D.
Postdoctoral Researcher, Institute for Biomedical Informatics
University of Pennsylvania

E-mail: rso@randalolson.com

[2016-01-06 10:49] kadarakos commented on #70
What kind of measures are you using for complexity?

[2016-01-06 18:47] rhiever commented on #70
The two you mentioned -- number of pipeline operators and runtime -- but
also the number of features in the pipeline. Interested to hear more ideas
if you have some.

On Wed, Jan 6, 2016 at 12:49 AM, kadarakos <notifications@github.com> wrote:

--
Randal S. Olson, Ph.D.
Postdoctoral Researcher, Institute for Biomedical Informatics
University of Pennsylvania

E-mail: rso@randalolson.com | Twitter:

[2016-01-06 19:29] kadarakos commented on #69
I fixed the problem with a very minor bugfix in PR #68

[2016-01-07 19:54] UniqueFool commented on #47
Thanks for your response !

Actually, a configurable subset will do - in fact,  you will see that this is how "deap" works: you can register primitives/terminals and use Python callbacks for those, while specifying their signature/arity, including even strong typing: http://deap.gel.ulaval.ca/doc/default/examples/gp_symbreg.html

The example you can see there is using just a handful of Python call

[2016-01-17 21:22] bartleyn commented on #32
Anyone working on documenting the pipeline operators and public functions? I've made some significant headway on it, but want to make sure I'm not duplicating labor.

[2016-01-18 12:37] pronojitsaha commented on #32
Hi @bartleyn, I am not working on those at the moment.

[2016-01-18 17:22] rhiever commented on #32
PR #71 is related and still in review, but otherwise I believe that's the only pending change to the docs.

[2016-01-21 15:32] MichaelMarkieta commented on #61
pandas has get_dummies() as a convenience function, which by default scans the data frame and one hot encodes the obvious categorical features: http://pandas.pydata.org/pandas-docs/stable/generated/pandas.get_dummies.html

[2016-01-21 15:39] MichaelMarkieta commented on #7
I'm not seeing any output in python3 when running `fit` for any verbosity level. What is one of the first things TPOT is supposed to report, and how soon after starting `fit` should that happen?

[2016-01-21 15:52] MichaelMarkieta commented on #7
Looks like there is very little in the way of print statements... only at the end of the `fit` routine do we learn the best pipeline. I thought there would be more along the way. Hmm.

[2016-01-21 15:57] rhiever commented on #7
With maximum verbosity (=2), it should also report the best/worst/average scores every generation. Depending on your data size, each generation may take a while.

We've been thinking about ways to provide an update on the best model every generation in #2. What information are you looking for while TPOT is running?

[2016-01-21 16:25] MichaelMarkieta commented on #7
I got greedy... the dataset was too large and I didn't wait long enough for the first gen (0) to get reported. Working as expected. Carry on...

[2016-01-21 16:29] rhiever commented on #7
It would probably help if we added an "Expectations" section explaining that TPOT will be rather slow for large data sets. Although in #59 we're exploring ideas on speeding the initial seeding phase up to get the user *something* useful right off the bat.

[2016-01-21 16:32] MichaelMarkieta commented on #7
Could also print some stuff out right off the bat to tell the user things have been initialized. The fit statement is lonely waiting for gen 0 to finish.

[2016-01-21 16:44] rhiever opened #74 "Add initialization statements to script version"
Currently, TPOT prints the settings etc. at the beginning of a run with the command-line version with high verbosity (=2), but not the script version. Make TPOT also print the settings etc. at the beginning of the script version at high verbosity as well.

[2016-01-21 16:44] rhiever commented on #7
True enough. We do this for the command-line version, so it seems reasonable to do it for the scripted version as well. Filed as issue #74.

[2016-01-24 05:52] MichaelMarkieta opened #75 "Explain early stopping parameters in the documentation"
Is there use for an early stopping parameter? Where can it be best implemented? Should it be based on the previous n-rounds, or based on the internal validation evaluations? Something to think about...

[2016-01-24 05:56] MichaelMarkieta commented on #61
I just came across this again in a new dataset where 1 column is a categorical feature with values such as "c1","c2","c3", etc. The `pandas.get_dummies()` worked well for me. I just passed the X_train data frame like `X_train = pandas.get_dummies(X_train)` and off I went without issue (it one-hot-encoded the categorical column and kept the rest of the data frame in tact (and in order)).

[2016-01-24 10:48] kadarakos commented on #75
TPOT could remember the top solution in after every generation and just roll back to the best one if it wasn't in the last generation. What do you think?

[2016-01-24 15:26] rhiever commented on #61
Nice -- good to know, @MichaelMarkieta.

[2016-01-24 15:30] rhiever commented on #75
@MichaelMarkieta, that's a tough question because we're never sure if TPOT has reached the global optimum or not. We could implement something to, say, stop TPOT if no better solution has been discovered in X generations or Y minutes, but it's difficult to gauge what X or Y should be because there's so many different problem domains that TPOT can be applied to. This is why I prefer the stop condit

[2016-01-24 18:29] amueller commented on #61
@MichaelMarkieta how did you transform the test set?

[2016-01-25 03:20] pronojitsaha commented on #61
PR #71 shows the implementation using the Titanic dataset. Basically dropped the values which do not appear in the training set.

[2016-01-26 10:30] fusaroli opened #76 "unhashable type: 'numpy.ndarray'"
I am trying out basic tpot functionalities in a toy dataset (latest version, latest commit: f114a0d), and I keep getting:
 "unhashable type: 'numpy.ndarray'" for the score function.

My code: https://www.dropbox.com/s/qjor6ewmcngr2xp/TpotCode.txt?dl=0&preview=TpotCode.txt
The data: https://www.dropbox.com/s/5jq1s2z4e4fm6or/Trial.txt?dl=0&preview=Trial.txt

[2016-01-26 19:51] rhiever commented on #76
I believe the issue was a data shape issue. The predictors should be an array of arrays, whereas the outcomes should be an array of numbers.

I corrected the code below and it seems to work fine.

[code]

[2016-01-27 13:28] fusaroli commented on #76
oh, silly me. Thanks!

[2016-01-27 13:28] #76 closed

[2016-02-03 13:38] #69 closed

[2016-02-03 13:39] #58 closed

[2016-02-03 13:39] #56 closed

[2016-02-03 13:43] rhiever opened #77 "Add Consensus operator"
Currently, the only way to combine the classifications of two classifier operators is through the `combine_dfs()` method, which only takes the classifications of one of the classifiers and throws out the other.

We should add a Consensus operator that allows an arbitrary number of DataFrames to be passed to it, and it uses various ensemble decision criteria (max, mean, majority, etc. -- this would

[2016-02-03 13:45] rhiever commented on #77
It's not immediately clear to me how to create a pipeline operator that takes an arbitrary number of DataFrames. I think this would be a non-trivial task, at least looking at it at a high level.

[2016-02-04 08:57] MichaelMarkieta commented on #75
@rhiever I think this is a fair answer and you should close this issue/question. It would be good to add your comment to the introduction/readme/notes of the repository.

[2016-02-04 09:48] kadarakos commented on #77
I'm not really sure if this is helpful but in sklearn the VotingClassifier takes an arbitrary number of estimators as input and returns a single estimator

[2016-02-04 10:13] kadarakos commented on #49
I was thinking about adding a couple more classifiers and I have a small suggestion for string valued hyperparameters. It could also have simply an int value that we can just use to index into the list of possible choices e.g.:  in RandomForest something like:

[code]

The search space over the number of max_features is in 1 < x <= n_features , but using this simple indexing into possible options

[2016-02-04 16:52] bartleyn commented on #77
I think the primary constraint is whether or not DEAP's `PrimitiveSetTyped` will allow for operators that take in parameters of type `list` or some other iterable , no?

[2016-02-04 18:18] rhiever commented on #77
I'm pretty sure it would allow lists as an input, but how could we then make an easy-to-evolve list of pipelines?

[2016-02-05 15:17] rhiever commented on #75
I'll change this to an enhancement and modify the title correspondingly. Cheers!

[2016-02-05 15:20] rhiever commented on #49
What about hyperparameters that have a mixture of string and integer values? I think that's why I used `if` statements to handle string hyperparameters -- many of them have a mixture.

What classifiers are you thinking of? :-)

[2016-02-05 17:16] bartleyn commented on #77
Would it be naive to implement two additional 'helper' operators alongside the consensus one, one of type [list, DataFrame] -> [list] and the other of type [DataFrame, DataFrame] -> [list]? It would balloon the number of operators, but might give us that flexibility.

[2016-02-07 17:53] rhiever commented on #77
That seems to be one way to do it, but I think it would balloon the number of operators and make it more difficult for evolution to work with. I suspect the "best" way to do this is to add a bunch of Consensus operators with increasing numbers of DataFrames as input.

Alternatively, we can think of the GP population of pipelines as the ensemble and add an evolvable parameter to allow evolution to

[2016-02-07 20:28] bartleyn commented on #77
I suppose that we could reliably constrain the total number of pipelines being combined together, as it's not like we'll be combining hundreds of pipelines.

As for the ensemble approach, would it be as simple as adding a parameter, or would we have to roll our own version of eaSimple?

[2016-02-07 20:36] rhiever commented on #77
Right. It's not 100% clear how large the ensembles should be.

The population ensemble approach would require a custom version of eaSimple
because the population is evaluated together. Probably worth looking into
learning classifier systems (specifically, Michigan style LCS) for
inspiration on that end.

In the near future, I think the former approach is more promising. Just
need to make sure that

[2016-02-07 21:15] bartleyn commented on #77
Agreed. I was actually thinking about a similar ensemble approach to see if it helps address overfitting even more than we have in #64, so I wonder if we should just implement a set number of Consensus operators for now and flesh out this ensemble approach elsewhere.

As for how to meaningfully combine the classifications, I bet we can take inspiration from some meta-learning algorithms like AdaBo

[2016-02-07 21:19] rhiever commented on #77
:+1: Looking forward to seeing what we can do with this idea.

On Sunday, February 7, 2016, Nathan <notifications@github.com> wrote:

--
Randal S. Olson, Ph.D.
Postdoctoral Researcher, Institute for Biomedical Informatics
University of Pennsylvania

E-mail: rso@randalolson.com | Twitter: @randal_olson
<https://twitter.com/randal_olson>
http://www.randalolson.com

[2016-02-08 18:33] rhiever opened #78 "Prevent TPOT from creating multiple copies of the data set (except at leaf nodes)"
In many cases, TPOT creates multiple copies of the data set when it runs through multiple pipeline operators. The only time TPOT should have to store multiple copies of the data set is when multiple leaf nodes introduce multiple copies. Make sure TPOT cleans up data set copies as it processes them.

[2016-02-08 19:15] #64 closed

[2016-02-08 19:18] rhiever opened #79 "Allow regular checkpointing"
As suggested in #2, allow TPOT to regularly checkpoint (say, every generation at most) and save its state over time. A checkpoint file would allow contain all of the information necessary for another TPOT instance to pick up where the last one left off:
- All settings
- The current population
- The current hall of fame

[2016-02-08 19:18] #2 closed

[2016-02-08 19:18] #30 closed

[2016-02-08 19:18] #33 closed

[2016-02-08 19:19] #67 closed

[2016-02-08 19:53] #74 closed

[2016-02-09 01:19] rhiever opened #80 "Make a GIF of TPOT in action"
Show TPOT running on a simple example, finishing, outputting a score, then exporting the code. Speed things up so the GIF runs no longer than 20-30 seconds. This will be placed on the main GitHub repo + the main page of the docs.

[2016-02-09 01:20] #43 closed

[2016-02-09 01:20] #32 closed

[2016-02-09 01:55] tcfuji opened #81 "Gradient Boosting with XGBoost"
Hi Randy,

Thanks to XGBoost's scikit-learn API, it was not difficult to replace the scikit-learn GB with xgboost. I created a separate branch provided here: https://github.com/tcfuji/tpot/tree/xgboost

I tested it a little and it seems to be working. Here's an example of an exported pipeline:

[code]

Would this be a desirable addition to the master branch? Of course, this would require another d

[2016-02-09 02:11] rhiever commented on #81
I've been looking into XGBoost and I'm trying to understand what it adds over sklearn's implementation of GradientBoostingClassifier. Do you know?

[2016-02-09 03:00] tcfuji commented on #81
It's mostly just a faster version of GradientBoostingClassifier:
http://auduno.com/post/96084011658/some-nice-ml-libraries

However, it's also mentioned in a number of Kaggle winning solutions
because Gradient Boosting apparently seems to do quite well in those
competitions:
1.
https://www.kaggle.com/c/otto-group-product-classification-challenge/forums/t/14335/1st-place-winner-solution-gilberto-ti

[2016-02-09 03:28] bartleyn commented on #81
Besides being highly optimized like tcfuji mentioned, I understand it also has the ability to be trained in a distributed fashion. Would it readily interface with pandas though?

[2016-02-09 14:56] rhiever commented on #81
@tcfuji: If it works better than sklearn's GradientBoostingClassifier, isn't incredibly slow (in comparison), and the XGBoost library isn't a pain to integrate with, then I'm not opposed to integrating XGBoost into TPOT. Are you free to do a small benchmark on, say, [MNIST](http://yann.lecun.com/exdb/mnist/) or [CIFAR-10](https://www.cs.toronto.edu/~kriz/cifar.html)? I'd be interested to see perfo

[2016-02-09 17:47] tcfuji commented on #81
@bartleyn As Randy mentioned, the xgboost python API makes it easy since it can construct its main data structure (DMatrix) from numpy arrays. Also, the `tpot` method `_train_model_and_predict` converts the pandas dataframe inputs into numpy arrays (using the `.values` method).

@rhiever Sure, I'll work on it over the weekend. Want something similar to `tutorials/IRIS.ipynb` and `tutorials/MNIST.i

[2016-02-09 18:13] rhiever commented on #81
That sounds good to me, @tcfuji. Thank you!

[2016-02-09 21:00] rhiever commented on #80
Fixed in https://github.com/rhiever/tpot/commit/d68f954bbfa2fd94dbdf550856a85e80ac33c9b7

[2016-02-09 21:00] #80 closed

[2016-02-15 20:56] UniqueFool commented on #47
regarding your comments on gpu support, deap is using scoop

[2016-02-16 01:19] rhiever opened #82 "SVC massively overfits on multiclass data sets?"
In one of my [latest commits](https://github.com/rhiever/tpot/commit/1229659cdf65e68caefcfec6a34d7374752b978e#diff-725ecd9a5a19927c516ff00c762c2294R110), I removed the SVC model operator because I noticed it was massively overfitting on the MNIST data set. For example, it would achieve a 99% accuracy on the internal TPOT validation set, but would drop to ~30% accuracy on the external validation se

[2016-02-16 23:15] tcfuji commented on #81
@rhiever As we discussed yesterday, you wanted me to evaluate the performance of xgboost itself, not my fork.

The results were better than I expected:

[code]
MNIST:
[code]
0.957777777778
6.918697 seconds

[code]
0.955555555556
1.720479 seconds

---
Using the [make_classification](http://scikit-learn.org/stable/modules/generated/sklearn.datasets.make_classification.html) method:
[code]
0.494
763.

[2016-02-16 23:27] rhiever commented on #81
Thank you for running these benchmarks, @tcfuji! Is that a hard dependency on OpenMP, or is it optional? I'm concerned that making OpenMP a requirement for TPOT would cut down on its potential user base pretty significantly.

[2016-02-16 23:40] tcfuji commented on #81
According to the xgboost docs (
https://xgboost.readthedocs.org/en/latest/build.html), it does not appear
to be a hard dependency.

On Tue, Feb 16, 2016 at 6:27 PM Randy Olson <notifications@github.com>
wrote:

[2016-02-17 00:40] rhiever commented on #81
How do the benchmarks look without OpenMP?

On Tuesday, February 16, 2016, Ted <notifications@github.com> wrote:

--
Randal S. Olson, Ph.D.
Postdoctoral Researcher, Institute for Biomedical Informatics
University of Pennsylvania

E-mail: rso@randalolson.com | Twitter: @randal_olson
<https://twitter.com/randal_olson>
http://www.randalolson.com

[2016-02-17 19:41] tcfuji commented on #81
Just ran the same code without OpenMP. As expected, not as fast but still consistently faster (about 2x to 4x) than scikit's GradientBoostingClassifier.

If we can make OpenMP an optional dependency, I think xgboost would be a great addition.

[2016-02-17 20:06] rhiever commented on #81
Looks good to me. Just tried running the benchmarks myself and XGBoost looks like a solid improvement over the GradientBoostingClassifier. Easy to pip install too. Go ahead and put together a PR to replace the GradientBoostingClassifier with XGBoost.

Thanks for looking into this, @tcfuji.

[2016-02-17 20:07] rhiever commented on #77
Hey @bartleyn, I wanted to check in to see how this issue is coming along. Want to video chat about it?

[2016-02-17 23:23] tcfuji commented on #81
#83

[2016-02-18 14:12] magsol opened #84 "OverflowError: Python int too large to convert to C long"
I tried running tpot on a reasonably small dataset (141 data points, each with 78 features) for 10-way classification. In the interest of nearly-brute-forcing it, I set tpot to run for 1000 generations with 1000 populations in each generation.

Unfortunately, it only made it through 27 generations before crashing with the error: `OverflowError: Python int too large to convert to C long`. The full

[2016-02-18 14:21] rhiever opened #85 "Add exception handling around TPOT pipeline evaluations"
Currently, if a TPOT pipeline crashes or throws an exception due to some error, all of TPOT crashes.

Instead, we should add exception handling around TPOT pipeline evaluations and "throw out" pipelines that crash (i.e., assign them 0 fitness).

[2016-02-18 14:21] rhiever commented on #84
Interesting... this appears to be an issue with sklearn's `GradientBoostingClassifier`, or more specifically, with the decision trees that it constructs during gradient tree boosting.

Is the data set you're using publicly available (or can it be)? I'd be interested to see if this bug is reproducible on a simple `GradientBoostingClassifier` call.

Regardless, I think your issue raises a broader po

[2016-02-18 14:23] magsol commented on #84
Hopefully in a few months the paper I'm working on with this dataset will be published and I can publish the dataset as well ;)

I noticed this bug pops up a lot across Python 2 installs. Would switching to Python 3 be a potential fix?

[2016-02-18 14:27] rhiever commented on #84
Well, I always recommend upgrading to Python 3. ;-)

Try running this code on your data set and see if it generates an error:

[code]

(of course, you'll have to use [train_test_split()](http://scikit-learn.org/stable/modules/generated/sklearn.cross_validation.train_test_split.html) to split the data into the training_X, training_y, etc. variables)

[2016-02-18 14:29] rhiever commented on #84
I updated the code above to do the CV split.

[2016-02-18 14:32] rhiever opened #86 "Set up GitHub Issue and PR templates"
See https://github.com/blog/2111-issue-and-pull-request-templates

[2016-02-18 14:39] magsol commented on #84
That seems to work just fine; it spits out an accuracy with no problems (in both Python 2 and 3).

[2016-02-18 15:09] rhiever commented on #84
Interesting. TPOT must have been performing some feature transformations
before passing them to the classifier.

On Thursday, February 18, 2016, Shannon <notifications@github.com> wrote:

--
Randal S. Olson, Ph.D.
Postdoctoral Researcher, Institute for Biomedical Informatics
University of Pennsylvania

E-mail: rso@randalolson.com | Twitter: @randal_olson
<https://twitter.com/randal_olson>
http://w

[2016-02-19 03:44] zhangyingmath opened #87 "Possible speed up at large data sets"
Hi Randal,

We spoke briefly after the Data Philly Meetup at SIG on Feb 18, and I really like your talk. First of all, thank you for your nice talk!

During your talk, you mentioned that currently TPOT could be slow for large data sets, and we were speaking about a possible way to speed it up. Here is the rough idea:

Let's say you have a large set of data,
1. As you start the pipeline/model selec

[2016-02-19 04:31] bartleyn commented on #77
Sure, if you'd like. I've got most of the logic in for the Consensus pipeline operator(s), but I'm getting some major memory blowups (which was to be expected to some degree). I've taken the approach to allow for weighting each DataFrame by some metric (accuracy of the guesses, uniform weights, etc) before combining them with some evolvable method (max, mean, etc).

[2016-02-19 12:53] rhiever commented on #77
Interesting. Is that even with Pareto optimization (as implemented in the
latest version of TPOT)? We should video chat to discuss what's going on.

On Thu, Feb 18, 2016 at 11:31 PM, Nathan <notifications@github.com> wrote:

--
Randal S. Olson, Ph.D.
Postdoctoral Researcher, Institute for Biomedical Informatics
University of Pennsylvania

E-mail: rso@randalolson.com | Twitter: @randal_olson
<https

[2016-02-19 14:48] rhiever commented on #87
Thank you for writing this up, Ying. This is definitely an idea that we'll have to experiment with.

[2016-02-19 14:56] rhiever commented on #81
#83 merged.

[2016-02-19 14:56] #81 closed

[2016-02-19 17:29] tcfuji commented on #81
:thumbsup:

[2016-02-19 17:49] rhiever commented on #84
Since #85 should address this issue, I'm going to close this one. Please feel free to reopen this one if you need further assistance.

[2016-02-19 17:49] #84 closed

[2016-02-19 18:18] magsol commented on #84
SGTM. I've been running the same thing but on Python 3 and haven't run into
any problems yet (it's already run for twice as long). Will update on 85 if
I hit a roadblock. Thanks!
On Fri, Feb 19, 2016 at 12:49 Randy Olson <notifications@github.com> wrote:

--
iPhone'd

[2016-02-19 18:51] rhiever commented on #86
Fixed in https://github.com/rhiever/tpot/commit/7f8e401576868def1c86127b373f646b8401bfa0

[2016-02-19 18:51] #86 closed

[2016-02-20 19:46] #85 closed

[2016-02-23 19:57] PavelOstyakov opened #90 "OverflowError"
Очень часто при tpot.fit() падает с ошибкой Python int too large to convert to C long

[2016-02-24 00:02] rhiever commented on #90
See #84. Likely a similar issue.

[2016-02-25 18:24] #90 closed

[2016-02-25 18:34] rhiever opened #91 "[Major refactor] Incorporate OO redesign"
See #63 for an example of the new OO design on an old version of TPOT. This will require a large overhaul of TPOT.

[2016-02-25 19:39] rhiever opened #92 "Rework predict() and score() functions to no longer require training data"
`TPOT.predict()` currently requires 3 parameters to produce the predictions: the training and testing features, and the training labels. This breaks the common interface that TPOT shared with sklearn. Let's rework this interface to only require the testing features, and have TPOT store the training features and classes internally on a `fit()` call.

Do the same for `TPOT.score()`.

[2016-02-25 20:35] rhiever opened #93 "Revisit TPOT GP defaults"
The TPOT GP defaults (mutation rate, crossover rate, population size) were previously chosen based on benchmarks on an earlier version of TPOT that included only a few pipeline operators. TPOT has grown tremendously since then, and we should revisit the defaults to see if:

* Is a high-mutation-rate, low-crossover-rate scheme still better? Look at `5% XR / 90% MR`, `90% XR / 5% MR`, and `50% XR /

[2016-02-25 22:04] #92 closed

[2016-02-27 04:18] rhiever opened #95 "Look into joblib for parallelizing pipeline evaluations"
[joblib](https://pypi.python.org/pypi/joblib) should, in theory, make it possible to evaluate the entire TPOT GP population in parallel without making copies of the data set. We should look into using joblib to do this and verify whether this is true.

[2016-02-27 15:48] rhiever commented on #61
@pronojitsaha, I think I'm going to close this issue and scrap the feature. Now that I think about it, with all the conversations going on in this thread, I think that this convenience function would unnecessarily bloat the code while we try to accommodate so many different potential inputs. TPOT is meant to be a pipeline optimizer, not a data cleaner.

Instead, I think we should clearly state the

[2016-02-27 15:48] #61 closed

[2016-02-27 15:59] amueller commented on #61
Curious to see what will happen with the datacleaner :)
What are your plans?

[2016-02-27 16:10] rhiever commented on #61
As of now, I'm writing it to handle my daily cleaning needs. So:

* Encode categorical features/classes/strings as numerals

* Impute or drop NaNs (which one is determined by a setting; imputes w/ median by default)

From there, I'll likely raid the sklearn preprocessing module and a couple other packages I know of to find some other common uses.

Feedback is of course welcomed! Feel free to file

[2016-02-27 18:01] rhiever opened #97 "Add a version checker"
Currently, users have no idea when using TPOT whether they're running an old version. We should add a checker that runs every time TPOT is imported and informs the user if they're running an old version of TPOT.

The checker could be as simple as [querying this page](https://pypi.python.org/pypi/TPOT/) for the latest TPOT version on PyPi and printing a warning message if the installed version does

[2016-02-28 03:11] #97 closed

[2016-02-28 04:40] bartleyn commented on #95
Isn't DEAP supposed to provide some support for this? Or does it make copies of the data set?

[2016-02-28 15:18] rhiever commented on #95
Not sure. I never looked into it much, TBH.

[2016-02-28 15:50] bartleyn commented on #95
I dug around and found [this](http://deap.readthedocs.org/en/master/tutorials/basic/part4.html). It seems all we SHOULD need to do is replace the toolbox's map function with one that interfaces with some parallel lib. I've run it once with multiprocessing but get the following:

[2016-02-28 15:52] rhiever commented on #95
Try moving the `pareto_eq` function out of `fit()` and make it a TPOT class function. Will it work then?

[2016-02-28 17:44] pronojitsaha commented on #61
@rhiever Agreed, I like the thought process. Will look into datacleaner and discuss with you once I get some airtime! BTW did you have a look at https://github.com/wdm0006/categorical_encoding?

[2016-02-29 22:25] magsol commented on #95
Strange; I'm getting a slightly different error (might be because I'm running `tpot.py` directly, instead of importing it into an external script).

[code]

[2016-02-29 22:30] rhiever commented on #95
How are you running it? `python -m tpot.tpot` out of the main `tpot` repo directory?

[2016-02-29 22:34] magsol commented on #95
No; changed the one import to `from export_utils import *` so it wasn't a relative import anymore, and then running it directly as `python tpot.py`. Should I do it some other way?

[2016-03-01 01:02] magsol commented on #95
@bartleyn how are you structuring your code, i.e. the addition of the `Pool.map` function to the TPOT toolbox? In my case, it's complaining that the pool object I'm using is attempting to pickle itself.

[2016-03-01 01:19] bartleyn commented on #95
I ended up getting that error as well. I bet you that I have similarly structured code. I've tried a few different iterations on where I instantiate the pool object (inside the class, etc). I've also tried messing around with the TPOT object's dictionary to see if we can ignore pickling the pool object (using the __get/set_state__ functions), but I think I'm barking up the wrong tree, as the TPOT

[2016-03-01 02:44] rhiever commented on #95
@magsol: You won't need to change the export_utils import if you call TPOT as `python -m tpot.tpot` at the base directory of the repo, e.g.,

[code]

[2016-03-01 19:11] rhiever opened #99 "Use sklearn train_test_split in place of StratifiedShuffleSplit"
The latest version of sklearn's [train_test_split](http://scikit-learn.org/stable/modules/generated/sklearn.cross_validation.train_test_split.html) automatically stratifies the data by class(es) and shuffles the data prior to the split. Thus, we don't need to use the long-form version with [StratifiedShuffleSplit](http://scikit-learn.org/stable/modules/generated/sklearn.cross_validation.Stratified

[2016-03-01 19:50] magsol commented on #95
@rhiever This is just plain bizarre:

[code]

How is it not recognizing the `_version` module, and yet the version module is spitting out the fact that it's out of date?

[2016-03-01 20:42] rhiever commented on #95
Change the code in `tpot.py` back to saying

[code]

[2016-03-01 20:45] magsol commented on #95
That's what it currently is; if I remove the prepended `.` I get a different error:

[code]

[2016-03-01 20:52] rhiever commented on #95
Do you have the latest source? Looks like you have TPOT 0.2.7.

[2016-03-01 21:02] magsol commented on #95
Yep; upgraded. Am now getting the same sequence of errors as @bartleyn (with `pareto_eq` inside of `fit` and as a class function).

[2016-03-01 21:24] rhiever commented on #95
*phew* Progress! Likely need to move `pareto_eq` outside of the `fit()` function, then see what else @bartleyn did after that.

[2016-03-01 21:29] magsol commented on #95
First-pass PR incoming. Warning: it's nasty.

[2016-03-02 04:39] pronojitsaha commented on #99
Ok..will look into this.

[2016-03-02 04:40] pronojitsaha commented on #93
OK...will look into this.

[2016-03-02 06:54] jni opened #101 "TPOT one-line pipeline representation"
Just a quick (I hope) question. When I interrupt TPOT training, I get the following line output:

[code]

But when I export the pipeline, I just get a simple RF with 500 estimators. Is this expected? What's the format of these one-line summaries?

[2016-03-02 06:59] jni commented on #87
Would it make sense to train/evaluate each individual in the population with a different subset of a large dataset every time? I have a dataset of ~4M rows and TPOT appears to be kinda useless in this scenario... =)

Sorry if my question is naive; I don't have much experience with evolutionary algorithms.

[2016-03-02 10:56] rhiever commented on #87
4M rows is definitely too large for TPOT right now until we figure out a
method like the one discussed in this issue for training on subsets. It
would even take a long time to train one *model* on 4M rows, so you can
imagine that a tool that trains many pipelines would be very slow on 4M
rows.

One option for you is to try to reduce the number of rows by removing
duplicates and other data reductio

[2016-03-02 10:57] rhiever commented on #101
That's simply because the most trees allowed in a TPOT RF is 500. So when
the mathematical expression evaluates to >500, we clamp it to 500.

On Wednesday, March 2, 2016, Juan Nunez-Iglesias <notifications@github.com>
wrote:

--
Randal S. Olson, Ph.D.
Postdoctoral Researcher, Institute for Biomedical Informatics
University of Pennsylvania

E-mail: rso@randalolson.com | Twitter: @randal_olson
<http

[2016-03-02 23:18] jni commented on #101
Ah sure, so those expressions ((41 * (38 * 5), (3 - 94)?) evaluate to parameters to the sklearn RandomForestClassifier? Which parameters?

[2016-03-02 23:26] jni commented on #87
Which I do. ;) But I imagine that would require a lot of concerted software engineering effort to get working. Nevertheless, I'm wondering whether there is a better strategy for local TPOT than naive and dramatic subsampling, as I mentioned, such as varying the subsets used by individuals in the populations.

[2016-03-03 00:52] rhiever commented on #101
That's right. The first one is the # of trees, the second one is
max_features: https://github.com/rhiever/tpot/blob/master/tpot/tpot.py#L439

On Wed, Mar 2, 2016 at 6:18 PM, Juan Nunez-Iglesias <
notifications@github.com> wrote:

--
Randal S. Olson, Ph.D.
Postdoctoral Researcher, Institute for Biomedical Informatics
University of Pennsylvania

E-mail: rso@randalolson.com | Twitter: @randal_olson
<

[2016-03-03 01:21] rhiever commented on #101
How long did you run it for? Throwing a random forest at it usually comes out on top early on, depending on the data. Random forests became an industry standard for a long time for a reason. :-)

[2016-03-03 01:33] rhiever opened #102 "Add more feature preprocessing operators"
There are some feature preprocessors that could potentially work well in the TPOT environment:

* [x] [Binarizer](http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.Binarizer.html#sklearn.preprocessing.Binarizer)

* [ ] [OneHotEncoder](http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html#sklearn.preprocessing.OneHotEncoder)

* [x] [MaxAbsSca

[2016-03-03 02:03] rhiever commented on #95
Can't believe how easy that looks when it's all said and done, @magsol! Thank you for figuring that out. I added some comments on the PR directly.

[2016-03-03 02:49] jni commented on #101
@rhiever in this case, I think it was like 30 generations (and the best hadn't changed for a big chunk of those).

My hope using TPOT was that it would find something that could match RF's accuracy but have better test-time speed. This result was with a toy dataset though, I'll keep fiddling. =)

[2016-03-03 13:14] rhiever commented on #101
Gotcha. I'm currently doing a comprehensive analysis of TPOT on about 180 data sets. It'll be interesting to see what comes out of that.

[2016-03-06 12:22] rhiever commented on #99
Ping. How's this coming along? Should I mark it as "being worked on"?

[2016-03-06 12:23] rhiever commented on #93
Ping. How's this coming along? Should I mark it as "being worked on"? This job will require quite a lot of TPOT runs, so I may take this one on myself because I have access to a HPCC.

[2016-03-06 13:00] rhiever commented on #29
Now that we're looking at adding support for `sklearn.preprocessing.OneHotEncoder`, I'm looking more seriously at sparse matrix support for TPOT. I've changed this issue to high priority and will think about it more in the near future.

We may have to rework TPOT's internals entirely to work with numpy arrays/matrices in place of pandas DataFrames. I think I'm okay with that -- it would actually e

[2016-03-06 13:00] rhiever commented on #102
We won't be able to add support for `OneHotEncoder` until #29 is solved. I will add support for the rest.

[2016-03-06 13:20] rhiever opened #103 "Implement some code optimizations from abandoned PR"
Recently, #98 was raised to suggest several code optimizations. I made notes on the PR as to what code optimizations I would be happy to merge, but the author didn't follow through to finalize the PR.

Let's make a new PR and take only the code optimizations that I noted would be acceptable to merge into TPOT.

[2016-03-06 13:39] rhiever commented on #102
The three preprocessing operators are now implemented in this branch: https://github.com/rhiever/tpot/tree/more-feature-preprocessors

TODO:

- [ ] Write unit tests for them

- [ ] Add `export()` support for them

- [ ] Add them to the docs

[2016-03-06 13:50] pronojitsaha commented on #99
Yes, I did give it a try couple of days back, but getting some spurious results. Checking on it. yes you can mark it.

[2016-03-06 13:51] pronojitsaha commented on #93
I dint start on this one. Ok, please go ahead.

[2016-03-06 14:49] rhiever opened #104 "Is an arbitrary pipeline structure useful?"
One of the ideas behind TPOT is that it can create an arbitrary pipeline structure: A TPOT pipeline can have as many operators as it needs, and even perform separate analyses on copies of the data set thanks to the "Combine DFs" operator.

However, one big question remains: Is having an arbitrarily-large pipeline structure useful? Or is all we need a data preprocessor, then a feature preprocessor,

[2016-03-06 14:59] rhiever opened #105 "Is creating an ensemble out of the TPOT population useful?"
One of the common arguments against population-based optimization methods is that they are significantly slower than methods that work with one (or a few) solutions at a time. I think one smart way to turn that argument on its head would be to see if creating an ensemble out of the TPOT population would be useful.

An initial exploration could be to run TPOT as normal, and collect additional stati

[2016-03-07 21:52] #102 closed

[2016-03-07 23:06] bartleyn commented on #105
Should we choose a couple/few data sets to test on, to try and create a more robust analysis? Which ones might be most appropriate? MNIST, wine, breast cancer?

[2016-03-07 23:18] rhiever commented on #105
If you run [this script](https://github.com/rhiever/sklearn-benchmarks/blob/master/download_data.py), you'll have access to a whole bunch of 'em. Take your pick. :-)

I think just one data set is fine to start with though, as a proof of concept.

[2016-03-08 18:54] rhiever opened #108 "Replace balanced_accuracy with macro-averaged recall from sklearn"
From conversations with @amueller, we discovered that "balanced accuracy" (as we've called it) is also known as "macro-averaged recall" as implemented in sklearn. As such, we don't need our own custom implementation of `balanced_accuracy` in TPOT. Let's refactor TPOT to replace `balanced_accuracy` with [recall_score](http://scikit-learn.org/stable/modules/generated/sklearn.metrics.recall_score.htm

[2016-03-08 19:14] rhiever commented on #108
Possible not true after further validation. Closing this issue until we figure it out.

[2016-03-10 08:37] lizsz opened #109 "it is not possible to install tpot without xgboost?"
I have some issues installing xgboost. In the mean time I wanted to give a tpot a try, it seemed a very interesting concept. However, the installation of tpot failed while installing xgboost. I think it should be possible to run the tpot without some of the algorithms.

[2016-03-10 15:09] rhiever commented on #109
What is the error that you're having with xgboost? What OS are you running?

If you're familiar with Python, you can remove xgboost by:

* Removing it from [this list](https://github.com/rhiever/tpot/blob/master/setup.py#L36)

* Removing it from the following lines/functions:
    * https://github.com/rhiever/tpot/blob/master/tpot/tpot.py#L41
    * https://github.com/rhiever/tpot/blob/master/tpot/t

[2016-03-11 08:23] lizsz commented on #109
Windows 7, LoadLibrary call fails due to some unknown (to me) dependency.
here is [issue](https://github.com/dmlc/xgboost/issues/933) I submitted. Frankly, it is a weird issue and I believe it may be something wrong with my specific setup, although I can not quite figure out what exactly :(

[2016-03-11 16:00] rhiever commented on #109
I'm going to close this issue and move the convo to the xgboost issue. Hopefully this can be addressed, else we may have to consider rolling back to using the sklearn GradientBoostingClassifier.

[2016-03-11 16:00] #109 closed

[2016-03-11 16:01] rhiever commented on #109
Also: From reading your xgboost issue, it sounds like you could actually just disable xgboost by removing only these two lines in your TPOT install:

* https://github.com/rhiever/tpot/blob/master/tpot/tpot.py#L41

* https://github.com/rhiever/tpot/blob/master/tpot/tpot.py#L129

[2016-03-12 16:45] rhiever opened #111 "More possible feature preprocessors from scikit-feature"
scikit-feature provides a sklearn-like interface for even more feature preprocessing operators: https://github.com/jundongl/scikit-feature

Worth looking into. We should evaluate the feature selectors first before adding too many -- it's possible that some (or many) of them are simply not as useful as others, and we don't want to overwhelm TPOT with too many feature preprocessing operators to choo

[2016-03-12 16:46] rhiever commented on #105
Ping. Run into any issues with this?

[2016-03-12 18:03] pronojitsaha commented on #99
Have sent across the PR. Thanks.

[2016-03-13 20:47] #99 closed

[2016-03-14 18:08] bartleyn commented on #105
I've created my own version of the eaSimple algorithm where we can dig into the individual/ensemble statistics, but I've had difficulty in exposing and aggregating each individual pipeline's guesses. But in the last day or so I've broken through that, and have started getting numbers. I think I'm gonna spin up a cheap AWS instance and just run a ton of tests.

[2016-03-14 18:31] rhiever commented on #105
I don't think you'll need to roll your own version of eaSimple. Here's some code from another project I ran where you can store the population in the log and then do post-analysis on the population in the log.

[code]

Let me know if that works. Alternatively, you can modify the HOF to store the top 100 best pipelines discovered so far, and change

[code]

to

[code]

and that will only change the

[2016-03-14 18:36] bartleyn commented on #105
Interesting, I had convinced myself that the Statistics object wouldn't be able to give us access to the population directly. I'll test this out; it shouldn't change my analysis after the fact that much.

[2016-03-14 21:15] bartleyn commented on #105
Got it working with the statistics object, thanks for the tips. I'm gonna spin up these tests.

[2016-03-14 22:59] rhiever commented on #105
Great! :+1:

[2016-03-15 00:47] rhiever opened #113 "Refactor TPOT to work directly with numpy matrix instead of pandas DataFrames"
Since we don't maintain the column names any more, it seems that we could replace the pandas DataFrames in our pipeline structure with numpy matrices. We're always changing the data into numpy matrices anyway when passing them to the sklearn operations, so I'm not seeing the point of using pandas DataFrames any more.

This might make TPOT more memory efficient, as we won't introduce DataFrame over

[2016-03-15 03:30] rasbt commented on #113
Yes, I agree 100%

I'd suggest using 2 arrays ("matrices") instead of 1. The reason is that you may want to have separate Numpy `dtype`s: The feature array (e.g. X) as `float` array and the class label array (e.g., `y`) as integer array. Here, you can simply operate via a meta-array, an index array, that is created at the very beginning of the TPOT tree: something like `idx = np.asarray(range(data

[2016-03-17 05:47] anjith2006 opened #114 "Can u add an example where we can use the data in numpy for the generated "tpot_mnist_pipeline.py""
In the example MNIST, the generated python code is not directly usable for evaluation with the original
data.
Can you post an example were I can directly use the scikit type , or simply numpy arrays for data and labels.

[2016-03-17 12:37] rhiever commented on #114
Do you mean [this example](https://github.com/rhiever/tpot#example)? Here's an example of that code transforming the data from `load_digits()` into pandas DataFrame format.

[code]

[2016-03-17 12:53] pronojitsaha commented on #114
Hey @rhiever , we need to change the `StratifiedShuffleSplit` to `train_test_split` in the above tpot example as well.

[2016-03-17 12:57] rhiever commented on #114
Sure, submit the PR? :-)

On Thursday, March 17, 2016, PRONOjit Saha <notifications@github.com> wrote:

--
Randal S. Olson, Ph.D.
Postdoctoral Researcher, Institute for Biomedical Informatics
University of Pennsylvania

E-mail: rso@randalolson.com | Twitter: @randal_olson
<https://twitter.com/randal_olson>
http://www.randalolson.com

[2016-03-17 13:26] pronojitsaha commented on #114
OK...will look into it and send across the PR.

[2016-03-17 14:49] rhiever opened #115 "Allow users to specify run time instead of number of GP generations"
Currently, TPOT allows users to specify the number of GP generations to run optimization for. This makes sense for users who are experienced with GP, but not so much for the general user.

We should allow for an optional parameter to be passed to TPOT that specifies how much time (in minutes) TPOT has to optimize the pipeline, and TPOT will end prematurely when that time is reached. This parameter

[2016-03-19 14:43] #103 closed

[2016-03-19 17:51] #114 closed

[2016-03-20 03:06] bartleyn commented on #105
Some of the shorter tests are wrapping up and I think I have enough for some preliminary results -- I'll try to clean things up and link them here in the next couple of days.

[2016-03-20 03:42] rhiever commented on #105
Let me know if you want to schedule another video chat. I'm excited to hear how this turned out!

[2016-03-20 13:03] rhiever commented on #11
We should look at using [sklearn Pipeline objects](http://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html) to represent our pipelines. I believe that could go a long way toward solving this issue.

[2016-03-20 13:03] rhiever opened #117 "Replace combine_dfs operator functionality with sklearn's FeatureUnion"
Currently, combine_dfs uses custom code to combine the features from separate pipelines into a single feature set. We should instead use sklearn's [FeatureUnion](http://scikit-learn.org/dev/modules/pipeline.html#featureunion-composite-feature-spaces) function within combine_dfs, which I believe will do a better and more efficient job of combining the features.

Here's an example provided by @amuel

[2016-03-23 03:26] bartleyn commented on #105
Hey so I've cleaned up some of my data and made it available [here](https://drive.google.com/folderview?id=0B0837fFXf76rQUowY3AzQTNoREU&usp=sharing). I've been trying to come up with useful visualizations, and figured it'd be more productive to share it in the meantime.

[2016-03-23 11:10] rhiever commented on #105
What are each of the new columns? I'm looking at the data this morning.

[2016-03-23 16:10] bartleyn commented on #105
Alright, so I took the same ideas from the consensus operators that we tried and applied them here. Each individual / population is evaluated on the test dataset.

### Weights
acc_* – each individual's guess is weighted according to their individual accuracy.
uni_* – each individual's guess has the same weight.
### Selection
*_max_class –  the class that has the highest weight (or in the uni case,

[2016-03-24 03:46] bartleyn commented on #105
I'm getting a lot of variance in a few of the columns, so I may run some more trials.

[2016-03-24 19:50] rhiever commented on #105
What benchmarks are you running it on? It looks like the classification accuracy for many of the runs are fairly high, so there probably isn't much room for ensembles to improve. What about a harder data set, e.g., GAMETES-hard? Maybe we should just run a large benchmark on the HPCC?

[2016-03-24 19:52] rhiever opened #119 "Remove n_estimators as a parameter from the random forest operator and other ensemble methods"
There's really no point to optimizing the number of estimators in ensemble models: Basically, the more estimators they're provided, the better they perform. Let's remove `n_estimators` as an optimizable parameter for all ensemble models and instead default it to, say, 100 or 500 estimators.

[2016-03-24 22:54] bartleyn commented on #105
You're right that the data I was using was perhaps too easy– I was using testing code that tested with the sklearn digits dataset, rather than MNIST! This is embarrassing to say the least. On the bright side, at least these tests suggest that the operators are somewhat robust in the smaller-data, slightly-longer, slightly-bigger population 'regime'.

In the interest of time, how about I'll run the

[2016-03-24 23:59] rhiever commented on #105
Sounds good to me. Want to send in a PR on this branch?

I'm currently finishing up some other TPOT benchmarks -- shouldn't take
more than the weekend -- but I can slate this benchmark for the next batch.

On Thu, Mar 24, 2016 at 6:54 PM, Nathan <notifications@github.com> wrote:

--
Randal S. Olson, Ph.D.
Postdoctoral Researcher, Institute for Biomedical Informatics
University of Pennsylvania

E-m

[2016-03-25 10:49] rhiever opened #120 "Add fit_predict() convenience function"
To fully integrate with the sklearn interface, let's add a fit_predict() function that takes training data just as the fit() function does, and simply calls fit() and predict(), e.g.,

[code]

[2016-03-27 00:13] #120 closed

[2016-03-27 19:14] rhiever commented on #119
The RF operator has had its n_estimators parameter removed, and it now defaults to 500 for n_estimators. The remaining ensemble operators still need to be reworked.

[2016-03-27 20:45] minimumnz commented on #119
Increasing the estimators will increase performance, but I would think when you're trying a lot of different parameters it will increase the time for all those decision trees to run, and whether it wouldn't be better to increase n_estimators later. I guess if they don't perform well enough in the first instance they're not going to make it into the next generation. Really just curious on your thou

[2016-03-27 20:48] rhiever commented on #119
I suppose the default could be n_estimators=100 and it should still work fine. I just want to make sure that RFs and other ensemble methods don't get skipped over simply because they didn't have enough estimators.

[2016-04-02 19:09] bartleyn commented on #104
I agree that we could probably structure the pipelines at least a little bit to reduce the complexity, as I've definitely gotten runs where the best pipeline had feature selection/preprocessing steps happening after the modeling steps, which seems unnecessary.

[2016-04-07 23:49] rhiever opened #124 "Add RBFSampler to feature preprocessor operators"
Seems like it could be useful: http://scikit-learn.org/stable/modules/generated/sklearn.kernel_approximation.RBFSampler.html

[2016-04-11 19:30] KobaKhit commented on #11
Might be helpful [3.4. Model persistence](http://scikit-learn.org/stable/modules/model_persistence.html). Basically, an example of how to save a model in as a pickle. Below is code example from linked page

[code]

Maybe create a new self variable `self.saved_pipe =  pickle.dumps(clf)` and update it every generation.

[2016-04-11 20:38] rasbt commented on #11
@KobaKhit I think pickle is generally a good idea in terms of efficiency; however, and maybe I am too paranoid :P, I always worry about compatibility issues (e.g., the different pickle protocols and Py version incompatibilities). In any case, if pickle is only used internally during model training on the particular system TPOT is "trained", this wouldn't be a problem I guess.
However, instead of p

[2016-04-11 20:47] #119 closed

[2016-04-11 22:12] loretoparisi opened #125 "Examples: provide an example based a real dataset"
I'm trying to figure out a real-world example with `tpot` to learn how it works, step by step.

So, I will take [this](http://stackoverflow.com/questions/36535239/natural-language-processing-of-topics/36538038#36538038) dataset as example, that looks like

[code]

each item in this json is a topic like `socialnetwork`  that belongs to a category like `career-business`. More topics may belong to th

[2016-04-11 22:21] rhiever commented on #125
Currently, TPOT only supports supervised classification tasks. Is what you're describing a supervised classification task, i.e., do you have a set of features with labels that you're attempted to model?

[2016-04-11 22:37] loretoparisi commented on #125
Ok thanks. Let's suppose that I have manually tagged features (i.e. in this case topics), so labelled them in order to belong to a most generic topic (new one) so let's say we have a test set with a initial classification in N categories/topics.

[2016-04-11 22:39] rhiever commented on #125
What features would the algorithm have to classify the topic with?

[2016-04-11 22:51] loretoparisi commented on #125
So, since I have no description of a `topic` then the `label`, I thought to set as metrics word2vec features vector for each `label`, so I have the distances basically.

[2016-04-11 23:09] rhiever commented on #125
Gotcha. If you can feed TPOT features such as those distances (or even the vector values from word2vec) and provide it labels for those features, then it can try to optimize a pipeline that maximizes classification accuracy for that data set.

[2016-04-11 23:22] loretoparisi commented on #125
@rhiever ok, which is the input data format, let's say a typical row I would have from the `word2vec` vector for a label is the array of floating point numbers, do this work?

[2016-04-11 23:26] rhiever commented on #125
Check these example notebooks:

* https://github.com/rhiever/tpot/blob/master/tutorials/IRIS.ipynb

* https://github.com/rhiever/tpot/blob/master/tutorials/MNIST.ipynb

* https://github.com/rhiever/tpot/blob/master/tutorials/Titanic_Kaggle.ipynb

TPOT requires the "standard" supervised data set format. Check this tutorial to see what that entails: https://github.com/amueller/scipy_2015_sklearn_tut

[2016-04-18 12:35] #124 closed

[2016-04-18 13:36] #77 closed

[2016-04-18 14:26] rhiever opened #128 "Add more classifier operators"
There are many more classifiers that we can add from sklearn. I have listed them below. We may not want to add some of these classifiers, however, especially the ones that have many evolvable parameters that affect their performance.

Before you proceed to implement a classifier, let's discuss it in this issue.

# AdaBoostClassifier

http://scikit-learn.org/stable/modules/generated/sklearn.ensembl

[2016-04-18 14:27] #125 closed

[2016-04-18 14:27] #82 closed

[2016-04-18 14:28] #49 closed

[2016-04-18 14:41] rhiever opened #129 "Revisit evolvable parameters for existing classifier operators"
Here are some parameters that we should consider adding to the existing classifier operators.

SVC is currently removed from TPOT, and we may remove it entirely because it requires too much parameter tuning to perform well.

# DecisionTreeClassifier

http://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html

Existing evolvable parameters: max_features, max_depth

Ne

[2016-04-18 15:04] rhiever opened #130 "Add more preprocessing operators"
I have listed more preprocessing operators that we can add from sklearn.

# FastICA

http://scikit-learn.org/stable/modules/generated/sklearn.decomposition.FastICA.html

Evolvable parameters: n_components, tol

Fixed parameters: random_state = 42

# FeatureAgglomeration

http://scikit-learn.org/stable/modules/generated/sklearn.cluster.FeatureAgglomeration.html

Evolvable parameters: n_clusters, af

[2016-04-20 22:23] fivejjs commented on #11
We can extend this idea to a "pipeline" knowledge base, or knowledge graph. Then, given a pile of data, the system can figure out some "pipeline" .

[2016-04-20 22:26] fivejjs commented on #115
Looks like Monte Carlo Search Tree would be helpful. Give a time constraint, the system could get the best results within that time. AlphaGO is using this method.

[2016-04-25 19:43] KobaKhit opened #133 "Add features based on counts of zero's, na's, etc."
Randal once mentioned that the structure of a data set was captured by the number of missing values. Similarly, in [this kaggle](https://www.kaggle.com/c/santander-customer-satisfaction) competition count of zero's per row turned out to be an important feature. I think it is worth having a function that adds the count of zeros per row and the count of non-zero values per row in case these features

[2016-04-25 20:01] rhiever commented on #133
Sounds good to me! I have marked it as being worked on.

[2016-04-30 22:36] screwed99 opened #134 "Changes to contributor documentation"
As discussed in #123 it would be helpful to add more information on the steps of development to the contributor documentation.

## Context of the issue

On making my first PR to this project some of this information was unclear to me, so should encourage more new contributors to get involved.

[2016-05-01 02:29] #134 closed

[2016-05-02 18:50] amueller commented on #108
What's the definition of balanced accuracy? Is it 1 - balanced error rate? Then this should be true.

[2016-05-02 23:56] teaearlgraycold commented on #133
Currently working on this.

[2016-05-03 02:08] rhiever commented on #133
I think @KobaKhit is working on this issue. Can you please confirm @KobaKhit?

[2016-05-03 02:09] teaearlgraycold commented on #133
Oh, my bad. Well if not I've pretty much finished it

[2016-05-03 02:10] rhiever commented on #133
Well, send in the PR once it's finished and we'll compare with what @KobaKhit has. :-)

[2016-05-03 06:32] KobaKhit commented on #133
Sorry for late reply. Thats fine. Looking forward to your pr.

[2016-05-03 15:03] teaearlgraycold commented on #133
Threw it into my existing PR for new preprocessors

[2016-05-03 22:30] bartleyn commented on #104
Can we bypass having to roll custom mutation and crossover operators by changing how we pass the datasets around? I propose that we wrap the primary data structure (a pandas DataFrame / NumPy matrix) in different TPOT-specific subclasses and change the pipeline operators' typed contracts accordingly to restrict how operators get assembled. For example, the code where we add operators might look li

[2016-05-06 23:34] rhiever commented on #104
That's brilliant! Yes, I think that would work just fine for these purposes. The only tricky part could be allowing TPOT to perform no preprocessing, but I suppose we could create a "no preprocessing" operator for each step.

[2016-05-09 15:43] salamanders opened #136 "Assume no knowledge of parameters"
After reading the (very good) [intro documentation](http://rhiever.github.io/tpot/using/), it isn't clear to the first-time user which parameters I need to read up on and make an educated guess, and which I can leave with the default.

For example: -mr

* Should I set it?
* Is the default set to a good value?
* If the default works most of the time, when should I set it?

I'd love it if the "inter

[2016-05-09 18:59] brylie opened #137 "TPOT module for Orange Data Mining?"
The [Orange Data Mining](http://orange.biolab.si) project makes machine learning accessible to people without extensive programming skills. It would be really cool to see a TPOT module somehow integrated into Orange, so that people could use TPOT through an elegant UI. What are your thoughts regarding the possibility to create a TPOT UI, such as in Orange Data Mining?

[2016-05-09 19:01] teaearlgraycold commented on #137
There is #51 already in consideration. Not *exactly* what you're requesting, though.

[2016-05-09 21:10] rhiever commented on #136
Good idea. Most of the defaults are ideal according to a benchmark we did a while back, and we regularly re-benchmark TPOT to re-evaluate these defaults. The main parameter that you might change is `generations`, depending on whether you need to give TPOT more or less time to optimize the pipeline.

Perhaps an extra section -- something like a "Field Guide for TPOT" -- would be useful. Either way,

[2016-05-09 21:12] rhiever commented on #137
A GUI is in the long-term plans. In the meantime, #51 (as @teaearlgraycold mentioned) is very similar to what you seek.

[2016-05-09 22:30] salamanders opened #139 "Compare general outputs with the scikit-learn machine_learning_map?"
How does the output of this compare to http://scikit-learn.org/stable/tutorial/machine_learning_map/ ... which I took as general best practice, but I have no idea how current it is with state of the art.

I don't mean in terms of quality, I meant in terms of the general advice that the map gives, and how often TPOT happens to converge on the same one that the map would have suggested.  Which could

[2016-05-09 22:33] salamanders commented on #136
My vote is put exactly what you said here into the help output, and avoid a Field Guide until absolutely necessary.  I really like the idea of "I can run this out of the box, and it will start with sane defaults, and I know this because it tells me so, and I don't feel like I need to go read up on stuff first"

[2016-05-10 00:04] rhiever commented on #139
👍

This could make a neat study.

[2016-05-10 07:41] brylie commented on #137
@teaearlgraycold thanks! Very similar indeed.

[2016-05-10 07:41] brylie commented on #51
@rhiever really cool idea. See also #137, as the ideas are pretty closely related.

[2016-05-10 16:44] stared opened #140 "Add progress bar"
Since it takes quite a lot of time to get the results: is there any way to use it with a progress bar, e.g. [tqdm](https://github.com/tqdm/tqdm) (For example, per generation; `.next()` method would suffice)?

Or even better, a built-in progress bar as in [PyMC3](https://pymc-devs.github.io/pymc3/) (for an example: https://github.com/markdregan/Bayesian-Modelling-in-Python/blob/master/Section%203.%

[2016-05-10 16:47] rhiever commented on #140
Interesting idea. We currently print the progress every generation of the algorithm, but perhaps we could also print the progress toward evaluating each generation's population along the way too. I certainly appreciate having a tqdm-like progress bar for long-running for loops.

[2016-05-10 16:48] #111 closed

[2016-05-10 16:48] #93 closed

[2016-05-10 16:51] stared commented on #140
Now I see that it prints progress per step (with `verbosity=2` or all options?).
Yet, since my computer is relatively old, I though it doesn't (only after a few minutes on the `hill_valley_noisy_data` example I got he first step; I didn't know if it was running at all).

Or is the initialization particularly  costly? (The next steps were much shorter)

[2016-05-10 17:54] rhiever commented on #140
It only prints the progress per generation with `verbosity=2`. I was aiming for a "quiet" classifier by default.

The initialization shouldn't be much more expensive than every other generation. Perhaps what happened was your initial population had a complex pipeline in it that takes a long time to evaluate, and the selection procedure for the next TPOT generation (that aims to maximize accuracy b

[2016-05-10 18:00] teaearlgraycold commented on #140
I'm a big fan of this idea (and tqdm in general).

[2016-05-10 18:15] rhiever commented on #140
We'll have to figure out how to get tqdm wrapped into the evolutionary algorithm. As we discussed yesterday, @teaearlgraycold, the GP algorithm is all in the `eaSimple` call. Here's the eaSimple code: https://github.com/DEAP/deap/blob/master/deap/algorithms.py#L162

[2016-05-10 18:28] teaearlgraycold commented on #140
Unless we're going to monkey-patch over DEAP I think we should consider the number of steps in the process of fitting a classifier pipeline to be equal to the population count multiplied by the generation count.

Then we can use the manual approach to tqdm's stepping like so:

[code]

That's assuming that the GP is scoring pipelines by using that method during the different generations.

[2016-05-10 19:50] pierluigi-failla opened #141 "IndexError: The gp.generate function tried to add a primitive of type '<type 'object'>', but there is none available."
Trying to run the tutorial `IRIS.ipynb` I got an IndexError

## Context of the issue

I tried to run the notebook, running the 4th cell I got the error.

## Process to reproduce the issue

Open `IRIS.ipynb` in Jupyter and run all

## Expected result

The same output as in the `Tutorial` folder.

## Current result

`IndexError: The gp.generate function tried to add a primitive of type '<type 'objec

[2016-05-10 19:57] rhiever commented on #140
I like that idea. The only catch is that DEAP caches results for duplicate pipelines in the current generation, so it's likely that the actual executed number of `_evaluate_individual()` calls will be less than `pop size` x `generations`.

BTW: Probably better to just assign `self.pbar` in ``__init__``.

... and of course all of this will only occur when `verbosity >= 2`.

[2016-05-10 20:06] teaearlgraycold commented on #140
We could add a null pointer in the `__init__()` method but it's made to work with the `with` block so that it can add pre and post-processing (initializing the bar, hiding it after the block of code finishes), so it shouldn't be initialized in `__init__()`.

Is there some piece of code that DEAP touches once a generation finishes? I could have it bump the progress bar up to the correct level for t

[2016-05-10 20:12] rhiever commented on #140
That's unfortunate wrt the `with` statement. That's an entire indentation on code that's already fairly indented.

It would be super hacky and probably not good practice, but you could probably inject something here: https://github.com/rhiever/tpot/blob/master/tpot/tpot.py#L259

That line is used to calculate the statistics (min, mean, max) at the end of every generation. Maybe worth digging aroun

[2016-05-10 20:23] teaearlgraycold commented on #140
Looks like it might be a bit better to do it in the selection method, `_combined_selection_operator`. That occurs at the start of every generation.

[2016-05-10 20:58] VedAustin opened #142 "cross_val_score does not work"
## Attempting to run cross_val_score

TypeError: Cannot clone object '<tpot.tpot.TPOT object at 0x0000000006A8C390>' (type <class 'tpot.tpot.TPOT'>): it does not seem to be a scikit-learn estimator as it does not implement a 'get_params' methods.

## Process to reproduce the issue
`X_train, X_test, y_train, y_test = train_test_split(X_data, y_data,train_size=0.95, test_size=0.05)`
`tpot = TPOT(gen

[2016-05-10 21:04] rhiever commented on #142
Confirmed. We need to implement `get_params` as the other sklearn models do.

[2016-05-11 00:56] Jeeva-G opened #143 "ImportError: cannot import name RobustScaler"
[provide general introduction to the issue and why it is relevant to this repository]

## Trying to create the TPOT instance

I am just trying to create the TPOT instance, I have installed all the required packages. But i am getting this "cannot import name RobustScaler" error.

## Process to reproduce the issue

from tpot import TPOT
pipeline_optimizer = TPOT(generations=100, random_state=42, ver

[2016-05-11 01:02] teaearlgraycold commented on #143
What version of scikit-learn do you have installed?

[2016-05-11 01:03] Jeeva-G commented on #143
I had scikit-learn-0.16.1, I uninstalled and reinstalled scikit-learn-0.17.1 now, still the issue persists.

[2016-05-11 01:07] teaearlgraycold commented on #143
That class was new in 0.17 so I'm not surprised it didn't work with 0.16. Are you sure that 0.17 is being used by TPOT? If you're using Anaconda it's possible that you modified your system installation of Python and not your local installation.

This should output your current version:

`$ python`

[code]

[2016-05-11 01:12] Jeeva-G commented on #143
Yes. you are genius. Running that script in my IPython notebook gives me 0.16.1 . How does that work? How do I change my IPython to use this version?

[2016-05-11 01:18] teaearlgraycold commented on #143
They include a version string in the scikit-learn module:

https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/__init__.py#L40

You're just outputting the string to the console by typing `sklearn.__version__`.

---

When you run `$ sudo pip install <package>` you're installing packages to your system, not to your local installation.

Make sure you followed the installation instruction

[2016-05-11 01:20] Jeeva-G commented on #143
All good. I did manage to use the right version by uninstalling and reinstalling scikit-learn. Sudo was not an issue here. It works now. Thanks for pointing me to the right version.

[2016-05-11 01:20] #143 closed

[2016-05-12 19:03] dipanjanS commented on #113
Really looking forward to this!

[2016-05-12 20:12] rhiever commented on #141
I can't reproduce this error in Python 2.7 nor Python 3.5 with the TPOT v0.3.0. What version are you running?

[2016-05-12 21:23] pierluigi-failla commented on #141
No I'm not running in Anconda, here is my setting:
- deap==1.0.1
- numpy==1.8.1
- scikit-learn==0.17.1
- scipy==0.14.0
- TPOT==0.3.0
- xgboost==0.4a30

and Python 2.7.11. Do I miss something?

[2016-05-13 16:39] rhiever commented on #141
Here are the package versions that we're running for Python 2:

Python 2.7.11
numpy 1.11.0
scipy 0.17.0
sklearn 0.17.1
pandas 0.18.1
deap 1.0
xgboost 0.4
update_checker 0.11

Do you get this error every time you run the code in the notebook?

[2016-05-13 20:20] pierluigi-failla commented on #141
Yes, all of the three notebooks are affected by the same issue. I'm trying to compare with your deps:

Python 2.7.11 2.7.11
numpy 1.11.0 1.8.1
scipy 0.17.0 0.14.0
sklearn 0.17.1 0.17.1
pandas 0.18.1 0.17.1
deap 1.0 1.0.1
xgboost 0.4 0.4a30
update_checker 0.11 I do not have this

So it seems that we have few mismatched versions. I will try to update my reqs if possibile. In the meanwhile it seems t

[2016-05-13 20:31] pierluigi-failla commented on #141
Also updating deps the issues is still there. I replicated your reqs except for `update_checker ` that I do not think is really relevant.

[2016-05-14 04:58] rhiever commented on #141
The only major difference between our setups - as far as I can tell - is
that we use Anaconda and your install doesn't. Can you replicate this error
on your machine with an Anaconda install?

On Friday, May 13, 2016, Pierluigi Failla <notifications@github.com> wrote:

--
Randal S. Olson, Ph.D.
Postdoctoral Researcher, Institute for Biomedical Informatics
University of Pennsylvania

E-mail: rso@ran

[2016-05-14 13:09] pierluigi-failla commented on #141
I can try to do that, but I really like to use it in my own environment. Do you plan to release TPOT only for Anaconda env?

[2016-05-15 23:49] rhiever commented on #141
Technically TPOT should work fine with any Python install, but the main
reason that I limit my technical support to Anaconda is because there's a
million ways that Python installs can go wrong. Anaconda makes those
installs easy, clean, and most importantly consistent.

The reason I brought up Anaconda in this case is to see whether you can
reproduce the issue in your system with an Anaconda insta

[2016-05-16 03:22] orefeng opened #146 "Add option to limit the Classifiers/Regressors that TPOT uses"
TPOT is amazing! It is very powerful to provide a pipeline. But i wonder if i could limit tpot to one classifier, and only search for the best features and parameters? Because it is very time-consuming to traverse all the classifiers available.

[2016-05-16 13:59] #137 closed

[2016-05-16 14:15] rhiever commented on #146
I like this idea. It should be possible to limit what kind of classifiers TPOT uses.

The main question is how we can implement this into the current TPOT interface. My first thought is to add a new boolean parameter to `__init__()` for each classifier -- each `True` by default -- that will allow the user to toggle the various classifiers on or off. This setup will work well with the command-line

[2016-05-16 15:04] rhiever commented on #41
@teaearlgraycold, here's the list of unit tests that @GJena and I brainstormed back when she was working on this issue. Some of them are already implemented.

Unit tests

Run nose tests https://nose.readthedocs.org/en/latest/ Nose/Nose2?

If no features, return copy of data frame..for every feat operator
Df has 3: class, guess, group

File: tpot.py
Function: `__init__`

Assertion tests present; ad

[2016-05-16 15:29] pierluigi-failla commented on #141
The issue seems to be related with `deap` I found the following refs:

- http://deap.readthedocs.io/en/master/tutorials/advanced/gp.html#strongly-typed-gp
- https://github.com/DEAP/deap/issues/61
- https://github.com/DEAP/deap/pull/53

[2016-05-16 15:46] rhiever commented on #141
Perplexing. Do you use a specific random number seed to replicate the issue, or it literally happens every time?

[2016-05-16 15:47] pierluigi-failla commented on #141
All the time

[2016-05-16 18:18] rhiever commented on #142
@teaearlgraycold is working on a `get_params` function for TPOT.

[2016-05-16 19:26] VedAustin commented on #142
Awesome. Thank you!

[2016-05-16 19:28] VedAustin commented on #142
Accidentely closed this issue.

[2016-05-16 21:46] rhiever commented on #141
I'm curious: Is your TPOT install from a clone of the current master branch?

[2016-05-16 22:11] pierluigi-failla commented on #141
I actually: `pip install TPOT==0.3.0` ...

[2016-05-16 22:16] rhiever commented on #141
Ok. An Anaconda install is probably the most promising next step then.

On Monday, May 16, 2016, Pierluigi Failla <notifications@github.com> wrote:

--
Randal S. Olson, Ph.D.
Postdoctoral Researcher, Institute for Biomedical Informatics
University of Pennsylvania

E-mail: rso@randalolson.com | Twitter: @randal_olson
<https://twitter.com/randal_olson>
http://www.randalolson.com

[2016-05-17 14:27] rhiever commented on #141
Wanted to ping you to see if you tried an Anaconda install and could still reproduce the bug there. Very curious to see what's causing this error. I've run several thousand instances of TPOT on over 200 different data sets and never experienced this error.

[2016-05-17 14:55] orefeng commented on #146
I think maybe we can just add one parameter to __init__(). This parameter takes "None" as default value, and in this case various classifiers will be used. But when users want to limit what kind of classifiers TPOT uses, they should specify a classifier and assign the name or object of the classifier to the parameter.

[2016-05-17 14:57] teaearlgraycold opened #148 "FastICA throws warning with certain tolerance parameters"
## Context of the issue

Sometimes calls to FastICA with evolve-able parameters yield the following warning:

`UserWarning: FastICA did not converge. Consider increasing tolerance or the maximum number of iterations.`

## Process to reproduce the issue

The following code yielded the warning:

[code]

## Possible fix

Setting a minimum value for `tol` in FastICA, or requiring more iterations.

[2016-05-17 14:58] rhiever commented on #146
This was the other option I've been considering, but that seems hard to use, right? The user will have to specify certain values in the list (or dict), look up what those values should be, etc.

[2016-05-17 15:00] rhiever commented on #148
We should explore a wide range of `tol` parameters for FastICA on e.g. the MNIST data set, and see where it throws this warning. It'd be a good idea to do the same sweep across a few different data sets and see if the findings hold true.

Have you seen this warning with any other operators?

[2016-05-17 15:13] pierluigi-failla commented on #141
I tried with Anaconda on Win 10:
`conda install numpy scipy pandas scikit-learn`
`conda run -- pip install deap`
`conda run -- pip install xgboost`
but the last one failed. I lately noticed that `xgboost` claims "pip installation may not work on some windows environment" and in fact I did not manage to install it. I guess I will try `tpot` again in the future, it seems really promising.

[2016-05-17 19:46] rhiever commented on #141
That's a shame about xgboost on Windows. Have seen several people have that issue. I might consider dropping xgboost from TPOT because of that.

[2016-05-17 19:46] #141 closed

[2016-05-17 20:04] #136 closed

[2016-05-17 20:04] rhiever commented on #136
All done. This update be in the next release.

[2016-05-17 23:52] teaearlgraycold commented on #148
So it looks like by default `tol` has a value of `1e-04` in sklearn

https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/decomposition/fastica_.py#L113

But quite frequently I'm finding that the limit that is compared against `tol` is something like ~ `0.3` (it needs to be smaller). I've seen it as high as `1.5`, though.

What's really weird though is that this issue seems to be reall

[2016-05-17 23:59] teaearlgraycold commented on #148
@amueller, you have any insight?

[2016-05-18 09:08] JWWright86 commented on #141
Xgboost has been disabled from pip by the authors.

To install on a Windows 32-bit environment you need to build from source. These are the steps I took (note that I do not use Anaconda as my Python installation either.)

- Download and install MinGW-64: http://sourceforge.net/projects/mingw-w64/
- On the first screen of the install prompt make sure you set the Architecture to i386 and the Threads

[2016-05-18 15:09] amueller commented on #148
Sorry, what's the question? What the range for the tolerance should be?

[2016-05-18 15:09] amueller commented on #148
(also GP here means genetic program, right? that's an evil way to abbreviate it ;)

[2016-05-18 15:17] rhiever commented on #148
Right. How do we gauge the valid range for tol?

And yes, GP = Genetic Programming. It's meant that for decades. ;-)

On Wednesday, May 18, 2016, Andreas Mueller <notifications@github.com>
wrote:

--
Randal S. Olson, Ph.D.
Postdoctoral Researcher, Institute for Biomedical Informatics
University of Pennsylvania

E-mail: rso@randalolson.com | Twitter: @randal_olson
<https://twitter.com/randal_olson>

[2016-05-18 15:19] amueller commented on #148
Well depends on your community. Well tol and max_iter interact. And the algorithm not converging doesn't mean the value is not valid. Searching over it seems weird in the first place, though... Why do you do that?

[2016-05-18 15:23] rhiever commented on #148
Should we just leave it at the default? What if it affects performance?

On Wednesday, May 18, 2016, Andreas Mueller <notifications@github.com>
wrote:

--
Randal S. Olson, Ph.D.
Postdoctoral Researcher, Institute for Biomedical Informatics
University of Pennsylvania

E-mail: rso@randalolson.com | Twitter: @randal_olson
<https://twitter.com/randal_olson>
http://www.randalolson.com

[2016-05-18 15:26] amueller commented on #148
it's a speed optimization though. Does tpot have a concept of accuracy time trade-off?
Higher tol will always be better, but take longer, and have diminishing returns...

[2016-05-18 15:44] teaearlgraycold commented on #148
If FastICA does not converge, does that mean that its results are not useful?

I'm wondering if it'd be harmless to ignore those warnings. If it just results in mediocre results then I'd like to just have the GP weed out those not-so-great configurations.

[2016-05-18 15:54] rhiever commented on #148
Should we just use the default then? Has that default been tuned?

On Wednesday, May 18, 2016, Andreas Mueller <notifications@github.com>
wrote:

--
Randal S. Olson, Ph.D.
Postdoctoral Researcher, Institute for Biomedical Informatics
University of Pennsylvania

E-mail: rso@randalolson.com | Twitter: @randal_olson
<https://twitter.com/randal_olson>
http://www.randalolson.com

[2016-05-18 15:57] teaearlgraycold commented on #148
The defaults have been giving me the same warning, though. It's particularly odd.

[2016-05-18 16:01] amueller commented on #148
The default probably hasn't been tuned. But if you don't consider time-accuracy trade-offs, tuning seems odd.

[2016-05-18 16:26] bartleyn commented on #148
So I'm not too familiar with the model, but the convergence criteria is essentially that the change in each estimated component falls under the tolerance, right? If that's the case, then to double down on what's been previously said, we _could_ have useful (or at least mediocre) results without convergence if a subset of the components were just being stubborn. I agree with @teaearlgraycold in ign

[2016-05-18 16:27] amueller commented on #148
if you want to tune it, I'd also just ignore the warning.

[2016-05-18 20:43] nbernini opened #150 "libxgboostwrapper.so: invalid elf header"
[provide general introduction to the issue and why it is relevant to this repository]

## Context of the issue

[provide more detailed introduction to the issue itself and why it is relevant]

[the remaining entries are only necessary if you are reporting a bug]

## Process to reproduce the issue

[ordered list the process to finding and recreating the issue, example below]

1. User creates TPOT i

[2016-05-18 20:46] nbernini commented on #150
using python3.5 on Ubuntu.
getting the following error during import

# Code
from tpot import TPOT

# Error
/home/ubuntu/anaconda2/lib/python2.7/site-packages/xgboost-0.4a30-py2.7.egg/xgboost/./wrapper/libxgboostwrapper.so: invalid elf header

[2016-05-19 01:51] rhiever commented on #150
Looks like an XGBoost install issue. Check out this page and see if it can address your issue: https://github.com/dmlc/xgboost/blob/master/python-package/build_trouble_shooting.md

[2016-05-19 10:48] rhiever commented on #148
Thanks all for your input! We'll still allow TPOT to optimize the parameter for now, and ignore the warnings (per #149).

[2016-05-19 10:48] #148 closed

[2016-05-19 10:50] #130 closed

[2016-05-19 10:51] #133 closed

[2016-05-19 18:32] rhiever opened #151 "Replace XGBoost with GradientBoostingClassifier"
Finally finished the sklearn benchmarks, and one of the results is that XGBoost doesn't really seem to perform significantly better than sklearn's GradientBoostingClassifier on the benchmarks we're using.

Considering that XGBoost has caused many people to have TPOT install issues, let's replace XGBoost with sklearn's GradientBoostingClassifier and drop XGBoost as a dependency until they get their

[2016-05-19 18:32] rhiever commented on #151
@teaearlgraycold, you down for this issue?

[2016-05-19 19:26] KhaoticMind commented on #146
I like the one parameter idea. On the Python interface the parameter could be a list of classifiers instances (or classes). So you/we could just iterate over the list and call each classifier in order. If None, create a list with all classifiers on it.

[2016-05-19 19:53] teaearlgraycold commented on #151
Sure

[2016-05-19 20:17] rhiever commented on #151
Thanks. Maybe we can piggyback it in #147.

[2016-05-20 09:07] jln-ho opened #152 "Exporting pipelines to PMML/PFA"
I'm currently doing research in the area of model/pipeline persistence and came across [PMML](http://dmg.org/pmml/v4-2-1/GeneralStructure.html). It's basically an XML schema that lets you define all sorts of data mining/machine learning processes for both persistence and interoperability. It was specifically designed to decouple the tools that are used to _generate_ pipelines from the tools that a

[2016-05-20 13:34] rhiever opened #153 "Warning: "n_components is too large""
I was running TPOT earlier and kept getting the following warning:

[code]

@teaearlgraycold, can you please dig into the preprocessors to see which one is throwing this warning? We may need to put a cap on `n_components`.

[2016-05-20 17:26] KhaoticMind commented on #151
Can't we keep xgboost in the pipeline, but not explicity it as a dependency?

So at runtime, it is used if it's present, otherwise we fall back to sklearn implementation.
In my experience xgboost uses A LOT less memmory than GradientBoostingClassifier. I might try to come up with some benchmarks from kaggle competitions to prove the point of keeping XGBoost in.

[2016-05-20 18:10] rhiever commented on #151
Happy to see said benchmarks, @KhaoticMind.

It's possible that we could rework TPOT to make it an optional dependency and do as you said.

[2016-05-21 02:41] rhiever commented on #152
Interesting idea. How popular is this format? XML seems a bit outdated. (I thought JSON replaced XML everywhere.)

[2016-05-21 18:58] jln-ho commented on #152
The format was first specified in 1998, hence the use of XML. [PFA](http://dmg.org/pfa/docs/motivation/), PMML's successor, will be based on JSON and will provide quite a lot more flexibility. It's almost a high-level programming language actually. However, it is still in the making (IIRC the first draft of the specification was published towards the end of last year) and therefore not really bein

[2016-05-21 19:02] teaearlgraycold commented on #153
That error seems to be coming from FastICA.

Here's the sklearn code:

https://github.com/scikit-learn/scikit-learn/blob/06bf797c0deabe2a2f166d19abbd0c305da4d123/sklearn/decomposition/fastica_.py#L296

As it is right now that error will probably only show up if you have a ton of features and not very many actual data rows. I can just duplicate the following code from sklearn to avoid that print st

[2016-05-21 19:35] teaearlgraycold commented on #153
Actually I'm pretty sure that print statement should be a `UserWarning`, which we should be ignoring for FastICA.

Looking through the sklearn code for FastICA, I'm convinced this print statement is debug code mistakenly left in the module. The biggest hint is that `from __future__ import print_function` is no where in fastica_.py.

https://github.com/scikit-learn/scikit-learn/pull/6807

[2016-05-22 00:54] rhiever commented on #152
That makes sense about XML then. :-)

This is something that we'll have to explore more before committing to. I'm primarily interested in finding out:

1) Can it support the arbitrary pipeline structures that TPOT may create?

2) Does it support all operators in sklearn?

3) Is there any nice visualization software that can read and visualize ML pipelines in PMML? (Related to #51)

[2016-05-22 01:47] orefeng commented on #146
It is really a dilemma between ease of use and extendibility.

[2016-05-23 12:42] KhaoticMind commented on #151
Hi @rhiever , while I couldn't do a Memory wise benchmark, I did do have some CPU based results where you can easily see XGB performs A LOT better than GradientBoostingClassifier (about 4x times better with the same conditions).
https://www.kaggle.com/khaoticmind/expedia-hotel-recommendations/analysis-of-time/run/245245/log

Check the code here:
https://www.kaggle.com/khaoticmind/expedia-hotel-rec

[2016-05-23 18:36] rhiever opened #154 "Make XGBoost an optional dependency"
Due to several users having install issues with XGBoost, we have decided to make XGBoost an optional dependency. Currently, XGBoost is not supported by TPOT. If you would like to implement XGBoost as an optional model in TPOT, please make suggestions here.

[2016-05-23 18:38] rhiever commented on #151
That's interesting that XGBoost is so much faster. Do you know if it performs better, though? On the 155 data set benchmark that I have, it XGBoost didn't really perform better accuracy-wise.

We're going to replace XGBoost with the sklearn GradientBoostingClassifier for now, and raise a separate issue (#154) to make XGBoost an optional dependency in the future. @KhaoticMind, I welcome you to cont

[2016-05-24 11:53] jln-ho commented on #152
I guess 1) and 2) can be answered with a straight no for PMML, although I think it would still be beneficial to support it with only a subset of TPOT pipelines being actually exportable.
PFA should meet the requirements, though, at least on paper. I can't say how easy or hard it will be to come up with a generic way of exporting an intricate TPOT pipeline to PFA without manual work. As of now the

[2016-05-24 11:59] rhiever commented on #152
Agreed. In the meantime, we're still interested in #51 and being able to export TPOT pipelines to Orange. Seems like that would be quite useful.

[2016-05-24 12:19] vruusmann commented on #152
As a contributor to JPMML-family of projects, here's my perspective.

Fundamentally, PMML is about capturing the **_final state_** of a model development workflow (not the workflow itself). In other words, the final state is the winning solution, which is appropriate for scoring data in production environment (where the goal is not to replay model development procedure, but to apply the model to n

[2016-05-24 12:34] rhiever commented on #152
Thank you @vruusmann! Here are some resources that will help you get started with TPOT:

* [Installation instructions](http://rhiever.github.io/tpot/installing/)

* [Usage instructions](http://rhiever.github.io/tpot/using/)

* [Example with iris](http://rhiever.github.io/tpot/examples/IRIS_Example/)

* [Example with MNIST](http://rhiever.github.io/tpot/examples/MNIST_Example/)

[2016-05-24 13:37] jln-ho commented on #152
@vruusmann that would be great! Thanks in advance for the effort.

[2016-05-24 18:56] vruusmann commented on #152
You could check out [WhizzML] (https://bigml.com/whizzml), which is oriented towards representing ML workflows. Of course, WhizzML is a very new thing, and by supporting it you would become interoperable only with BigML's platform.

But it should be interesting reference material nonetheless.

[2016-05-25 20:16] #151 closed

[2016-05-25 20:17] #128 closed

[2016-05-27 11:16] KhaoticMind commented on #154
I'll try to implement it and send a PR when I get it done.

This will be my first contribution to TPOT (and one of the few in general) so be patient ;)

[2016-05-27 13:30] rhiever commented on #154
Sounds good! Thanks @KhaoticMind. :-)

[2016-05-29 20:55] mglowacki100 opened #156 "Rework custom scoring functionality"
Now, as far I understood there is only "balanced class accuracy" as default;  precision, recall and f1 are hard-coded in: http://rhiever.github.io/tpot/examples/Custom_Scoring_Functions/
Do you consider to add other metrics either as hard-coded custom scoring function or wrappers on:
http://scikit-learn.org/stable/modules/classes.html#module-sklearn.metrics ? I'm especially interested in log_loss

[2016-05-31 05:22] tonyfast commented on #104
I imagine that very complex graphs could exist where preprocessors could switch roles.  Are pipelines understood well enough to create a rigid ontology?

The DataFrame class is very robust and it may be dangerous to choose something else instead.  It is good to know DataFrame in and DataFrame out; custom classes could get confusing.

#### A base class

A TPOT model base class will have to 1. Set i

[2016-05-31 14:15] rhiever commented on #156
As of now, you would have to write a wrapper function as shown in the docs page you listed. Now that I look at that, though, that doesn't seem very ideal. I'm going to turn this issue into an enhancement request to improve the custom scoring functionality. It should be possible to pass an arbitrary scoring function from sklearn and allow TPOT to use that, without writing a custom wrapper function.

[2016-05-31 14:21] bartleyn commented on #156
I can whip something up for this. I think there was an initial concern about how to optimize the scoring functions for DataFrames, but it should be pretty straightforward to just ship off all those concerns to the underlying sklearn functions.

[2016-05-31 14:24] tonyfast commented on #113
Perhaps it might be best to use `pandas` under the hood?  It is a supercharged `numpy` object.  Much of `tpot` relies on `pandas` machinery and it might make extra work to manage state with it.

[2016-05-31 14:33] #150 closed

[2016-05-31 14:33] rhiever commented on #150
We've removed XGBoost from the upcoming release of TPOT.

[2016-05-31 14:41] bartleyn commented on #104
Can you explain a little more about what you mean by preprocessors switching roles?

I think it's less that pipelines are understood well enough, and more that we're trying to align ontologies for structured pipelines with related work in autoML (e.g., the auto-sklearn project and paper found [here](http://papers.nips.cc/paper/5872-efficient-and-robust-automated-machine-learning.pdf)). So it seems

[2016-05-31 15:04] tonyfast commented on #104
I am not too sure what I meant in the beginning.  Maybe I should have said "We don't know how complicated these models will be in the future.  Choosing types to build pipelines now may pigeonhole building complicated pipelines in the future.

Thanks for that reference @bartleyn.  That clarifies the process for me.  Some like [`multipledispatch`](http://multiple-dispatch.readthedocs.io/en/latest/)

[2016-05-31 15:11] tonyfast commented on #29
Would using some of the `sklearn` Mixins help with problems like [`SparseCoeffMixin`](https://github.com/scikit-learn/scikit-learn/blob/51a765acfa4c5d1ec05fc4b406968ad233c75162/sklearn/linear_model/base.py#L295)?

There is a lot of talk about a rework of TPOT in the issues.

[2016-05-31 15:12] rhiever commented on #113
pandas comes with quite a bit of overhead. sklearn doesn't use pandas; I don't think it's necessary for TPOT to use it either.

[2016-05-31 15:13] rhiever commented on #29
We're actually heading toward a major refactor of TPOT after the next release (v0.4). :-)

[2016-05-31 15:13] rhiever commented on #156
Thanks @bartleyn!

[2016-05-31 15:14] tonyfast commented on #29
Are y'all talking about that in an issue somewhere?

[2016-05-31 15:18] rhiever commented on #29
@teaearlgraycold should be raising that issue soon (we just finished meeting). He's been working on a PR with a base implementation of it.

[2016-05-31 19:23] mglowacki100 commented on #156
Great !!!

[2016-05-31 19:28] #153 closed

[2016-05-31 19:28] #140 closed

[2016-06-01 17:59] teaearlgraycold opened #159 "TPOT has different behavior when seeding the random library due to PRNG changes in Python 3.2"
## Context of the issue

While writing unit tests that depend on seeded TPOT instances I learned that the tests would all fail under a Python 2.7 installation because the seeds behaved differently with the older PRNG algorithm.

## Possible fix

Assuming Sklearn and DEAP use numpy's random, all we need to do is eliminate instances of std. lib random from TPOT and replace them with numpy's RNG.

[2016-06-01 18:01] rhiever commented on #159
Damn, looks like DEAP uses base Python's random: https://github.com/DEAP/deap/blob/af334219c168ed6c30403c587064a03f39d7d12a/deap/tools/mutation.py#L40

[2016-06-01 18:02] rhiever commented on #159
but we should still fix this.

[2016-06-01 18:08] rhiever commented on #159
From what I can tell, sklearn solely uses the numpy RNG. Good news there. I filed an issue on the DEAP repo suggesting that they switch over to the numpy RNG.

[2016-06-01 21:25] #159 closed

[2016-06-01 22:35] rhiever commented on #142
This feature is now implemented and will be included in the TPOT v0.4 release.

[2016-06-01 22:35] #142 closed

[2016-06-01 22:37] rhiever commented on #117
@teaearlgraycold, do you remember why we decided this wasn't feasible with `FeatureUnion`? We should document that here.

[2016-06-01 22:41] teaearlgraycold commented on #117
IIRC it only works on feature preprocessors. You can't pass it classifiers.

Wherever it was, it should be apparent from the documentation.

On Wed, Jun 1, 2016, 6:37 PM Randy Olson <notifications@github.com> wrote:

[2016-06-01 22:43] rhiever commented on #117
Ah, right: It only accepts sklearn preprocessors that have a `transform()` function. So unless there's an easy way to wrap the sklearn classifiers such that they have a `transform()` function that simply adds the classifier's predictions as a new feature...

[2016-06-01 22:46] rhiever commented on #91
@tonyfast: I just remembered that we have this issue open to discuss the major refactor coming up after the 0.4 release.

@teaearlgraycold, please link your WIP refactor here so we can take a look at it.

[2016-06-01 23:08] rhiever commented on #117
@amueller, any ideas on how to make it such that sklearn Classifiers can be included (as discussed above) in FeatureUnions?

[2016-06-02 01:14] teaearlgraycold commented on #91
**Don't try to run this code - atm it's just a structural layout**

https://github.com/teaearlgraycold/tpot/tree/refactor

[2016-06-02 01:27] teaearlgraycold commented on #91
So with this setup if you want to do something like refactor TPOT so it just uses Numpy matrices you can edit the Operator class, Classifer class, and PreProcessor class and leave all actually classifiers and preprocessors untouched.

[2016-06-02 15:36] amueller commented on #117
Voting classifier: http://scikit-learn.org/dev/modules/generated/sklearn.ensemble.VotingClassifier.html#sklearn.ensemble.VotingClassifier

[2016-06-02 15:37] amueller commented on #117
wait depends what you want. for feature selection? Did I provide the example in the first post? Seems odd lol

[2016-06-02 15:42] rhiever commented on #117
Let's use this pipeline as an example:

![image](https://cloud.githubusercontent.com/assets/1719223/15751014/850ae794-28b6-11e6-813d-aaf06d368c46.png)

but instead of PCA there's a Random Forest there. So what this pipeline does is:

1) Take a copy of the data set and apply Polynomial Features to create data set A

2) Take another copy of the data set, fit a Random Forest, and take the predictions

[2016-06-02 15:43] amueller commented on #117
That was the part I wasn't sure about. Ok then ``VotingClassifier``.

[2016-06-02 15:46] rhiever commented on #117
How would that look in sklearn code? Like this?

[code]

[2016-06-02 15:48] amueller commented on #117
yeah only that the RFE is around the last RandomForestClassifier.

[2016-06-02 16:57] rhiever commented on #117
I'm not sure what you mean?

[2016-06-02 17:00] amueller commented on #117
``make_pipeline(make_union(PolynomialFeatures(), VotingClassifier(estimators=['rf1', RandomForestClassifier()])), RFE(RandomForestClassifier()))``

[2016-06-02 17:03] rhiever commented on #117
Wait, why? Is that specific to RFE or feature selection methods?

[2016-06-02 17:07] amueller commented on #117
RFE is a model-based feature selection. How should it do feature selection without a model? SelectFromModel is also a meta-estimator, while the feature selection methods that are not model based are not.

[2016-06-02 17:07] amueller commented on #117
Btw, this is feature selection using RF. That doesn't necessarily imply classification with RF.

[2016-06-02 17:15] rhiever commented on #117
So we could do something like:

[code]

if we wanted RF classification at the end of the pipeline.

[2016-06-02 17:17] amueller commented on #117
``RFE`` has a ``predict``, so both of the pipelines you outlined can predict. They do different things, though.

[2016-06-02 17:22] rhiever commented on #117
Ahhh, I get it now. Just looked at the docs for the RFE predict. Basically:

[code]

and

[code]

would do the same thing.

[2016-06-02 18:42] amueller commented on #117
yes

[2016-06-02 19:03] rhiever commented on #117
That's awesome. Looks like we'll be able to export to sklearn pipelines after all, @teaearlgraycold!

[2016-06-02 19:05] rhiever commented on #117
Here's some example code that works:

[code]

[2016-06-02 19:07] teaearlgraycold commented on #117
I'll keep that in mind when I start working on the refactored code's export utils

[2016-06-02 20:07] tonyfast commented on #91
I started looking into a refactor myself to understand the project a little bit more.  I haven't put this into scripts yet, but the idea in [drawn out in the notebook](https://anaconda.org/tonyfast/untitled154/notebook).

There were a few main opinions for this to study.

* `training` and `testing`  classes information are contained in a Pandas DataFrame multiindex.
* Make a custom ` BaseEstimator

[2016-06-02 21:07] teaearlgraycold commented on #91
@tonyfast I pushed out a commit so your line number is off. You were referring to the _apply_default_params() method though, correct?

That method is largely there so that certain parameters can be blindly applied to all estimators (regardless of whether they're applicable), and behaves differently than set_params.

[2016-06-02 21:13] salamanders commented on #136
Yay!  In the meantime is there a way to install from github to see the results of this?

[2016-06-02 21:25] rhiever commented on #136
Yes. You can download this repo and run `python setup.py install` in the base directory (make sure to `pip uninstall tpot` first), although we haven't done full QA on v0.4 yet. If you run into any bugs, please file them. :-)

[2016-06-02 21:26] rhiever commented on #136
Yes. If you download this repo and run `python setup.py install` in the base directory (make sure to `pip uninstall tpot` first, you'll have access to the current dev state of TPOT 0.4. No guarantees that it it's bug-free yet, though. :-)

[2016-06-03 01:46] rhiever commented on #129
@teaearlgraycold, forget this issue for now. I will have an updated version of it in a separate issue soon.

[2016-06-03 01:46] #129 closed

[2016-06-03 01:47] teaearlgraycold commented on #129
Alright. I had not started work on it yet so that's fine.

[2016-06-03 02:35] rhiever opened #161 "Integrate sklearn benchmark information to refine TPOT classifier parameters"
We have the results in from the sklearn benchmark, and we have some decent ideas on what parameters should be tuned for each model and in what ranges. Let's incorporate this information into TPOT to help it with the optimization process.

If I don't mention a particular parameter that's already evolvable for a classifier, then that means the parameter can be left as-is.

# AdaBoostClassifier

Fix

[2016-06-03 02:36] rhiever commented on #161
cc @teaearlgraycold

[2016-06-03 02:52] teaearlgraycold commented on #161
Any good alternatives to threshholding `int`s and `float`s besides just min/max-ing them?

I feel like taking the wild values that GP can provide us with and just doing `max(1.0, min(0., max_features))` won't be ideal. You'd just end up with a bunch of 1s and 0s.

What if I added a new terminal type, something like:

[code]

For everything that should be in a distribution like 1 to 50, we could si

[2016-06-03 02:59] rhiever commented on #161
I've been thinking about removing the mathematical operators in favor of having a fixed terminal set. I think that in addition to being prone to producing crazy values, having so many mathematical operators in the TPOT trees causes most of the mutations and crossovers to happen on the mathematical operators rather than the pipeline operators, which is probably bad. (I still need to test that exper

[2016-06-03 03:00] teaearlgraycold commented on #161
That's what I've seen.

I agree

[2016-06-03 03:01] rhiever commented on #161
Great. Let's add the boolean terminals in this PR.

[2016-06-03 03:07] rhiever opened #162 "Remove mathematical operators from the TPOT primitives"
Currently, TPOT has mathematical primitives (add, subtract, multiply, divide) that act on integers and floats to decide the parameters of various models and feature preprocessors. I suspect that the mathematical primitives have been causing several issues in TPOT:

1) **They cause bloat.** Since the mathematical operators don't count against the pipeline size (which is part of the Pareto fitness),

[2016-06-03 03:26] rhiever commented on #162
Considerations for `float` terminals:

* We will need good coverage in the range `[0., 1.]`, as many models and preprocessors use values in that range to specify percentages

* We will need good coverage in the much lower ranges (<= 0.01), as many models with the `C` and `learning_rate` parameters require lower float values

* We will need moderate coverage in the higher ranges (>=1), as some mode

[2016-06-03 03:40] rhiever commented on #162
So perhaps a good `float` terminal set would be:

[code]

and a good `int` terminal set would be:

[code]

Am I missing any use cases here? @amueller, thoughts?

[2016-06-03 17:02] amueller commented on #162
Do you mean "list of possible parameters to choose from"?

Btw ``np.arange(1., 101.) / 100. == np.linspace(0.01, 1.00, 100)`` which might be more readable.

I often use C=100, which is currently not covered.
Some parameters can be floats or integers, like ``max_features`` and ``min_samples_split`` in trees. How do you deal with that?

if you use integers for ``max_features`` and ``min_samples_spli

[2016-06-03 17:24] rhiever commented on #162
Yep!

The main difference is that `np.linspace` produces imprecise floats, e.g., it represents 0.05 as 0.049999999999. Obviously not a huge deal for most use cases, but I don't want to be outputting 0.049999999999 in the exported code when it should be 0.05. (Stupid floating point precision issues.)

We can add coarse coverage beyond 50 (e.g., 60, 70, 80, 90, 100) in the float terminal set.

The G

[2016-06-03 17:25] amueller commented on #162
How about limiting the precision?

[2016-06-03 17:26] amueller commented on #161
for adaboost you might not want to fix n_estimators

[2016-06-03 17:26] amueller commented on #161
you don't do it for gradient boosting, right?

[2016-06-03 17:28] rhiever commented on #162
e.g. `[round(x, 2) for x in np.linspace(0.01, 1.00, 100).tolist()]`?

Just remembered that the issue only rises when I convert the numpy array to a list.

[2016-06-03 17:29] amueller commented on #162
``n_components`` scales with the number of features (kind of). For ``RBFSampler``, it could be hundreds or thousands even if the dimensionality of the original data is small.

[2016-06-03 17:29] amueller commented on #162
no I meant when printing!

[2016-06-03 17:32] rhiever commented on #161
Yes, we fix `n_estimators=500` for the GradientBoostingClassifier because the docs claim:

And I felt sage fixing `n_estimators=500` for AdaBoostClassifier because the docs say (emphasis mine):

[2016-06-03 17:41] rhiever commented on #162
Okay, I updated https://github.com/rhiever/tpot/issues/162#issuecomment-223483641 with a more "numpythonic" way of creating the list. :-P

[2016-06-03 17:47] rhiever commented on #162
Typically people use PCA etc. to compress the features, right? Is it useful to use PCA and maintain the same feature space?

We *could* just remove `n_components` as an evolvable parameter and always use the default, which in most cases equals the original number of features.

Is it typical to create hundreds/thousands of features from a `RBFSampler`?

[2016-06-03 17:52] amueller commented on #162
yes. I wouldn't go below hundreds.

Depends. But with "scales with" I meant "is on the order of". So if you want half as many components as you had features, it might be a large number.

[2016-06-03 17:52] amueller commented on #161
huh alright then ^^

[2016-06-03 17:56] rhiever commented on #162
That's fair. Can you think of anything wrong with simply removing `n_components` as an evolvable feature and using the defaults? Worst case, "just" has extra not-so-useful features that can be pruned by feature selection, yeah?

[2016-06-03 17:57] rhiever commented on #161
Why do you disagree? :-) I'd say it was even supported by what we found from the benchmark.

[2016-06-03 18:00] amueller commented on #162
Not really. That's only true for PCA. For all other methods, changing ``n_components`` changes all components. And for NMF for example, it is not limited by the number of features in the original set.

[2016-06-03 18:00] amueller commented on #161
Actually I agree ;)

[2016-06-03 18:06] rhiever commented on #162
👍 Will raise a new issue for that then.

Otherwise, do you think the terminal (parameter) set in https://github.com/rhiever/tpot/issues/162#issuecomment-223483641 looks good, considering the use cases?

[2016-06-03 18:16] rhiever opened #163 "Remove n_components parameter for several preprocessing operators"
Per discussions with @amueller in #162, it's probably better to use the defaults for `n_components` in several of the preprocessing operators. Specifically:

* RandomizedPCA

* RBF

* FastICA

We'll leave `n_clusters` / `n_estimators` as evolvable parameters in in FeatureAgg and Nystroem.

[2016-06-03 18:36] amueller commented on #162
I'd add 1e-4, 1e-5, 1e-6 but otherwise looks good.

[2016-06-04 15:55] rhiever opened #165 "Add TPOT to Conda Forge"
@tonyfast, I wanted to get this conversation rolling, so I figured I'd start an issue for it.

With what you know about TPOT, how do you advise we get it added to Conda Forge?

[2016-06-04 16:31] tonyfast commented on #165
@bollwyvl do you have some resources to get us started?

[2016-06-06 00:38] bollwyvl commented on #165
Welp. Basically we have to track down all the pypi-only deps (and deps of deps) we'll need first.... bundling is bad practice.

DEAP has been built before, so should be easy. XGBoost might be trickier. Hopefully, it's gcc deps aren't that bad.

I prefer to get all the tests running for each lib. If this has pypi deps, that's okay.

Finally we can write the actual tpot recipe.

Hopefully, we can br

[2016-06-06 00:42] rhiever commented on #165
In v0.4 (coming soon), we've dropped XGBoost as a hard dependency. So that won't be an issue soon. That's good news about DEAP.

[2016-06-07 14:48] bollwyvl commented on #165
I started here:
- https://github.com/bollwyvl/staged-recipes/tree/tpot

### deap
I am trying to get its compiled stuff building (hypervolume), starting on OSX (as it's what I've got locally, and often causes the most problems... well, aside from windows).

The tests distributed with the current pypi version are broken... so for the time being I'm building against `master`. It would be nice if we c

[2016-06-07 15:12] rhiever commented on #165
The DEAP devs seem to have the project in an odd state where they've written the code in Python 2.7 and use `2to3` to convert it to a Python 3-compatible version when it's installed on a Python 3 distribution. Not sure why they do that, really.

We have #154 to make XGBoost an optional dependency, but it likely won't be coming out in v0.4.

[2016-06-07 15:37] bollwyvl commented on #165
Heh, that part works, at least. But the tests are just straight up busted.

[2016-06-09 13:31] rhiever commented on #108
I'm reopening this issue now that I'm unsure again. The primary difference seems to be that our implementation of balanced accuracy also takes into account TNR, whereas other implementations only take into account TPR (recall).

I don't quite understand the intuition in not including TNR in the multiclass case. I understand that in the binary classification case, TPR for class `0` = TNR for class

[2016-06-09 17:40] amueller commented on #108
In your formula, ``len(result[result['class'] == this_class]`` is just ``np.sum(result['class'] == this_class]``, right?

So you compute for each class

TP / (TP  + FN)

which is recall.

and then average over classes, right? That's what your code says and that's what wikipedia suggests, I think (though only for the two-class case https://en.wikipedia.org/wiki/Accuracy_and_precision)

Computing re

[2016-06-09 18:04] mglowacki100 opened #166 "Documentation - example with csv file"
It is a trivial issue, but for people on entry level there should be example in documentation how to load data from csv file (e.g. iris.csv). In such way, it'd be easy for completly newcomers.

[2016-06-10 12:39] rhiever commented on #166
Hi @mglowacki100! We have an example notebook [here](https://github.com/rhiever/tpot/blob/master/tutorials/Titanic_Kaggle.ipynb) (linked in the [docs](http://rhiever.github.io/tpot/)) showing how to do that. But do you mean putting such an example in the README?

[2016-06-10 23:19] bartleyn commented on #104
Are we still interested in testing some of this in the current state of TPOT? I went ahead and implemented my idea, and am happy to try and get a PR working.

[2016-06-10 23:21] rhiever commented on #104
Once we get 0.4 out, I'd love to explore this idea. Several people (including @tonyfast) have expressed interest in designing a "grammar" for TPOT pipelines to help constrain the pipeline structure.

[2016-06-11 08:55] RoelantStegmann opened #167 "reference error in export pipeline"
Found a small bug where the learning rate is referenced before assigning.

## Context of the issue

The error occurred when exporting the TPOT pipeline, and is listed below. I have not been able to reproduce it (I guess due to the random nature of TPOTs generations?).

  File "tpot/tpot.py", line 439, in export
    pipeline_text += replace_function_calls(pipeline_list)
  File "tpot/export_utils.py

[2016-06-11 14:34] rhiever commented on #167
Confirmed. Looks like the same is true for all GradientBoostingClassifier export code: https://github.com/rhiever/tpot/blob/master/tpot/export_utils.py#L445

Let's make sure this doesn't happen in any of the export code.

Adding this bugfix request to the 0.4 release.

[2016-06-11 18:20] tonyfast commented on #104
I would really like to discuss this idea with y'all.  I would like champion bringing the API closer to native `scikit-learn` opinions.  I started [working on a refactor with the expectation of making generic model pipelines](https://github.com/tonyfast/tpot/tree/refactor), but I think at this point is was largely exploratory to understand the data flow.  One of the main successes was being able to

[2016-06-12 19:16] bollwyvl commented on #165
Sorry for the delay: got confused by the future state of DEAP on master, which had a c extension, etc. Turns out, in its current form, `1.0.2.post2`, DEAP is pretty straightforward, so I imagine it will work the first time! I've done a bit more research about xgboost: doable, but maybe not pretty.

[2016-06-13 23:10] rhiever commented on #104
You can start up issues on the repo for us to discuss, or use an existing issue if it's related.

[2016-06-14 20:56] mglowacki100 commented on #166
Sorry, didn't notice it. It should be closed.

[2016-06-14 21:01] #166 closed

[2016-06-17 14:48] #167 closed

[2016-06-17 14:49] #163 closed

[2016-06-17 14:50] #108 closed

[2016-06-17 14:50] rhiever commented on #108
See https://github.com/scikit-learn/scikit-learn/issues/6747#issuecomment-217587210 for a detailed discussion of balanced accuracy. I think there is consensus to add this metric to sklearn now.

[2016-06-17 14:58] rhiever commented on #156
Just wanted to ping you, @bartleyn, to see how this was coming along.

[2016-06-17 14:59] rhiever commented on #154
How's this coming along, @KhaoticMind? Need any feedback?

[2016-06-17 14:59] #41 closed

[2016-06-17 17:31] amueller commented on #108
so the one you are using now is different from the one you posted above, right?
I wouldn't say there is consensus but we can discuss there.

[2016-06-17 18:23] rhiever commented on #108
Yes that's correct.

[2016-06-18 00:00] #162 closed

[2016-06-20 08:12] robotijn opened #171 "More possibilities in the API"
I would like to have more control wrt the DEAP settings.
For example, the standard is now to use the NSGA2 algorithm for selection, but I would like to experiment with other selection criteria also. Also the initialization method,crossover and mutation methods can be opened up.

Another issue is the score that comes out of the algorithm. When I asked about the final score not being what I see duri

[2016-06-20 11:17] KhaoticMind commented on #154
Hello @rhiever. The last couple of weeks I'm having a lot of work at Day Job (where I can do most of my contribution). I hope to get something  done by next week or so.

In the mean time, If there is any one else interested on it, please don't be shy to jump in :) (But I'm still committed to it!).

[2016-06-20 11:28] rhiever commented on #154
No problem! We'll slate it for a later release than the one coming up this
week.

On Monday, June 20, 2016, Antonio Augusto Santos <notifications@github.com>
wrote:

--
Randal S. Olson, Ph.D.
Postdoctoral Researcher, Institute for Biomedical Informatics
University of Pennsylvania

E-mail: rso@randalolson.com | Twitter: @randal_olson
<https://twitter.com/randal_olson>
http://www.randalolson.com

[2016-06-20 14:19] robotijn opened #172 "Possible error in final model selection"
I am running many experiments with tpot but I sometimes get the impression that the final model is not the best one. Take this run for example:

-------------------------------------------------------------------------

amount of generations:	 20
amount of population:	 100
gen	nevals	Minimum score	Average score	Maximum score
0  	100   	0.5          	0.578771     	0.793401
1  	90    	0.5

[2016-06-20 15:13] rhiever commented on #172
What version of TPOT are you using that still has SVM in it? I believe we
dropped SVM because it has a tendency to overfit just like you're
experiencing.

On Monday, June 20, 2016, robotijn <notifications@github.com> wrote:

--
Randal S. Olson, Ph.D.
Postdoctoral Researcher, Institute for Biomedical Informatics
University of Pennsylvania

E-mail: rso@randalolson.com | Twitter: @randal_olson
<https

[2016-06-20 18:51] #161 closed

[2016-06-20 20:30] rhiever commented on #171
In the latest version of TPOT (0.4, release coming soon, but you can access it on master now), we still print the best internal CV score as the algorithm proceeds:

<img width="1431" alt="screen shot 2016-06-20 at 4 27 17 pm" src="https://cloud.githubusercontent.com/assets/1719223/16209262/34ab4076-3704-11e6-899f-024ba76b2747.png">

I will change the output text to clarify that this is an internal

[2016-06-20 20:31] rhiever commented on #171
That's interesting. Our idea with TPOT was that the GP process would be hidden from the user: we would figure out the GP settings, and the user wouldn't need to worry about it.

I suppose we could parameterize the selection, mutation, etc. functions as we do the scoring function. Thoughts @teaearlgraycold?

[2016-06-21 00:29] drorasaf commented on #115
Could I take up this ticket? seems like a good way for me to delve into more tpot internals

[2016-06-21 00:34] drorasaf opened #177 "distributed environment"
Are there any plans to allow tpot to be used in a distributed environments?

[2016-06-21 04:04] rhiever commented on #115
Sounds good, @drorasaf! I'll mark the issue as being worked on.

[2016-06-21 04:06] rhiever commented on #177
Eventually, yes. There's been discussion of using dask to parallelize TPOT (cc @tonyfast). We've also been thinking about PySpark for parallel cloud computing. However, we're still focused on getting the core algorithm and tool finished before we really work our way into scaling to distributed environments.

[2016-06-21 06:39] drorasaf opened #178 "Missing dependency on docs"
Update checker does not appear on docs but do appear on setup.py

[2016-06-21 07:16] robotijn commented on #172
In [4]: tpot.__version__
Out[4]: '0.3.0'

I installed it using pip

[2016-06-21 09:49] robotijn opened #179 "Index error on operator"
When saving the outcome of a run to a file I got the following error:

IndexError                                Traceback (most recent call last)
<ipython-input-52-9b28c13fc5d3> in <module>()
      2     for gens in [i*20 for i in range(1, 10)]:
      3         for popsize in [i*50 for i in range(1,20)]:
----> 4             runTpot(gens, popsize)

<ipython-input-50-f3cd95feb8b1> in runTpot(gens,

[2016-06-21 11:11] robotijn commented on #171
That would be appreciated. Having defaults is great, but tinkering is better :-)

[2016-06-21 12:23] #178 closed

[2016-06-21 12:28] rhiever commented on #172
👍 Let us know how it goes. If you still have issues, please share your data set (if possible) and I'll try to find out what's going on.

[2016-06-21 12:30] rhiever commented on #179
@teaearlgraycold, can you please look into this? We should thoroughly test all of the operators for exporting before the 0.4 release.

[2016-06-21 12:57] robotijn commented on #172
0.4.0 works pretty good except for the model saving, this is giving an error sometimes (I posted the error). I can't share my data set, unfortunately...

[2016-06-21 13:00] rhiever commented on #172
Good to hear. We refined TPOT's optimization process pretty significantly
in 0.4. Hopefully you won't have major overfitting issues now.

On Tuesday, June 21, 2016, robotijn <notifications@github.com> wrote:

--
Randal S. Olson, Ph.D.
Postdoctoral Researcher, Institute for Biomedical Informatics
University of Pennsylvania

E-mail: rso@randalolson.com | Twitter: @randal_olson
<https://twitter.com/r

[2016-06-21 13:34] teaearlgraycold commented on #179
Got it

[2016-06-21 13:39] teaearlgraycold commented on #171
We're using some customized code from GP to perform tree generation in TPOT, so as of right now you wouldn't be able to just throw in some other DEAP function like `genGrow` or `genHalfandHalf`.

As for other paramaterizations - the TPOT constructor is already rather bulky. You can still do something like this:

[code]

[2016-06-21 13:48] rhiever commented on #171
:+1: Good thinking. Maybe we should write a short guide describing that
hook in to TPOT for customizing the GP algorithm for advanced users.

On Tuesday, June 21, 2016, Daniel <notifications@github.com> wrote:

--
Randal S. Olson, Ph.D.
Postdoctoral Researcher, Institute for Biomedical Informatics
University of Pennsylvania

E-mail: rso@randalolson.com | Twitter: @randal_olson
<https://twitter.com

[2016-06-21 14:49] teaearlgraycold commented on #171
It's also important to note that our selection operator is decorated with a function that updates the tqdm progress bar, so any custom selection operators would need to also be decorated if the progress bar is used.

[2016-06-21 15:00] teaearlgraycold commented on #171
We could if we controlled the toolbox.register function - or if there was some function in the TPOT class like `insert_custom_selection_function`. Even just overwriting the tpot selection function (like below) wouldn't work, as it would overwrite the decorator.

[code]

[2016-06-21 16:03] rhiever commented on #171
What if we assumed that any changed to the GP functionality would occur before `fit()`, and placed the decorator in the `fit()` call?

[2016-06-21 16:04] #179 closed

[2016-06-21 16:06] teaearlgraycold commented on #171
The decorator needs to wrap some piece of code that gets called at the start of each generation.

https://github.com/DEAP/deap/blob/master/deap/algorithms.py#L164

The only external function call is to the toolbox.select function.

[2016-06-21 16:14] rhiever commented on #171
Maybe the best path is to expose specific functions to the user that actually perform the selection/mutation/etc. and can be overwritten, and have separate decorated internal functions that call those functions.

[2016-06-21 16:16] teaearlgraycold commented on #171
Alternatively we can do something like this in fit():

[code]

[2016-06-21 16:20] rhiever commented on #171
That gets messy for us, too, because we're mixing setup (which should be in init) with the actual training (which should be in fit).

The alternative is to find another way to support the progress bar update call.

[2016-06-21 16:41] drorasaf commented on #177
My common use case is parallel cloud computing and I think that in order for any interesting dataset to come in handy with TPOT it has to scale.
I might consider leaving it up to the user which one he prefers to use since he knows best the use case.

[2016-06-21 21:29] rhiever opened #181 "Clean up example code in docs"
There are several cases where the variable names for the example exported code are wrong, e.g., [Nystroem](http://rhiever.github.io/tpot/documentation/pipeline_operators/kernel_approximation/Nystroem/).

[2016-06-21 21:29] rhiever commented on #181
cc @teaearlgraycold

[2016-06-21 21:29] rhiever commented on #181
There's also several cases where DecisionTreeClassifiers are used in the example code but never imported.

[2016-06-21 21:33] rhiever opened #182 "Nystroem operator: UserWarning: n_components > n_samples. This is not possible."
When `n_components` is larger than the training set size in the `Nystroem` operator, TPOT throws a warning:

I assume this only happens with smaller data sets. Regardless, let's make sure that `n_components` is always <= the training set size in TPOT so this warning is not thrown.

We can ignore that case in the exported code for now.

[2016-06-21 21:33] rhiever commented on #182
cc @teaearlgraycold

[2016-06-21 21:51] KhaoticMind commented on #154
@rhiever Found some time, and already sent a pull request. Please be free to point any issues (as I said, my first big PR ;) .)

[2016-06-22 14:46] KhaoticMind commented on #182
The idea is to thrown an exception on TPOT when `fit` is called with data in this condition?
Or to make it so that `Nystroem` doesn't make part of the population when this is the case?

[2016-06-22 14:53] rhiever commented on #182
It's mostly to make sure that it doesn't throw the error while running, so we cap the parameter value when running Nystroem.

[2016-06-22 14:54] teaearlgraycold commented on #182
Just to threshold the parameter value under these conditions so the sklearn
classifier isn't so noisy

On Wed, Jun 22, 2016, 10:46 AM Antonio Augusto Santos <
notifications@github.com> wrote:

[2016-06-22 19:41] #182 closed

[2016-06-22 19:54] #181 closed

[2016-06-23 14:51] rhiever opened #184 "Cross validation in TPOT"
After some discussions with @mfeurer, I think it may be important to use k-fold cross validation in TPOT to help avoid overfitting on the internal test set. This is obviously going to slow TPOT down, so I want to validate this assumption first before rolling it out.

Let's implement 5-fold CV in TPOT and compare it on some benchmarks that "regular" TPOT has been benchmarked against. In particular,

[2016-06-23 22:05] rhiever opened #185 "Set up Travis-CI to automatically rebuild the docs when a commit is merged on master"
No reason this needs to be done manually. We just need to get Travis-CI to run:

[code]

[2016-06-24 05:00] teaearlgraycold commented on #185
Can Travis push to a branch?

[2016-06-24 07:54] dbikard opened #186 "Regression with TPOT?"
This might be more of a feature request, but I'm wondering if it's possible to use TPOT to perform a regression task instead of a classification task. Maybe this is already possible and I'm missing something? Could someone point me in the right direction?

Thanks for your help.
David

[2016-06-24 10:18] rhiever commented on #186
TPOT doesn't currently support regression, but we have plans to do so in the near future once we have the basic algorithm worked out in the supervised classification case.

[2016-06-24 10:18] rhiever commented on #185
I believe so. I've seen other repos, e.g. sklearn, do this.

[2016-06-25 15:16] rhiever opened #187 "When storing a classifier's predictions as a new feature, store the predicted class probabilities instead"
Whenever the dataset passes through a model operator in a TPOT pipeline, we store the class predictions as a new feature. There's been some discussion about using the predicted class probabilities as features instead of the class predictions. Perhaps there's more information in the predicted class probabilities that would be useful later in the pipeline. Let's explore this idea, at least for the c

[2016-06-25 15:18] rhiever commented on #186
@teaearlgraycold / @tonyfast, it should be pretty easy to swap out the classifiers for regressors, the scoring function with MSE, and have TPOT work the same otherwise, yes? Am I missing anything? Maybe we should prioritize this addition.

[2016-06-25 15:51] tonyfast commented on #186
This should be a constraint in the [refactor](https://github.com/rhiever/tpot/issues/91).

[`ClassifierMixins`](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/base.py#L301) and [`RegessorMixins`](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/base.py#L330) define their own scoring functions.  I have been experimenting in this [notebook](https://github.com/tonyfa

[2016-06-26 03:49] teaearlgraycold commented on #185
[This](https://github.com/conda/conda-docs/blob/master/update-gh-pages.sh) seems like a good starting point.

[2016-06-26 10:18] minimumnz commented on #177
I'd love better parallel processing on a single machine. I feel sad when i see 3 cores at 0% and 1 at 100%

[2016-06-26 16:47] teaearlgraycold commented on #177
@minimumnz: it's fairly easy to make that change - https://github.com/teaearlgraycold/tpot/tree/parallelize

But TPOT itself likely won't have local parallelization until cluster support is also added, since it'd be much nicer to have both cases covered by one library.

[2016-06-27 21:04] KhaoticMind commented on #184
I was thinking on something on these lines this days. But not exactly 5-fold. Maybe let the user specify how many folds they want (or even if they want no folding at all - just keep train-test as it is).

Implementing it like this would be interesting if we consider #146, or a variation of it, where the user wants to first find the best classifier with no CV (find the best, even if its overfitting

[2016-06-27 23:15] rhiever commented on #184
👍 to the idea of parameterizing the k-fold CV.

[2016-06-28 16:53] Bminnie90 opened #188 "KeyError Issue"
I am trying to run a simple csv. file as an example in tpot. The file does have some empty cells (is this the problem?).

## What I typed and the response:
$ tpot /Users/bminniefield/Desktop/Bioinformatics/PPMI\ Study/EX_Family_History__PD_.csv -is , -o tpot_exported_pipeline.py -g 10 -v 2

TPOT settings:
CROSSOVER_RATE	=	0.05
GENERATIONS	=	10
INPUT_FILE	=	/Users/bminniefield/Desktop/Bioinformatic

[2016-06-28 17:29] teaearlgraycold commented on #188
What's the structure of your CSV?

On Tue, Jun 28, 2016, 12:53 PM Bminnie90 <notifications@github.com> wrote:

[2016-06-28 19:19] rlnsanz opened #189 "Explicitly define API types"
TPOT dependencies, such as scikit-learn, implicitly define types in their API. For example, an SVM kernel can be any string in the following set: {"linear", "polynomial", "rbf", "sigmoid"}.

These types should be made explicit with DEAP, to improve readability and take full advantage of GP.

[code]

[2016-06-28 19:57] teaearlgraycold commented on #189
Sounds cool to me

[2016-06-28 19:59] rhiever commented on #189
👍 This is a better way to represent categorical parameters than integers.

[2016-06-28 20:16] ankitshah009 opened #190 "TPOT.export function is unable to dump the optimised pipeline"
This is in relation to TPOT release version 0.4

TPOT generated output pipeline - has no information on classifier.
The behavior is seen when feature selection is done with SelectPercentile classifier and another classifier model fitted training set.
The below is a sample TPOT generated pipeline where the classifier information is missing.

=========================================================

[2016-06-28 21:53] rhiever commented on #190
Can you please add more detail to your issue? Do you have a stack trace of the error? Is the error repeatable?

[2016-06-28 21:57] ankitshah009 commented on #190
Yes - Please give me 30 mins of time to put up more details on the issue.
As currently using test train split function - the error is repeatable however depends on the split data as well.

[2016-06-28 22:27] ankitshah009 commented on #190
The issue is updated now. Please review the same.
In export_utils.py, we are using pipeline_list[0] to generate the pipeline list as return value from function def unroll_nested_fuction_calls

Thus select_pipeline is being called twice.

[2016-06-28 22:40] rhiever commented on #190
cc @teaearlgraycold

[2016-06-29 02:24] teaearlgraycold commented on #190
@ankitshah009 so is there a stack trace?

[2016-06-29 05:18] ankitshah009 commented on #190
@ teaearlgraycold currently dont have a stack trace for the issue.

[2016-06-29 06:01] teaearlgraycold commented on #190
Alright, I'll look into this

[2016-06-30 17:50] ankitshah009 commented on #190
Please find the attached code essential to replicate the issue.
1. generate_tpot_model.py - Used to generate the tpot generated pipeline
Command to use: - python generate_tpot_model.py fold1_train.txt 0.75 15 | tee tpot_run15.log

2. The above command would create a file similar to tpot_pipeline_fold1_train_15.py

We see here that in sample file tpot_pipeline_fold1_train_15.py the classifier outpu

[2016-07-01 18:02] ankitshah009 commented on #190
@teaearlgraycold
Awaiting an update on this issue. Let me know if further information is needed.
Thanks
Ankit Shah

[2016-07-02 10:42] ankitshah009 commented on #188
For the CSV - To use TPOT, we need to label columns as features and their corresponding class.
F1,F2,.......,class <-- This could be the first row of the CSV and then have one's data to be able to use the generated pipeline from TPOT

[2016-07-02 10:46] ankitshah009 commented on #172
@robotijn -
In the 0.4.0 version of tpot, were you able to solve the model saving error?
Also - please share whether just by changing the version from 0.3 to 0.4 solved the overfitting issue or were there some more modifications done locally to the tpot code?

[2016-07-03 01:18] teaearlgraycold commented on #190
@ankitshah009 I've solved the problem. The fix should be released in a bugfix version of 0.4 soon.

[2016-07-03 05:07] ankitshah009 commented on #190
@teaearlgraycold Thank you for addressing this problem and providing a quick resolution for the same.

[2016-07-03 05:16] #190 closed

[2016-07-03 06:35] ankitshah009 commented on #190
The above fix for #191  is not working fine.
@teaearlgraycold - Is this the only fix done to the code in tpot/export_utils.py? Are there no changes done to the main tpot.py script?

Receiving these errors : -
pipeline_list
[['result1', '_feat_agg', 'ARG0', '36', '13', '5'], ['result2', '_passive_aggressive', 'result1', '0.08', '11']]
File "generate_tpot_model.py", line 89, in
runTpot(train_file, t

[2016-07-03 10:54] ankitshah009 commented on #190
sudo pip install --upgrade tpot
Installs the 0.4.1 version of the release - which solves the issue.
Thank you.

[2016-07-07 19:02] KhaoticMind opened #192 "A resulting pipeline appears to be a stacking, but its not build as such"
While running some tests for XGBoost on tpot, it output the bellow pipeline (I had only xgboost as a primitive):

[code]

In this case xgbc2 is using the output of xgbc1 as a feature. For what I know this is a "stacking" of classifiers but, for the little I know, it is being done on the wrongly, since it can introduce some information leak on the results.

For what I've heard, the "correct" way to

[2016-07-07 20:04] rhiever commented on #192
Yes, this is also known as creating "synthetic features" -- basically using the output of one model as a feature for another model.

The code you show appears to be creating synthetic features correctly. It trains the first classifier on only the training data, then stores the predictions on all of the data as the synthetic feature. The same training subset is then used to train the second classif

[2016-07-07 20:34] KhaoticMind commented on #192
Sorry, now you have enlightened me!
Althou I knew that the new features where being used WITH the original ones, I was under the impression that this was stacking, when it really was not.

[2016-07-07 20:34] #192 closed

[2016-07-08 14:59] dashaub commented on #184
While you're at it, consider allowing a parameter for repeated cross validation. That shouldn't be much of a problem. What could be more interesting--although a more difficult implementation--is only performing the repeated cross validation on a few of the candidate models that achieve the highest score. This would prevent the wasted computation on low-accuracy models while allowing discrimination

[2016-07-11 16:35] rlnsanz opened #194 "Detect and handle missing values"
We should support datasets with missing values. Scikit-learn already offers [a useful option](http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.Imputer.html) for completing missing values. We can use strong typing to force DEAP to use an Imputer first, and we can automatically find a suitable value for the `strategy` hyper-parameter with program evolution.

[code]

[2016-07-12 12:35] matalab opened #195 "Extending TPOT to unsupervised clustering"
Hi, I'm excited with your TPOT tool and how it infers hyperparameters for binary classifiers. I was wondering whether you have any plans to extend TPOT to unsupervised machine learning, i.e. **clustering**?

## Context of the issue
Setting hyperparameters for various clustering algorithms in scikit-learn can be tricky similarly to unsupervised learning algorithms. It would be great if **clustering

[2016-07-12 12:37] rhiever commented on #195
I like this idea. I'd like to explore it after we have regression integrated into TPOT.

We should explore additional metrics for scoring unsupervised results as well.

[2016-07-12 12:45] matalab commented on #195
On the page [http://scikit-learn.org/stable/modules/clustering.html](http://scikit-learn.org/stable/modules/clustering.html), in chapter **2.3.9. Clustering performance evaluation**, there are several clustering performance measures mentioned. Besides silhouette coefficient (2.3.9.4. Silhouette Coefficient), there are also:
2.3.9.1. Adjusted Rand index
2.3.9.2. Mutual Information based scores
2.3.

[2016-07-12 21:13] mglowacki100 commented on #156
@bartleyn when do you plan to release this functionality?

[2016-07-12 21:51] bartleyn commented on #156
Sorry, I've been horribly negligent of my duties on this (I had a personal emergency to deal with). I've got the lion's share of it done, but need to test edge cases (multiclass, multilabel, etc) a little more thoroughly before putting up a PR. I should comfortably have something by the weekend.

[2016-07-13 09:39] ChristianSch opened #196 "Extended Multi-label Classification Support"
Hey there,

As tpot seems to rely solely on scikit-learn for (meta-) estimators the lack of extended multi-label classification strategies is quite noticeable. The work on some of the strategies and algorithms is stalled for quite some time now in scikit-learn (https://github.com/scikit-learn/scikit-learn/pull/2461 (label powerset) and https://github.com/scikit-learn/scikit-learn/pull/3727 (classi

[2016-07-13 21:00] rhiever commented on #196
Interesting idea! This is a feature that we should consider in the future after we add support for regression (#186) and unsupervised learning (#195).

[2016-07-16 12:39] ChristianSch commented on #196
I'd be glad to help, just hit me up.

[2016-07-18 18:17] #91 closed

[2016-07-26 17:13] rhiever opened #200 "Add `--science` option to TPOT"
The progress bar is nice for regular TPOT users, but for me it's useful to have the stats on min/mean/max fitness etc. that we had in TPOT 0.3 and earlier. We should add a `--science` option to TPOT that replaces the progress bar with the old stats.

This would need to work in both the command-line and sklearn-compatible version of TPOT.

cc @teaearlgraycold

[2016-07-26 17:14] teaearlgraycold commented on #200
That seems reasonable to me

On Tue, Jul 26, 2016, 1:13 PM Randy Olson <notifications@github.com> wrote:

[2016-07-28 13:44] MichaelMarkieta opened #201 "Titanic example broken, np.isnan(titanic_new) generates error and training results in CV of 0.5"
No luck with the Titanic tutorial on the latest installation versions of TPOT and its dependencies.

[code]

[2016-07-28 13:51] rhiever commented on #201
Can't reproduce this bug on an Anaconda install w/ Python 3. Can you please report the versions of Python & packages that you're using?

[2016-08-01 01:30] MichaelMarkieta commented on #201
[code]

[2016-08-01 21:07] rhiever commented on #201
Anaconda shouldn't be necessary, and your package versions seem to check out. This is very strange!

What happens if you run the MNIST example? https://github.com/rhiever/tpot#example

[2016-08-03 17:44] sherlockhoatszx opened #203 "data got 4 classes but error report The minimum number of labels for any class cannot be less than 2."
## Context of the issue

I got a sentiment analysis data to set models for sentiment predict. the data contains 2 columns: text and label . the label means the sentiment. Roughly it got 4 classes : non-strong-emotions  happy angry and sad and they were reprinted by 0 1 2 3 . the dataset is a imbalanced class. the dataset total got 266 thousands lines . the non-strong -emotion got 150 thousands lin

[2016-08-03 20:25] rhiever commented on #203
This looks like an issue with sklearn's `train_test_split` and related functionality. What do you get when you look at the unique values in `y_train`, e.g., `print(set(y_train))`?

[2016-08-03 23:23] sherlockhoatszx commented on #203
input: print(set(y_train))

output:  set([0, 1, 2, 3])

[2016-08-03 23:28] sherlockhoatszx commented on #203
y_train 's dtype is int64 while the the X_train is float ,a sparse represent . is that ok ?

[2016-08-03 23:34] sherlockhoatszx commented on #203
should i change the column name 'label' to 'class'?

[2016-08-04 00:44] rhiever commented on #203
If you're using the sklearn interface, the name of the columns shouldn't matter (since they're dropped once in numpy matrix format). Currently, we don't support sparse matrices, which may be the source of the issue. What happens if you try the same call and change your array to a dense matrix? (via `.toarray()`)

[2016-08-04 01:04] sherlockhoatszx commented on #203
My train data has already been toarray  before feeding in.but they are word's tf-idf value .so the dense matrix have many zero value..

发自我的 iPhone

[2016-08-04 01:18] rhiever commented on #203
One more thought I had: I noticed in the screenshot you posted, `y_train` is a pandas Series. Make sure to convert everything to numpy arrays of matrices (e.g. `y_train.values`) before passing it to TPOT or any sklearn object.

[2016-08-04 10:29] sherlockhoatszx commented on #203
Yes using y_train.values in the TPOT that could work .many thanks for your help !

发自我的 iPhone

[2016-08-04 15:29] rhiever commented on #203
Great! Let us know how TPOT works for you. 👍

[2016-08-04 15:29] #203 closed

[2016-08-07 17:41] mglowacki100 opened #204 "Documentation - TPOT vs sklearn - coverage"
It would be nice to have table with TPOT vs sklearn operators.
AFAIK not all operators from sklearn are included in tpot. It could be used as:
- roadmap for tpot
- some dim reduction techniques (e.g. tsne) could be applied without tpot

[2016-08-08 17:01] rhiever commented on #204
Good idea. I've added this to the enhancements list.

[2016-08-08 22:45] teaearlgraycold commented on #204
This is our current coverage:

- [ ] LabelEncoder
- [ ] NearestNeighbors
- [ ] OneVsOneClassifier
- [ ] OneVsRestClassifier
- [ ] AdditiveChi2Sampler
- [X] LogisticRegression
- [ ] PriorProbabilityEstimator
- [ ] NuSVC
- [ ] LinearSVR
- [ ] NeighborsBase
- [ ] LabelSpreading
- [ ] LinearModel
- [ ] AffinityPropagation
- [ ] FunctionTransformer
- [ ] ElasticNetCV
- [ ] SpectralBiclustering
- [ ] VB

[2016-08-08 22:46] westonplatter commented on #204
@teaearlgraycold for someone coming brand new into the project, is there a good example of what needs to be done for the list you just posted?

[2016-08-08 22:47] teaearlgraycold commented on #204
[code]

[2016-08-08 22:48] westonplatter commented on #204
@teaearlgraycold thanks for the example. I'll take a look.

[2016-08-08 22:49] teaearlgraycold commented on #204
@westonplatter, that code requires you use the version of TPOT that is currently in the development branch (0.5).

[2016-08-13 18:23] rhiever opened #206 "Refine TPOT's pipeline grammar"
DELFT uses a relatively sophisticated [pipeline grammar](https://github.com/EpistasisLab/delft/blob/c924d61c885b13b4a82d86148e0b1fabd03a9cb0/delft/delft.py#L316) to restrict the forms that pipelines can take. For example:

1) An imputer must be the first step in the pipeline (see #194)

2) A scaler must be the second step in the pipeline

3) Only classifiers can be the final step in the pipeline

[2016-08-13 18:23] rhiever commented on #206
@teaearlgraycold, how much of this have we already integrated into the dev branch?

[2016-08-13 18:27] rhiever opened #207 "Regularization in TPOT"
Some months ago, we added Pareto optimization to TPOT, where TPOT now maximizes the pipeline classification accuracy while minimizing the number of operators in the pipeline. We found that such an addition provided a form of regularization for TPOT: the pipelines that TPOT produced were less likely to overfit on the data set.

As I've read more about regularization, I'm starting to wonder if we sh

[2016-08-13 18:28] rhiever commented on #201
Going to close this issue. Please re-open if the problem persists on other data sets.