[2017-04-26 14:49] setuc commented on #335
@rhiever Good read.....i guess this is more motivations for me to finish the test work....and the inclusion of Bayesian methodologies will be just perfect :). I didnt look at the code until now...a ton of improvement and more elegant. Good stuff.

[2017-04-26 14:56] TheodoreGalanos commented on #335
I know academic publishing is a business but 25 euros for one paper is crazy :)

Man I miss educational access.

I am glad you have taken this up again @setuc. It'll be very interesting to see your results.

[2017-04-26 15:07] sashml commented on #335
Take for free if really needed - http://link.springer.com.secure.sci-hub.cc/chapter/10.1007/978-3-319-55696-3_16

[2017-04-26 16:37] rhiever commented on #335
You can also email the authors if you'd like a legal copy of the paper. :-)

[2017-04-26 16:40] #425 closed

[2017-04-26 16:42] lesshaste commented on #335
https://www.researchgate.net/profile/Gisele_Pappa/publication/315065572_RECIPE_A_Grammar-Based_Framework_for_Automatically_Evolving_Classification_Pipelines/links/58f6199ca6fdcc55b6c2d2c3/RECIPE-A-Grammar-Based-Framework-for-Automatically-Evolving-Classification-Pipelines.pdf

That seems legal and working.

[2017-04-26 20:22] weixuanfu2016 commented on #422
After more tests, I suspected it may be a issue related to memory usage for multiprocessing with large data sets and some memory-consuming pipeline. As a quick test: what if you use the [TPOT light configuration on 0.7.2](http://rhiever.github.io/tpot/using/#built-in-tpot-configurations)

[2017-04-27 16:05] mfeurer commented on #335
Indeed a very interesting paper to read, and we definitively need to improve Auto-sklearn to work comparable to TPOT and RECIPE on those datasets :) @walterjgsp are the bioinformatics datasets available online in order to perform runs on them?

Basically, my two take-home messages from this paper with respect to a comparison are:

1. datasets need to be representative. Without claiming that the re

[2017-04-27 21:26] rhiever commented on #335
Yes, I wouldn't consider the RECIPE paper to be a definitive comparison by any means. It's simply one step toward making a fairer comparison between the underlying methodologies. I think your point #1 is especially poignant; we need better benchmarks. [PMLB](https://github.com/EpistasisLab/penn-ml-benchmarks) and [OpenML](https://openml.org) are good steps toward that end at least.

[2017-04-28 10:43] alfonsomhc opened #429 "Error when reading config dictionary"
This is the example provided in the documentation:

[code]

When I run it, I get this:

[code]

I'm running version '0.7.2'

[2017-04-28 11:04] weixuanfu2016 commented on #429
Oh, this is a mistake in our document and we need update the using of configuration dictionary  in version 0.7.2. From 0.7.2, this parameter do not support python dictionary anymore. Please write to a text file and use the path (string) of the file for this parameter.

[2017-04-28 11:23] weixuanfu2016 commented on #429
@rhiever I think we need restore the support for python dictionary in `config_dict ` parameter in interactive mode (shown in the TPOT example) as I removed this support when including TPOT light and TPOT MDR for this parameter.

[2017-04-28 11:32] weixuanfu2016 commented on #429
@alfonsomhc I just make a quick PR for restoring python dictionary support in TPOT but for now you still need use file path instead of a python dictionary unless you pull the commit to your local repo. Sorry for the inconvenience.

[2017-04-28 13:02] walterjgsp commented on #335
Hi @mfeurer, the datasets used in the RECIPE paper can be found on the following link:

https://github.com/RecipeML/Recipe/blob/master/datasets/NewDataset.zip

I uploaded then on the format used for our tests. If you need the .arff file of a dataset and you can't find in this link, you can just send me an email that i will prepare them and send it to you

[2017-04-28 14:26] alfonsomhc commented on #429
@weixuanfu2016 , thanks a lot :)

[2017-04-28 14:29] alfonsomhc commented on #429
By the way, sending the config to an external file gives an error as well:

`from tpot import TPOTClassifier
from sklearn.datasets import load_digits
from sklearn.model_selection import train_test_split

digits = load_digits()
X_train, X_test, y_train, y_test = train_test_split(digits.data, digits.target,
                                                    train_size=0.75, test_size=0.25)

classif

[2017-04-28 14:53] weixuanfu2016 commented on #429
Opps, this is a bug for this function...it is fixed in dev branch but not merged yet...

[2017-04-28 15:07] weixuanfu2016 commented on #429
@rhiever I make a patch #431  for master branch for this issue. Could you please merge it?

@alfonsomhc Thank you for let us know this issue. Sorry for the inconvenience.

[2017-04-28 15:26] weixuanfu2016 commented on #429
@alfonsomhc if you want to use TPOT 0.7.2 with this patch in your environment today or this weekend. Please try the command below to reinstall tpot

[code]

[2017-04-28 15:34] alfonsomhc commented on #429
@weixuanfu2016 , the fix seems to work. You are awesome! Thanks a lot :D

[2017-04-28 18:23] rhiever commented on #429
Merged into master. Release going out soon.

[2017-04-28 18:23] #429 closed

[2017-04-28 18:23] weixuanfu2016 commented on #429
Thanks @rhiever

[2017-04-28 18:32] rhiever commented on #429
0.7.3 is now out with the patch. Thanks for raising the issue!

[2017-04-28 20:44] alfonsomhc commented on #429
Thanks to you all! It's so cool that you managed to fix the bug and release an update within 8 hours :)

[2017-04-29 15:33] rhiever commented on #429
While on travel nonetheless. :-)

[2017-04-30 10:52] kuratsak opened #433 "tests failing locally (10 errors)"
10 errors in tests looking like this:

[code]

with the last line differing and having the following texts:
[code]

## Context of the issue
Ran nosetests on both python and python3 for creating pull requests, 10 tests fail with the aforementioned errors

## Process to reproduce the issue

1. Run pip install -r requirements.txt
2. Run nosetests

## Expected result

success on all tests (especially

[2017-04-30 11:49] weixuanfu2016 commented on #433
Thank you for let us know this issue. I reproduced the issue. I think the version of deap in requirements.txt cause this issue. I just posted a quick PR for this issue. Could you try nosetest again after reinstalling deap of version 1.0.2 (not version 1.0 in requirements.txt on current dev version.).

[2017-04-30 12:20] kuratsak commented on #433
You are correct!

I ran:
pip install deap==1.0.2.post2

in both py2 and py3 anaconda ENVs I got, both just passed all the tests.
Awesome!

On Sun, Apr 30, 2017 at 2:49 PM, Weixuan <notifications@github.com> wrote:

--
Cheers,
Dani K.

[2017-04-30 14:53] kuratsak opened #435 "some un-tested error/except code paths include python2 uncompliant code"
found a few lines with:

`Exception('some message').with_traceback(traceback)`

in their except clauses.

Just checked, this breaks on python 2. might be worth adding tests for exception paths and make sure they are python 2 viable too.

I havent checked the whole project, might have similar problems with py2 code that is not py3 compliant.

## Process to reproduce the issue

[ordered list the pro

[2017-04-30 15:03] kuratsak opened #436 "tpot hangs mid-pipeline evaluation (didn't happen in 0.7 version)"
I've been seeing TPOT hangs lately.
At first I thought perhaps njobs is somehow related, tested both with njobs=4 and njobs=6 and without njobs at all, it seems not.

The hang is reproducible - same parameters + same input lead to hanging on same pipeline in the order of evaluated pipelines.

I will try to find out which pipeline hung the process by adding some better traceback reporting on CTRL+C

[2017-04-30 15:45] weixuanfu2016 commented on #436
Thank you for let us know this issue and all those detailed info that was or will be posted here. I will also look into it tomorrow.

[2017-04-30 15:56] weixuanfu2016 commented on #435
Which version of python 2? Could you please provide more details about running environment or/and codes for reproducing this issue?

[2017-04-30 16:08] kuratsak commented on #435
Add a line: raise IndexError('blabla') In the location I wrote in the
issue. As far as I've checked, python 2 doesn't have the method
"with_traceback" under the BaseException class as opposed to python 3..

On Sun, 30 Apr 2017, 18:57 Weixuan, <notifications@github.com> wrote:

[2017-04-30 19:17] rhiever commented on #435
`with_traceback` is indeed a Python 3-only function. I don't think it's really necessary that we use it there, right @weixuanfu2016?

[2017-04-30 19:17] #433 closed

[2017-04-30 19:18] rhiever commented on #433
Glad we got it all sorted out. Cheers.

[2017-04-30 19:19] rhiever commented on #436
Have you tried the [TPOT light configuration](http://rhiever.github.io/tpot/using/#built-in-tpot-configurations) to see if that regularly freezes on you?

[2017-04-30 19:21] kuratsak commented on #436
Nope, I'll be back in the office on Wednesday, can try then.

On Sun, 30 Apr 2017, 22:19 Randy Olson, <notifications@github.com> wrote:

[2017-05-01 10:04] kuratsak commented on #436
Meanwhile, I've taken a look, I can't seem to understand when TPOT decides to fork and when it doesn't but it seems the hanging problems only occured on spawning forks - the posted above log was when it had njobs=1 by default, and for some reason still spawned a child process.

I suspect this has to do with joblib having weird behaviours in certain cases, the following search shows multiple storie

[2017-05-01 14:43] weixuanfu2016 commented on #435
I agree. I will submit a PR for removing these lines with `with_traceback`

[2017-05-01 14:58] kuratsak commented on #435
I recommend using traceback module. As far as I know it's both 2 and 3
compliant and very useful to see traceback in many cases.
I intend to add traceback info in some places in tpot myself.

On Mon, 1 May 2017, 17:43 Weixuan, <notifications@github.com> wrote:

[2017-05-01 21:49] weixuanfu2016 commented on #436
Thank you for these details. After more tests, I think the issue is caused by [bad interaction of multiprocessing and third-party libraries](https://pythonhosted.org/joblib/parallel.html#bad-interaction-of-multiprocessing-and-third-party-libraries), and as you mentioned above, similar issues were reported in both joblib and scikit-learn's repom especially with large datasets. Unfortunately, so far

[2017-05-02 00:42] rhiever commented on #435
Merged on the dev branch.

[2017-05-02 00:42] #435 closed

[2017-05-02 13:30] weixuanfu2016 commented on #436
I think I solve this issue for large dataset in the branch mentioned above. It is about memmaping of large arrays. I will post a PR soon.

[2017-05-02 15:34] weixuanfu2016 commented on #436
Related issues in sklearn:

[3195](https://github.com/scikit-learn/scikit-learn/issues/3195)
[5115](https://github.com/scikit-learn/scikit-learn/issues/5115)

[2017-05-02 20:34] weixuanfu2016 commented on #436
The freezing issue may come from scikit-learn and joblib, so the freezing still happened even without joblib in TPOT since scikit-learn use this own joblib in multiple functions and classes. In the PR #440, I used the dask instead, I found the freezing time is less. Also, I tried to use dask to wrap these sklearn objects to use dask for multiprocessing, but dask do not allow this nested threading.

[2017-05-02 20:41] kuratsak commented on #436
I don't mind delays, that's reasonable. But infinite hang and subsequent
failure is the problem. I'm taking leaving tpot running a weekend and
coming back to an empty failed process..
This didn't happen in 0.7, I wonder what changed..

On Tue, 2 May 2017, 23:34 Weixuan, <notifications@github.com> wrote:

[2017-05-02 21:07] weixuanfu2016 commented on #436
In 0.7, we used [pathos](https://pypi.python.org/pypi/pathos/0.2.0) for multiprocessing. But it has some unknown issue working with xgboost and does not support Windows. So we switched to joblib in scikit-learn in 0.7.1.

[2017-05-02 21:14] kuratsak commented on #436
Interesting, perhaps I'll try using pathos to see if it fixes my problem.
Specifically, I used tpot lots of times in that version with xgboost (on
centos x64 though) and had no trouble at all.

On Wed, 3 May 2017, 00:07 Weixuan, <notifications@github.com> wrote:

[2017-05-02 21:16] weixuanfu2016 commented on #436
Another change is about timeout function. In 0.7, we used signal-based timeout instead of thread-based timeout function. thread-based is [more safe for multiprocessing](https://github.com/glenfant/stopit#comparing-thread-based-and-signal-based-timeout-control)

[2017-05-02 21:29] kuratsak commented on #436
Makes sense, I'm still not sure what happened after the hang, I expected it
to just result in one timed out pipeline, I'll probably have to investigate
why it ruined the whole tpot process..

On Wed, 3 May 2017, 00:17 Weixuan, <notifications@github.com> wrote:

[2017-05-02 21:37] weixuanfu2016 commented on #436
Great, a little bit more details about `pathos`. It uses `dill` instead of `cPickle` for pickling as joblib does. Maybe it is the key for this issue. The `dask` in #440 uses `cloudpickle`, which seems works well in my tests. You may also try this branch on your dataset. (commands below for reinstalling the TPOT branch in your environment)

[code]

[2017-05-02 21:40] kuratsak commented on #436
Thanks, I can just pull the branch, i made a soft link in my env directly
to the tpot source :)
We're talking about weixuanfu2016/tpot.git + joblib_timeout branch?

On Wed, May 3, 2017 at 12:37 AM, Weixuan <notifications@github.com> wrote:

--
Cheers,
Dani K.

[2017-05-02 22:10] weixuanfu2016 commented on #436
Yep

[2017-05-02 22:24] weixuanfu2016 commented on #436
BTW, you could also check a branch named `pathos` in my repo for a demo of using pathos in tpot. But I tested it, freezing happened.

[2017-05-03 05:55] kuratsak commented on #436
Version 0.7 didn't freeze once over dozens of runs I did. Some a week long.
Was it pathos then?

On Wed, 3 May 2017, 01:24 Weixuan, <notifications@github.com> wrote:

[2017-05-03 10:50] weixuanfu2016 commented on #436
Yes, pathos was removed 3 weeks ago.

[2017-05-03 17:35] weixuanfu2016 commented on #388
![training_sample_size_on_percentage_decrease_in_accuracy_based_on_pmlb](https://cloud.githubusercontent.com/assets/21084970/25672938/a34ef4b6-3003-11e7-8548-8307bc118899.png)

The subsample option were tested on >160 benchmarks in [PMLB](https://github.com/EpistasisLab/penn-ml-benchmarks/tree/master/pmlb). Subsample ratios were set from 0.1 to 0.9 with step = 0.1. The percentage changes in accura

[2017-05-04 15:28] Ajay95 opened #442 "How to update to 0.7.3 in anaconda"
Hi ,
I am using tpot V 0.6.4 for a long time ,and when i saw that there is a 0.7.3 version available .
But when I check for updating the package it shows only 0.6.4 is available .
How can I update to 0.7.3?

[2017-05-04 15:32] weixuanfu2016 commented on #442
Please try `sudo pip install tpot --upgrade`

[2017-05-04 15:49] Ajay95 commented on #442
Thank You

[2017-05-04 15:49] #442 closed

[2017-05-04 15:49] weixuanfu2016 commented on #442
Please let me know if the command didn't work.

[2017-05-04 15:50] weixuanfu2016 commented on #442
Great

[2017-05-04 15:51] Ajay95 commented on #442
The pywin command needs to be updated in the tpot installation page as I was getting error

 No matching distribution found

[2017-05-04 18:56] rhiever commented on #442
I don't recommend running `pip install --upgrade <package>` with Anaconda. A better way to upgrade is to run:

`pip uninstall tpot -y; pip install tpot --no-cache`

[2017-05-04 19:02] weixuanfu2016 commented on #442
Looks good. Should we add a upgrading section in docs about installation?

[2017-05-04 19:26] rhiever commented on #442
Maybe, but this isn't really something that's specific to TPOT. It's a general Anaconda/pip issue.

[2017-05-11 10:10] sskarkhanis commented on #337
Hello

just adding my question to this as I thought this question was closest to mine (let me know otherwise, I can raise a separate question),

I've just discovered TPOT this week and having fun learning it so far!

In the description on http://rhiever.github.io/tpot/  ,its mentioned,
"TPOT will automate the most tedious part of machine learning by intelligently exploring thousands of possible pi

[2017-05-11 14:01] weixuanfu2016 commented on #337
Hi, Do you mean to check the modeling algorithms / pipelines were evaluated in TPOT optimization process?

You can easily found these pipelines in the dictionary  `tpot_obj._evaluated_individuals` (`tpot_obj` is a TPOT object) based on the [source codes(https://github.com/rhiever/tpot/blob/master/tpot/base.py#L259-260). The keys of dictionary are pipeline string and the values are the count of ope

[2017-05-11 14:04] weixuanfu2016 commented on #337
Update: just fix a small bug in the demo above.

[2017-05-12 08:21] sskarkhanis commented on #337
great! that's what I was looking for...
 thank you for your response...

[2017-05-15 18:18] infpsyndrome opened #447 "skit"
[provide general introduction to the issue and why it is relevant to this repository]

## Context of the issue

[provide more detailed introduction to the issue itself and why it is relevant]

[the remaining entries are only necessary if you are reporting a bug]

## Process to reproduce the issue

[ordered list the process to finding and recreating the issue, example below]

1. User creates TPOT i

[2017-05-15 18:43] weixuanfu2016 commented on #447
??? Do you create the issue by mistake? It is just the template for submitting issue.

[2017-05-15 18:50] infpsyndrome commented on #447
Yes it was a mistake. no idea that i was created. sorry! please delete it.

[2017-05-15 18:53] weixuanfu2016 commented on #447
It's okay. But I do not have permission to delete it. You can close the issue by using it bottom below comment box on this webpage.

[2017-05-15 18:56] #447 closed

[2017-05-15 22:31] jimmywan opened #448 "Export intermediate results"
While TPOTRegressor gives me some one stop shopping in terms of generating a model, I'd really like to analyze how other top candidates were constructed. I don't currently see a way to export all of the candidate models that get built via TPOT.
For instance, I may want to do one or more of the following:
 - Apply some type of checks to the model that are not easily captured by a single scoring met

[2017-05-15 23:11] weixuanfu2016 commented on #448
Please check my comments in #337. A demo there may help you to get intermediate results.

[2017-05-16 14:12] tjvananne opened #449 "XGBoost parameter error (colsample_bytree=1)"
I've seen some traffic on these issues regarding potentially getting rid of xgboost altogether due to dependency troubles, so if that is the case then this isn't relevant.

I am receiving the following error message:

    Optimization Progress:   0%|                            | 26/10100 [00:22<2:10:08,  1.29pipeline/s][
    08:35:46] c:\dev\libs\xgboost\dmlc-core\include\dmlc\./logging.h:235: [08

[2017-05-16 14:28] ilyes495 opened #450 "config_dict='TPOT MDR' Error"
[provide general introduction to the issue and why it is relevant to this repository]
I'm trying to run TPOT classifier on my dataset using MDR configuration option, but I get the following error
![screenshot from 2017-05-16 17-24-20](https://cloud.githubusercontent.com/assets/17175391/26111077/c8947238-3a5c-11e7-9674-715a28987d03.png)
 .........
![screenshot from 2017-05-16 17-27-29](https://clou

[2017-05-16 16:28] jimmywan commented on #448
Thanks @weixuanfu2016 , I will take a look.

[2017-05-16 17:51] weixuanfu2016 commented on #450
It seems that no valid pipeline was randomly generated. Could you please let me know which version of scikit-MDR? I think `TPOT MDR` should work with version 0.4.3 and 0.4.4.

[2017-05-16 19:49] weixuanfu2016 commented on #449
Hmm, the warning message was indeed reproduced in my environment. But it is very weird that this `colsample_bytree` parameter is not in our [operator dictionary](https://github.com/rhiever/tpot/blob/master/tpot/config_classifier.py#L103-L110) so TPOT wound tune this parameter and keep it as default value of 1.

I also checked the first 26 pipelines in TPOT optimization process. Only two pipelines

[2017-05-16 20:43] tjvananne commented on #449
I should have been a bit more explicit for anyone else following along. In addition to the message in the console, I also receive the windows message that "python.exe has stopped working" and then the program crashes.

![image](https://cloud.githubusercontent.com/assets/7726537/26125853/110e6866-3a49-11e7-93fd-b2464b0271eb.png)

Also, I'm not sure if "Pipeline" is a 1-to-1 with "generation" (haven

[2017-05-16 21:04] ilyes495 commented on #450
scikit-MDR was 0.4.4  and I changed it to 0.4.3 and still give the same error

[2017-05-16 21:04] weixuanfu2016 commented on #449
Thank you for these detailed information for this issue.

I don't think the issue was related to `generation` since the error message showed up in the initial generation which had only randomly generated pipelines. I suspected it might be due to [`_pre_test` decorator](https://github.com/rhiever/tpot/blob/master/tpot/decorators.py#L35) because it would test pipeline with a small dataset to make su

[2017-05-16 21:17] tjvananne commented on #449
Absolutely! Thanks for your response!

That reminds me, it's also probably worth mentioning that I ran into a few `Invalid pipeline encountered. Skipping its evaluation.` messages when using `verbosity=3` in the `TPOTClassifier()` constructor.

Thank you!

[2017-05-16 21:51] weixuanfu2016 commented on #450
Thank you for letting us know this issue. The issue is caused by a recent update in [scikit-MDR](https://github.com/EpistasisLab/scikit-mdr/commit/6046ac963000de6ba90d2c0194a2a7446ea4b755#diff-102b1487e5185df93069d2af9ffce457) where MDR was not setting as a subclass of `ClassifierMixin` .

I will submit a PR soon to fix this compatibility issue in TPOT.

For solving the issue temperately, please t

[2017-05-16 21:53] weixuanfu2016 commented on #450
Or you can try this dictionary in dev branch.
[code]

[2017-05-17 19:40] weixuanfu2016 commented on #449
I found the reason of the issue. It is due to pipeline 32 in generation 0 (see below) when using the demo in the issue. The first step is feature selection. But sadly no feature passed the threshold in the first step so that no feature is available for `XGBClassifier` in second steps.

For solving this issue, I will submit a PR to catch this error message to prevent TPOT from crashing.

[code]

Fo

[2017-05-17 19:56] weixuanfu2016 commented on #449
[code]
Somehow, the error message still showed up even I used the codes above to catch XGBoostError. But program did not crash after runing this bad pipeine 2000 times.

[2017-05-17 21:03] weixuanfu2016 commented on #449
From this part of [source code](https://github.com/dmlc/dmlc-core/blob/master/include/dmlc/logging.h#L235-L247) in xgboost, it seems that the error message is printed out by `std::ostringstream`. I am not sure if python can catch this message.

[2017-05-17 22:16] tjvananne commented on #449
Ah that makes sense, good catch!

Would it be acceptable to just suppress any pipelines that don't meet certain conditions (in this case, not passing in any features due to no features meeting the feature-selection threshold) so they don't get scored / crossed over with other pipelines?

I see what you're saying though, it would probably be best to try to use XGBoosts built-in error checking from

[2017-05-18 19:51] rhiever opened #452 "Porting TPOT over to TensorFlow?"
Please use this issue to discuss the possibility of porting TPOT over to TensorFlow.

TensorFlow seems promising for speeding up the pipeline optimization procedure of TPOT. I've heard reports of 800-fold speedup on a single core. If this is true, we could probably drop multiprocessing support (which has been problematic) and move over to TensorFlow.

Here's an example of TensorFlow for sklearn: h

[2017-05-18 20:15] weixuanfu2016 commented on #452
I think the 800-fold speedup may use GPU.

The example seems not use TensorFlow to speed up the whole pipeline but only for the `learn.DNNClassifier` step.

I think the Distributed Computing in TensorFlow is very promising. Here are some links about it:
https://www.tensorflow.org/deploy/distributed
http://ischlag.github.io/2016/06/12/async-distributed-tensorflow/
http://learningtensorflow.com/less

[2017-05-18 20:31] weixuanfu2016 commented on #449
Thank you for these good ideas.

It is hard to tell whether the feature-selection step would remove all features before running the pipeline, and it also depends on data. We will refine parameters in selectors (#423) to pervert this issue.

In my codes above, I tried XGBoosts built-in error `XGBoostError` in their python wrapper but it still printed out the error message even the program is still

[2017-05-18 22:27] GrantRVD commented on #452
I think this is a feasible change to make - all the info really needed is what files need to have tensorflow analogs inserted. Right now it looks like `config_regression.py` and `config_classifier.py` are the files that needs to have the relevant tf models added. I haven't used tpot before, but I should be able to make the changes relatively easily if the first post is edited to include a checklis

[2017-05-18 23:00] weixuanfu2016 commented on #452
Do you mean there is a way to warp these scikit-learn operators in both config files? If so, please check `operator_utils.py`.

I am thinking about replacing the joblib in `base.py` since they have issues when dealing with large dataset. (#436)

Maybe we should support the current stable version 1.1.

[2017-05-19 01:55] zoso95 commented on #312
I ran into this issue recently. Sklearn let's you pass in custom cross validation into cross_val_score directly. For example

gkf = GroupKFold(n_splits=5)
X = df["numerical stuff"]
group = df["some category"]
 scores = cross_val_score(model, X,Y, cv=gkf, groups=group)

The only thing to note here is you also need to pass in groups in addition to the CV object.

[2017-05-19 12:53] rhiever commented on #452
I'm 👍 on using the latest version of TF. What's the ETA for 1.2?

[2017-05-19 13:19] reeseb777 opened #454 "PolynomialFeatures can never be chosen"
The condition in the code that is intended to limit the number of PolynomialFeatures stages inadvertently prevents all pipelines with PolynomialFeatures from being considered.

## Context of the issue

the cause of this bug is base.py line 708:
             if individual_str.count('PolynomialFeatures') > 1:

the problem is that it disqualifies valid pipelines, such as:
LogisticRegression(Polynomia

[2017-05-19 13:22] weixuanfu2016 commented on #454
Oh, right, this is a bug. I will submit a PR soon to fix it.

[2017-05-19 14:00] weixuanfu2016 commented on #454
I just posted a PR for fixing this issue. It is not merged to master branch now. If you need fix the tpot in your local environment for running some urgent jobs. Please try the command below to reinstall tpot from the fixed branch.

[code]

[2017-05-19 14:14] rhiever commented on #454
Fixed and rolled out in TPOT 0.7.5. Thank you for the bug report.

[2017-05-19 14:14] #454 closed

[2017-05-19 14:15] #450 closed

[2017-05-19 14:15] rhiever commented on #450
Fixed and rolled out in the latest TPOT release.

[2017-05-19 14:18] reeseb777 commented on #454
Thanks a bunch for the speedy fix!

[2017-05-19 20:05] GrantRVD commented on #452
@weixuanfu2016 Thanks for the suggestion. I'll try to familiarize myself with the project structure before making any potential contributions. I'll do my best to read and absorb the documentation on the Github Page, but if the two of you have any other recommendations for the best route to become familiar with TPOT's code base, I welcome the suggestions.

TensorFlow 1.2rc0 was just "announced" on

[2017-05-19 22:33] pealco opened #457 "Regressor in a VotingClassifier?"
After fitting a `TPOTRegressor`, TPOT returns a model that looks like this:

[code]

I'm a bit confused about what it means to wrap a `VotingClassifier` around a regressor. I would usually expect to pass it a set of classifiers (I haven't been able to find instances of people using the `VotingClassifer`/regressor combination after some googling, either). I thought that maybe since there's only one

[2017-05-20 00:41] weixuanfu2016 commented on #457
The purpose of the`make_union(VotingClassifier(.... FunctionTransformer...))` in the codes is that if one step in a pipeline is an estimator and is not the last step then we must add its guess as a synthetic feature.

Like you mentioned, `VotingClassifier ` is not designed for regressor but somehow it could pass the prediction as a synthetic feature to next steps. I think we need run some tests be

[2017-05-20 01:20] weixuanfu2016 commented on #457
Thank you for letting us know this issue. I use the codes below to check if `VotingClassifier` also works for regressor. Sadly, it did not work as excepted. We may need avoid `VotingClassifier` in `TPOTRegressor ` or make a `VotingRegessor` in TPOT.
[code]

Output:
[code]

[2017-05-20 05:08] chivalry123 opened #458 "Error: got an unexpected keyword argument 'max_depth'"
I am just trying to ru the following code:
where x_pca_all_imputed, y_train_log is pandas data frame

[code]

 However, I got this error/warning. the training is running though....

[code]

[2017-05-20 10:54] rhiever commented on #458
Try changing your code to

[code]

Importantly, adding the `.values` should convert the pandas DataFrames to NumPy matrices. You can learn more about the data representation in scikit-learn (and TPOT) [here](https://github.com/amueller/scipy-2017-sklearn/blob/master/notebooks/03.Data_Representation_for_Machine_Learning.ipynb).

[2017-05-20 11:03] rhiever commented on #457
As @weixuanfu2016 mentioned, we use the VotingClassifier to [stack](https://www.quora.com/What-is-stacking-in-machine-learning) intermediate classifiers in TPOT pipelines. As @weixuanfu2016 pointed out, VotingClassifier doesn't seem to work quite as expected with regression models.

Regardless, TPOT seems to have found that stacking a couple regression models' predictions improves the predictive p

[2017-05-20 11:17] weixuanfu2016 commented on #457
@rhiever  the outputs from the `VotingClassifier` are continuous when running with regressors, but not the right prediction of y. It is very weird. I think `VotingClassifier` should raise warning message when running with regressor.

[2017-05-20 11:27] weixuanfu2016 commented on #457
@rhiever I found two replacements for stacking classifiers or regressors. Check the links below:

[StackingClassifier](https://rasbt.github.io/mlxtend/user_guide/classifier/StackingClassifier)
(StackingRegressor)(https://rasbt.github.io/mlxtend/user_guide/regressor/StackingRegressor)

[2017-05-20 11:33] rhiever commented on #457
Rather than adding a new dependency (even if it's a nice one, @rasbt ;-) ), could we port the underlying code for those stacking models to TPOT? I think it's realistically only something like [this](https://github.com/rasbt/mlxtend/blob/5d9938626fe98ff26ce89fbd0ae0557619864630/mlxtend/regressor/stacking_regression.py#L134).

[2017-05-20 11:36] weixuanfu2016 commented on #457
Sounds good and thank you for the nice tool @rasbt

[2017-05-20 14:11] rasbt commented on #457
The code for the StackingRegressor/Classifier is indeed super simple. You could either port it or just put it under an `tpot/external` path like they do in scikit-learn with joblib, [for example](https://github.com/scikit-learn/scikit-learn/tree/master/sklearn/externals) to avoid additional external dependencies; mlxtend is under an MIT license, which should be compatible with GNU/GPL.

Regarding

[2017-05-20 14:50] rhiever commented on #457
I'm 👍 on porting in the stacking classifier/regressor into an `external` directory.

TPOT should be handling the CV, so no need to use the CV version.

[2017-05-20 16:14] rasbt commented on #457
Cool!

I think it's a bit different in this context from what TPOT is doing with CV. Here, it's an internal way of doing CV between the 1st & 2nd level classifiers (not a wrapper around the classifier). Basically, the 2nd level classifier gets different features from the 1st level classifier here:

![stacking_cv_algorithm](https://cloud.githubusercontent.com/assets/5618407/26277457/d5da24d2-3d55-1

[2017-05-21 14:50] adam-erickson commented on #452
You might have a look at Karoo GP for ideas on integrating TensorFlow: https://github.com/kstaats/karoo_gp/blob/master/karoo_gp_base_class.py

[2017-05-22 06:58] axelroy opened #459 "Visualize constructed features and get best pipeline found."
Greetings,

First of all, thank you for the amazing job you did on this project. I'm trying to use TPOT on a research context, and after a few tests, I have some questions about how to use it :

* I've seen in the issue #337 that we can retrieve the explored pipelines with the `tpot._evaluated_individuals` set. Is this a good way to use it, or could it change over the versions? I want to be able t

[2017-05-22 15:46] weixuanfu2016 commented on #459
For the first question, I think this is right way to use it for current version and next version (0.8). You can also find the example in the unit test, [test_evaluated_individuals](https://github.com/rhiever/tpot/blob/development/tests.py#L643-L666), if the way is updated in future versions.

For the second one. for now TPOT cannot provide the ranking of features' importance as Figure 5 in the pap

[2017-05-22 18:29] weixuanfu2016 commented on #457
@rasbt Thank you for sharing the way of CV in `StackingCVClassifier`. But I think the pipelines in TPOT stack only one estimator as a step to add synthetic feature(s) into transformed X. So I reimplement the Stacking class based on the codes in your tools and simplified it as a transformer by removing meta-estimator. I put the transformer into the PR #460

[2017-05-22 20:39] rhiever commented on #459
Hi @axelroy,

If you want to access the best model from the TPOT run, you can access it with the `tpot. _fitted_pipeline` property at the end of the run. If you run TPOT at the highest verbosity (3), you can also access the entire Pareto front of best pipelines with the `tpot._pareto_front_fitted_pipelines` property. Note that both of these properties are only assigned at the end of a TPOT run.

I

[2017-05-23 11:42] axelroy commented on #459
Thank you very much for the responses, I'll test this as soon as possible.

[2017-05-23 17:50] #253 closed

[2017-05-23 17:51] #388 closed

[2017-05-23 17:51] rhiever commented on #458
Hi @chivalry123, did that change work for you?

[2017-05-23 19:43] rhiever commented on #457
Fixed in the latest dev branch.

[2017-05-23 19:43] #457 closed

[2017-05-23 19:44] rhiever commented on #215
How's the refactor coming along, @teaearlgraycold?

[2017-05-23 19:45] #214 closed

[2017-05-24 13:39] simonzcaiman commented on #342
Hi guys,
I try to create a time series split object from sklearn.model_selection and pass it into the tpot classifier input argument as cv. It seems like internal cv is still K-folds with random shuffling.
I'm dealing with time series classification problem. This might create a look ahead bias.
Is there a way to change the tpot internal cv method?

Tpotregressor has "num_cv_folds", but TpotClassif

[2017-05-24 19:12] rhiever commented on #342
Hi @simonzcaiman, can you please explain why you think TPOT is still using K-fold with random shuffling from this example? We pass the object given to the `cv` parameter directly to the `cross_val_score` function, so it should work just the same.

[2017-05-24 19:31] simonzcaiman commented on #342
Hi,

First of all, thanks for the awesome project. It just got into it two days ago. I'm loving it a lot.
The problem is solved as I restart my python terminal. I took a look at the source code and I see that the cv input argument is passing directly to sklearn cross_val_score function.
No problem with this. Just would like to make a suggestion by include these possible cv objects in the documenta

[2017-05-24 19:34] rhiever opened #463 "sample_weight parameter not documented in _evaluate_individuals"
Here: https://github.com/rhiever/tpot/blob/37c1529c227327db674032a0c6450ec93ec7f6b4/tpot/base.py#L669:L682

@weixuanfu2016, please document?

[2017-05-24 20:46] weixuanfu2016 commented on #463
PR is posted.

[2017-05-25 12:10] fferroni opened #466 "Cannot clone XGBoostClassifier exception"
Hello,

When I try the following:

[code]

I get an error of the sort:
[code]

I am using XGBoost 0.6 (compiled using gcc on Mac), and TPOT 0.7.5, and sklearn 0.18.1

Seems to not be related to the dataset I use.

Any help appreciated.

[2017-05-25 12:50] weixuanfu2016 commented on #466
I suspected the latest version of XGBoost do something abnormal since it put both `seed` and `random_state` into parameter list. Could you please try the codes above? Please let me know if the `RuntimeError` happened. I will also test it after I installed this version of XGBoost in my environment.

[code]

[2017-05-25 12:53] fferroni commented on #466
The code you wrote in your comment doesn't seem to raise any errors. Only a warning:

[code]

[2017-05-25 13:18] weixuanfu2016 commented on #466
Thank you for the quick test. The warning message is normal because the `nthread` and `seed` are deprecated and replaced by `n_jobs` and `random_state` in the latest version.

I will submit a PR to fix this compatibility issue with the latest version of xgboost. Meanwhile you can try to use the codes below to use xgboost in TPOT 0.7.5.

[code]
Please let me know how the codes works.

[2017-05-25 13:23] fferroni commented on #466
Hi,

The code you suggest doesn't work. I get the same error.

[code]

[2017-05-25 13:25] weixuanfu2016 commented on #466
Hmm...Strange, could you send over the new error message? I think `seed` should be 42 this time. right?

[2017-05-25 13:28] fferroni commented on #466
The code snipped I sent is the new error... :/

[2017-05-25 13:28] weixuanfu2016 commented on #466
Yes, but somehow seed is reset to 0. How about setting `seed` to 42 like the codes below?
[code]

[2017-05-25 13:33] weixuanfu2016 commented on #466
I found the reason. It is from [this source code](https://github.com/dmlc/xgboost/blob/master/python-package/xgboost/sklearn.py#L165) in xgboost. If the `seed` is not set, it would be assigned the default value 0 of `random_state` .

[2017-05-25 13:40] rhiever commented on #342
Funny you say that---we just added that to the docs on the dev branch, so it will be out in the next release. :-)

Glad the issue was sorted out.

[2017-05-25 13:41] #463 closed

[2017-05-25 15:09] weixuanfu2016 commented on #466
I made a PR #467 to fix this issue based on dev branch.
 The changes are simple as shows in the [link](https://github.com/rhiever/tpot/pull/467/files).

@rhiever should we make a patch for master branch?

[2017-05-25 15:45] simonzcaiman commented on #342
Wow. That's great!
One more suggestion on the minor typo error in the documentation of the "base.py"
In the available options of "scoring" argument, there is an option as 'balanced accuracy', where it should really be 'balanced_accuracy'
Thanks again for the great work here :)

[2017-05-25 15:47] weixuanfu2016 commented on #342
Thank you for suggestion. It is already fixed in dev branch in [this line](https://github.com/rhiever/tpot/blob/development/tpot/base.py#L123)

[2017-05-25 15:49] simonzcaiman commented on #342
Thanks!

[2017-05-25 17:21] weixuanfu2016 commented on #466
@fferroni Could you please install [version 0.6a2 of xgboost](https://pypi.python.org/pypi/xgboost/)? The version 0.7.5 of TPOT works with this version of xgboost in Pypi.

[2017-05-25 19:02] terrytangyuan commented on #452
I came across similar thought that I shared with @rhiever today. I am not familiar with TPOT at all but my initial/naive idea would be dropping TPOT's multiprocessing and use TensorFlow's [Estimator API](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/python/estimator) that provides simple interface similar to sklearn. Then allow TPOT to specify the [RunConfig class](https://github

[2017-05-25 19:12] terrytangyuan commented on #452
There has been a lot of changes to TF Estimator (many of them are now in core so they are more stable now) so I am not sure if it's still working with sklearn's pipeline. I'll take a look at the codebase for TPOT soon and hopefully propose a better solution (my last comment assumes no knowledge in TPOT but hopefully could help move this discussion along from TF perspective).

[2017-05-25 19:22] rhiever commented on #452
👍 Excited to collaborate on this issue, @terrytangyuan!

Note that the part we're thinking of using TF for is the pipeline evaluations, which happens [here](https://github.com/rhiever/tpot/blob/7b1eb275b7f00a581fc37575b92f0ef8cee16ee8/tpot/base.py#L756:L757). Essentially, every iteration of TPOT runs the sklearn `cross_val_score` function on valid sklearn Pipelines, which can contain one or many s

[2017-05-25 20:33] weixuanfu2016 commented on #452
@terrytangyuan I think `tf.contrib.learn.BaseEstimator` is worthy to look
 into. https://github.com/tensorflow/tensorflow/blob/r1.1/tensorflow/contrib/learn/python/learn/estimators/estimator.py

I agree to drop `multiprocessing` in TPOT and use `TensorFlow` but many scikit-learn's estimator using `multiprocessing` backend in `joblib`, especially for those `ensemble` method. (check [this example](h

[2017-05-25 20:35] simonzcaiman opened #468 "Keep Hitting Data not formatted properly"
Here is my code :

x=np.array([[-1.1491834 , -1.77252632,  0.72741207],
       [-0.69059757, -1.59468535,  0.13948231],
       [ 0.06890373,  0.43569532,  0.21672055],
       [ 1.77999225,  0.23434428,  0.49602475],
       [ 1.09255898,  1.56640373, -0.47355987]])

y=array([ 1.,  1.,  0., -1.,  0.])

 tpot = TPOTClassifier(generations=2, population_size=30, verbosity=2,cv=5,scoring='accuracy')
 tp

[2017-05-25 20:58] weixuanfu2016 commented on #468
Hmm, I think the reason is the sample size is too small to use `cv=5` in TPOT. Please check the cv parameter in [`cross_eval_score` in scikit-learn](http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.cross_val_score.html)

The codes below can reproduce this issue.

[code]

[2017-05-25 23:39] terrytangyuan commented on #452
@weixuanfu2016 Yes that's exactly the example canned estimators I was referring to that has sklearn-like interface. They will be moved to TensorFlow core soon but it will take some time. The only stable ones can be found [here](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/python/estimator/canned). For each estimator, you can set their configuration that contains all the distribu

[2017-05-26 13:34] weixuanfu2016 commented on #452
@terrytangyuan Thank you for these information, These TF.learn estimators looks very promising!

[2017-05-26 15:40] rhiever commented on #468
@weixuanfu2016 is correct. If you are using `cv=5`, you must have at least 5 training samples for each class.

[2017-05-26 15:42] rhiever commented on #452
@terrytangyuan: Do I understand right that, to support the models, transformers, etc. in scikit-learn, we would need to rewrite all of the algorithms in a tflearn-like format?

[2017-05-26 15:48] terrytangyuan commented on #452
@rhiever No I don't think that's feasible. I am thinking it would just be good to support existing TF Estimators (other people from Google and the community will open-source more estimators) in a similar fashion to supporting sklearn estimators. All the distributed logics are inside TF Estimators instead of in TPOT since those are hard to implement and maintain. TPOT would focus on providing genet

[2017-05-26 16:13] gaw89 opened #469 "Incompatible with newest Xgboost"
TPOT does not work with newest version of Xgboost.

## Context of the issue

@rhiever, as of [this PR](https://github.com/dmlc/xgboost/pull/2323) which we discussed [here](https://github.com/dmlc/xgboost/issues/2321), Xgboost now supports the proper Sklearn parameter `'random_state'` and has deprecated the old parameter `'seed'`.  As a result, when running TPOTClassifier's fit method with the newe

[2017-05-26 16:14] weixuanfu2016 commented on #469
It is related to this issue #466

[2017-05-26 16:15] gaw89 commented on #469
Yes, sorry.  Just saw that.  Any updates on getting this compatibility issue fixed?

[2017-05-26 16:22] gaw89 commented on #469
Got it.  Closing this and installing your branch for now until it gets merged.

[2017-05-26 16:22] #469 closed

[2017-05-26 20:11] simonzcaiman commented on #468
Thanks guys. using cv=2 will solve the puzzle.
if one decides to use " roc_auc" score as the scoring function for TPOTClassifier object,
the internal CV will return "inf", when there is an exception occurred in the scoring function.
I wrote a sample code that can reproduce the error. It is because the roc_auc can only handle binary class labels. It will raise error for multiclasses.
However, tpot

[2017-05-26 20:11] #468 closed

[2017-05-30 16:14] rhiever commented on #312
This feature will be added in the upcoming 0.8 release. Thanks again @zoso95.

[2017-05-30 16:14] #312 closed

[2017-05-30 17:19] rhiever opened #470 "Rework docs to be more sklearn-like"
Currently the only docs were `sample_weight` and `groups` parameters are in the code. We should add a section to the docs for these parameters.

In fact, given the complexity of the project now, it would probably be helpful to rework the docs to look more like the [sklearn docs](http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html), where each object (and a

[2017-05-31 17:02] rhiever opened #473 "Create _pareto_front_fitted_pipelines regardless of the verbosity"
Currently, we only create `_pareto_front_fitted_pipelines` when `verbosity`=3. `_pareto_front_fitted_pipelines` is a useful TPOT property that users may want to access even with lower verbosity settings. Let's move the code that creates `_pareto_front_fitted_pipelines` outside of the if statement that checks the verbosity.

[2017-05-31 17:10] rhiever opened #474 "Refactor: _fitted_pipeline, _pareto_front_fitted_pipelines, and _evaluated_individuals"
`_fitted_pipeline`, `_pareto_front_fitted_pipelines`, and `_evaluated_individuals` are all internal attributes that we want to expose to the user. Thus, we should refactor them to *not* start with a `_` and actually end with a `_`.

We should also go through the code and make sure that all attributes that shouldn't be externally accessed start with `_`.

[2017-05-31 20:21] rhiever commented on #296
@teaearlgraycold is taking on this issue. He will be extending the `config_dict` parameter to support custom pipeline seeds.

[2017-05-31 20:56] rhiever opened #476 "Rename "classes" to "target" throughout TPOT"
At least for the TPOT interface that is accessible to the user, we should rename the "classes" variables to "target" because we support both classification and regression, and there is no concept of classes in regression.

Functions that need to be refactored:

* fit
* predict
* score

[2017-05-31 20:57] weixuanfu2016 commented on #476
Ok, I will take care it

[2017-05-31 20:58] #473 closed

[2017-05-31 20:58] #474 closed

[2017-05-31 21:07] #470 closed

[2017-06-01 20:16] ryanallen82 opened #478 "Input data is not in valid format"
When I try to fit on the X_train and y_train (from train_test_split) I get the following error:

ValueError: Error: Input data is not in a valid format. Please confirm that the input data is scikit-learn compatible. For example, the features must be a 2-D array and target labels must be a 1-D array.

Here is the code:

[code]
And the full error:

---------------------------------------------------

[2017-06-01 20:21] weixuanfu2016 commented on #478
From the error message `tpot.fit(X_train.as_matrix(), y_train.as_matrix())`, I think you may add `as_matrix()` in the codes. Could you try the codes again with `as_matrix()`?

[2017-06-01 20:22] weixuanfu2016 commented on #478
From the error message `tpot.fit(X_train.as_matrix(), y_train.as_matrix())`, I think you might add `as_matrix()` in the codes. Could you try the codes again without `as_matrix()`?

[2017-06-01 20:24] ryanallen82 commented on #478
No luck, then I get:

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-10-98a85d84ca90> in <module>()
----> 1 tpot.fit(X_train.as_matrix(), y_train.as_matrix())

/Users/m097654/anaconda/lib/python2.7/site-packages/tpot/base.pyc in fit(self, features, classes, sample_weight)
    397

[2017-06-01 20:26] ryanallen82 commented on #478
Oh sorry, I did both and neither worked.

From: Weixuan <notifications@github.com<mailto:notifications@github.com>>
Reply-To: rhiever/tpot <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, June 1, 2017 at 3:22 PM
To: rhiever/tpot <tpot@noreply.github.com<mailto:tpot@noreply.github.com>>
Cc: "Allen , Ryan M., M.S." <allen.ryan@mayo.edu<mailto:allen.ryan@mayo.edu>>, Author <aut

[2017-06-01 20:30] weixuanfu2016 commented on #478
Please try this codes below in your data and Let me know what happens.
[code]

[2017-06-01 20:34] ryanallen82 commented on #478
Done and dusted, I had NA's in my X_train. Did a fillna and it's golden. Thanks for helping me walk through it.

[2017-06-01 20:36] weixuanfu2016 commented on #478
My pleasure. BTW, next version of TPOT will have imputation function to deal with NA. #253

[2017-06-01 20:37] ryanallen82 commented on #478
Fantastic! This tools is quickly becoming an integral part of the 'experimentation' phase of my projects. Thanks for all the hard work.

[2017-06-01 20:40] #478 closed

[2017-06-01 20:48] #476 closed

[2017-06-01 20:58] rhiever opened #479 "TPOTEnsemble idea"
Many people have been asking for a version of TPOT that creates ensembles of pipelines, as that's what often wins Kaggle competitions etc. We've created prototypes of TPOT that ensemble the Pareto front or final population, but those prototypes didn't work so well because TPOT pipelines are optimized to perform well on a dataset by themselves. In other words, there is no pressure from TPOT to crea

[2017-06-02 01:48] rhiever commented on #479
I made a hacky demo of the TPOTEnsemble idea in [this commit](https://github.com/rhiever/tpot/commit/21a56ec082eb568c6ed6dcc1b804e11a2f474542).

It seemed to work fine in my tests, although it gets much, much slower as the generations pass because, e.g., by generation 100 every pipeline is being evaluated in a VotingClassifier with 99 other pipelines. The only reasonable solution seems to be to st

[2017-06-02 11:18] KhaledSharif opened #484 "Pipeline optimizer export uses old imports"
## Context of the issue

The ```pipeline_optimizer.export``` function uses an old import when it exports the pipeline to a Python file. Namely, the ```StackingEstimator``` class. (TPOT v0.8.0)

## Process to reproduce the issue

```pipeline_optimizer.export('tpot_exported_pipeline.py')```

## Expected result

```from tpot.builtins import StackingEstimator```

## Current result

```from tpot.built_

[2017-06-02 11:22] weixuanfu2016 commented on #484
Hmm, you are right! It need to be updated since we moved these built-in operators to the `builtins ` folders. I will make a patch soon!

[2017-06-02 11:30] weixuanfu2016 commented on #484
PR for the patch is posted! It maybe merged to master branch later. You may try my fixed branch just for now.

[2017-06-02 13:08] rhiever commented on #484
Whoops! Guess that one got overlooked in @teaearlgraycold's reorg PR. This fix will probably roll out on to master/pip later today.

[2017-06-02 13:08] #484 closed

[2017-06-02 22:45] ap307 opened #490 "v0.8.2 TPOTRegressor terminates prematurely"
Tried running the Boston housing price example on TPOT v0.8.2 in Python 3.6.

The fit() function runs for a few seconds, reaches a few percentage points, and then terminates. No pipeline is successfully fitted.

Code being run:

[code]

[2017-06-03 00:15] rhiever commented on #490
Can you please provide more details on your Python environment and OS? That example is running fine on my machines.

[2017-06-03 02:53] ap307 commented on #490
Running Python 3.6.1 on Windows 10. Appreciate the help.

[2017-06-03 04:08] ap307 commented on #490
Got the Boston housing price example to work after uninstalling xgboost v0.6. Appears that it's the interaction with xgboost that is causing the issue? Had installed it using pip install xgboost.

[2017-06-03 06:40] mglowacki100 commented on #458
I have very similar issue regardless pandas/numpy data (the same messages with verbosity=3).
For boston regression example training is running, but I have a dataset when it hangs at first pipeline...

[code]

[code]
[my_dataset.tar.gz](https://github.com/rhiever/tpot/files/1049425/my_dataset.tar.gz)

)

[2017-06-03 12:29] ap307 commented on #490
OK, I think the issue is resolved. Unfortunately v0.6a2 is not available on WIndows 10 as far as I can see at this stage.

[2017-06-03 13:55] rhiever commented on #458
Does it freeze when you set `n_jobs=1`?

[2017-06-03 13:57] rhiever commented on #490
TPOT has been a little finnicky with XGBoost, but the latest release should work with XGBoost 0.6a2. I just committed a patch that should add support in for 0.6. There's a weird issue where XGBoost stores both a `seed` and `random_state` parameter, both of which do the same thing, and XGBoost throws an error if they're not equal. Good times... thankfully they're fixing it soon.

BTW: You can insta

[2017-06-03 14:42] mglowacki100 commented on #458
Result is slightly different. CPU is still occupied as before, but a few pipelines were optimized before 'freeze'.
Note, that limits on `max_time_mins=2, max_eval_time_mins=1` are ignored or treated with big margin.

[code]

[2017-06-03 16:19] ap307 commented on #490
Great, this is working now (on a source install of xgboost v0.6 with GPU support).

Any plans to enable use of XGboost's GPU processing support through TPOT? That would allow for dramatically faster hyperparameter optimization.

[2017-06-03 17:55] #490 closed

[2017-06-04 15:12] rhiever commented on #458
Sometimes threads freeze and won't even respond to being interrupted. Do you have xgboost installed by chance? That's a common culprit.

[2017-06-04 15:14] rhiever commented on #490
I'm not sure what it would take to add XGBoost GPU support to TPOT. I'd imagine it entails that you can't set `n_jobs!=1`, but are there any additional contraints?

[2017-06-04 15:40] mglowacki100 commented on #458
Yes, I've xgboost installed. I've updated xgboost today, I'll check if this solves/mitigate problem.

[2017-06-04 16:03] mglowacki100 commented on #458
With newest xgboost, I've got error as below.
I've increased max_time_mins=20, max_eval_time_mins=3 but error appears after 1-2 minutes. So, probably this is a problem with xgboost.
[code]

[2017-06-04 16:19] ap307 commented on #490
In XGBoost you just have to able to pass the parameters `updater='grow_gpu_hist'` or `updater='grow_gpu'`.

I'm not sure what the interaction with n_jobs is as I've only started testing out the GPU functionality, but so far am able to run on GPU while specifying  `n_jobs=-1`.

Tested it out - you can pass that parameter explicitly in TPOT (together with `n_jobs=-1`) and it doesn't appear to throw

[2017-06-05 01:00] AIAdventures opened #492 "Titanic example -problem with 2nd last cell."
Hi all!
Want to enter in the automl comp.
Trying out the titanic example to get some familiarity with the software.
Running into some trouble with the above cell.
using python 3.6 on a linux machine.

![screenshot_2017-06-05_10-59-23](https://cloud.githubusercontent.com/assets/26102503/26766958/1a7ae70e-49de-11e7-9322-868b44f50beb.png)

[2017-06-05 01:01] AIAdventures commented on #492
![screenshot_2017-06-05_10-59-23](https://cloud.githubusercontent.com/assets/26102503/26766979/51e41b84-49de-11e7-8dfa-a5f00e5cf787.png)

[2017-06-05 14:38] rhiever commented on #490
Good to know. This sounds like a good topic to write up in the TPOT docs related to the [TPOT custom configuration interface](http://rhiever.github.io/tpot/using/#customizing-tpots-operators-and-parameters). Would you be willing to volunteer to draft that write-up, @ap307? :-)

[2017-06-05 15:19] rhiever commented on #458
What's your OS? Also, what's your xgboost version?

[code]
I assume this is still with `n_jobs=1`?

Have you tried running without xgboost installed? That could help narrow down whether it's xgboost causing the issue or not.

[2017-06-05 15:21] rhiever commented on #492
Can you please copy and paste the full stack trace from the `ValueError`? It looks like it's having issues reading the Titanic training data.

[2017-06-05 16:02] KhaledSharif opened #493 "Balanced accuracy function can incur a "division by zero" error"
## Context of the issue

[This line](https://github.com/rhiever/tpot/blob/master/tpot/metrics.py#L50) in the `balanced_accuracy` function can incur a division by zero error.

## Process to reproduce the issue

In multi-class classification problems, there may be a case for the `balanced_accuracy` function where `y_true == this_class` is False for all entries (`this_class` appeared in `y_predicted`

[2017-06-05 16:29] mglowacki100 commented on #458
- Ubuntu 16.04
- xgboost 0.6 - I've installed and build it directly from github
- n_jobs=1
I'll check it with xgboost uninstalled.

[2017-06-05 17:01] mglowacki100 commented on #458
With xgboost removed, one cpu 100% - more than 20 minutes without either break or pipeline optimization:
[code]

[code]
My data set:
[my_dataset.tar.gz](https://github.com/rhiever/tpot/files/1052608/my_dataset.tar.gz)

[2017-06-05 17:11] rhiever commented on #493
This does indeed seem to be possible in cases where the classifier predicts classes that are not in the test set. Probably doesn't happen very often :-) but worth addressing nonetheless.

I'm open to a PR making a change like the one you suggested. Whoever submits the PR, please include several example snippets proving that the outputs are the same in both versions of the function.

[2017-06-05 17:23] rhiever commented on #458
Thank you for posting your code and data. I'm able to reproduce your issue on my end as well. Can you please confirm that the following code---with TPOT using the TPOT light configuration---works on your end?

[code]

[2017-06-05 17:51] rhiever opened #494 "Add a list of related projects to the docs"
This can be another section in the docs. We should list some related AutoML projects that are open source:

* [Auto-Weka](http://www.cs.ubc.ca/labs/beta/Projects/autoweka/)

* [auto-sklearn](https://github.com/automl/auto-sklearn)

* [devol](https://github.com/joeddav/devol)

* [Xcessiv](https://github.com/reiinakano/xcessiv)

Please list more AutoML projects here.

[2017-06-05 18:24] mglowacki100 commented on #458
Yes, it works with 'TPOT light' config.
I've noticed mistake on my side, not relavant to this issue: `y_predict.to_csv('tpot1_prediction.csv')` , it should be `np.savetxt("tpot1_prediction.csv", y_predict, delimiter=",")`

[2017-06-05 18:42] rhiever commented on #458
OK. So it seems that certain (or just one) sklearn operator freezes on your dataset, and they must be operators that aren't in the [TPOT light configuration](https://github.com/rhiever/tpot/blob/master/tpot/config/regressor_light.py). Need to see what operators are in the [default config](https://github.com/rhiever/tpot/blob/master/tpot/config/regressor.py) The first culprits I suspect are:

* Ext

[2017-06-05 20:01] mglowacki100 commented on #458
I've checked them and they all seems to work (a few pipelines opitmized) with preprocessors disabled.
I suspect that polynomial features are cause of problem (initial dataset has about 300 feautere so, with polynomials we got additional 4500 feauteres, btw. we have only 4209 datpoints, so this could be also a culprit).
With polynomials commented, even n_jobs=-1 doesn't seem to be a problem.
[code]

[2017-06-05 20:03] rhiever commented on #458
That makes sense. When you fit PolynomialFeatures, does it use up all of your system's memory?

[2017-06-05 20:38] mglowacki100 commented on #458
No, it uses about 15gb of 64.
I've decreased number of features to 20 and it runs smoothly.
Most of my features has a lot of 0 and 1, it would be nice to have a factorization machine as operator.

[2017-06-06 11:09] AIAdventures commented on #492
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-24-74e286f9729e> in <module>()
      6
      7 # NOTE: Make sure that the class is labeled 'class' in the data file
----> 8 tpot_data = np.recfromcsv('/home/andrewcz/tpot/tutorials/data/titanic_train.csv', delimiter=',', dtype=np.flo

[2017-06-06 11:10] AIAdventures commented on #492
cheer Randy, the above is the full error.
I want to try tpot on the numerai dataset.
Many thanks,
best,
Andrew

[2017-06-06 11:11] AIAdventures commented on #492
great piece of software :)!
Best,
Andrew

[2017-06-06 19:49] rhiever commented on #492
It does indeed look like it's an issue reading the dataset. Specifically, numpy's `np.recfromcsv` function is detecting that there are 12 columns in the Titanic dataset (correct) but thinks there are 13 columns in several of the rows. Are you working on a copy of the Titanic dataset directly from our tutorials directory?

[2017-06-07 00:42] AIAdventures commented on #492
Yer, i am using the data in the example.
I might be that my numpy is just not up to date?
Will update numpy and re run through the example.

[2017-06-07 00:51] AIAdventures commented on #492
# NOTE: Make sure that the class is labeled 'class' in the data file
tpot_data = np.recfromcsv('/home/andrewcz/tpot/tutorials/data/titanic_train.csv', delimiter=',', dtype=np.float64)
features = np.delete(tpot_data.view(np.float64).reshape(tpot_data.size, -1), tpot_data.dtype.names.index('class'), axis=1)
training_features, testing_features, training_classes, testing_classes = \
    train_test_spl

[2017-06-07 00:51] AIAdventures commented on #492
the tpot data file is correct?

[2017-06-07 14:09] rhiever commented on #492
I see the problem now. We're using numpy's `recfromcsv` to read the file in, and telling is that the delimiter is a comma `,`. The problem arises when we have strings containing names in the data, as the names have commas in them. Thus, `recfromcsv` thinks there are 13 columns when there are in fact 12.

`pandas.read_csv` is smart enough to handle this situation, but apparently `recfromcsv` isn't.

[2017-06-07 14:11] rhiever commented on #492
In the meantime, @AIAdventures, you can change that code to:

[code]

[2017-06-07 15:21] weixuanfu2016 commented on #492
@rhiever I think we could go back to using pandas. If we use TFlearn in the future version of TPOT, the [`tflearn.load_csv`](http://tflearn.org/data_utils/#load_csv) can be a good alternative.

[2017-06-08 02:23] ap307 commented on #490
@rhiever happy to volunteer, but let me perform some testing to make sure there aren't any negative interactions with `n_jobs` or other parameters for large data sets. For example when using `updater='grow_gpu_hist'` trees are limited to a depth of 15 so if the maximum depth is not constrained in a `tpot_config` parameter XGBoost will terminate mid-run.

[2017-06-08 10:43] reiinakano commented on #479
Check this out: https://github.com/scikit-learn/scikit-learn/pull/8960

In the next release, scikit-learn is probably going to get an implementation of stacking classifier, so TPOT might be able to search stacked ensembles the same way it searches pipelines.

[2017-06-08 19:11] rhiever commented on #479
Awesome. I look forward to the next release, then!

[2017-06-08 23:33] AIAdventures commented on #492
yer, from my experience pandas data frames are more reliable than numpy arrays.
more of a focused product.
Thankyou for your help, i am now going to try the tool with the numerai dataset.
Many thanks,
Best,
Andrew

[2017-06-09 10:21] ap307 commented on #490
@rhiever getting some unexpected behavior with XGBoost.

Setting XGBoost as the only estimator in `tpot_config`, and applying XGBoost to a training set of approximately 180,000 observations with ~600 features (mostly one hot encoded categorical variables) - based on the [Allstate Claims Severity](https://www.kaggle.com/c/allstate-claims-severity) Kaggle challenge - it's taking multiple hours for p

[2017-06-09 16:31] rhiever commented on #490
@weixuanfu2016, do you think this could be happening because we still use joblib even when `n_jobs=1`?

[2017-06-09 16:31] rhiever commented on #492
Great, please feel free to reopen the issue if you have any other questions!

[2017-06-09 16:31] #492 closed

[2017-06-09 21:37] martinzc commented on #493
The suggested fix is not completely right. After I implemented it and tested on some simple test cases, it does not yield the same results. The tests are followed:

Result on [0, 1, 2, 3] and [0, 1, 2, 3]:
Original:
1.0
Fixed:
1.0
Result on [0, 1, 2, 3] and [1, 1, 2, 3]:
Original:
0.833333333333
Fixed:
0.75
Result on [0, 1, 2, 3] and [1, 2, 3, 4]:
Original:
ZeroDivisionError: float division by zer

[2017-06-09 22:06] martinzc commented on #493
Can we add this condition check?
if float(sum((y_true == this_class))):
    this_class_sensitivity = 0
else:
    this_class_sensitivity = \
            float(sum((y_pred == this_class) & (y_true == this_class))) /\
            float(sum((y_true == this_class)))
The reason is that if a predicted class is not in the test case, then it means the proportion of positives that are correctly identified a

[2017-06-09 22:12] KhaledSharif commented on #493
@martinzc: you are right. I believe this is because that, while both methods are trying to achieve the same thing (prediction accuracy per class that is insensitive to data-set imbalance), they are going about it differently. Adding safety to the original function instead is preferred if the goal is to keep the function output consistent.

[2017-06-10 01:36] weixuanfu2016 commented on #490
Maybe, I need test it after coming back from vocation.

"If you want to run XGBoost process in parallel using the fork backend for joblib/multiprocessing, you must build XGBoost without support for OpenMP by make no_omp=1"

Above is noted In this link:
https://github.com/dmlc/xgboost/blob/master/python-package/README.rst

[2017-06-10 08:18] reiinakano opened #495 "Question about implications of LGPL"
Apologies if this isn't the correct place to ask the question, but I was wondering what the implications of TPOT's LGPL license are in relation to using it in my own open source projects.

Xcessiv is currently under Apache 2.0 and I was wondering if I used TPOT (i.e. just ``import TPOT`` without changing any of TPOT's source code), I would have to switch Xcessiv to use LGPL as well? Thanks!

[2017-06-10 19:24] mi7plus commented on #335
Hello all! Is there any progress on this topic? I am very interested.

[2017-06-12 19:14] weixuanfu2016 commented on #495
I think you need relicense Xcessiv for importing TPOT based on the [link](https://www.apache.org/legal/resolved.html#category-x).

[2017-06-12 22:38] wxchan commented on #466
I just made a commit in xgboost https://github.com/dmlc/xgboost/pull/2378, I think may solve your issue here.

[2017-06-13 11:08] reiinakano commented on #495
I actually realized that because of how Xcessiv is built, I wouldn't actually need to do `import TPOT`.

I'd just be using Python's duck typing and assume I'm working with a TPOT object. It's not even a hack or a workaround, as for my particular use case, it's literally the straightforward way to do things.

Of course, now my question is if I could include TPOT in my setup.py as a dependency. Woul

[2017-06-13 13:05] rhiever commented on #495
If you import TPOT as a core part of the software you release, then yes, our understanding of the LGPL is that you must relicense Xcessiv to LGPL as well. An exception to this is if you're using the code exported from TPOT, though, which does not have the LGPL license applied to it.

Including TPOT in your `setup.py` should not entail that requirement. It sounds like you found a good workaround fo

[2017-06-13 13:35] reiinakano commented on #495
Neat. Thanks for clarification!

[2017-06-13 13:35] #495 closed

[2017-06-13 16:36] rhiever commented on #466
Thanks @wxchan! Glad to see this fixed in future versions of XGBoost.

[2017-06-13 21:03] weixuanfu2016 commented on #466
Nice! This PR was already merged to master branch of xgboost. I tested it and the API issue is fixed!

[2017-06-14 07:00] tnlin commented on #494
Maybe should create an awesome list?
Here is another one call [automl](https://github.com/ClimbsRocks/auto_ml)

[2017-06-14 15:06] rhiever commented on #493
Fix is merged into dev. Thanks again all.

[2017-06-14 15:06] #493 closed

[2017-06-14 15:10] rhiever commented on #494
Thanks @tnlin! I'll be honest: I'm not a fan of the awesome lists. :-) So I'll probably just keep it to a section of the docs for TPOT.

[2017-06-14 15:17] #423 closed

[2017-06-14 19:33] rhiever commented on #394
@teaearlgraycold has taken this issue on.

[2017-06-14 19:35] #185 closed

[2017-06-14 19:38] rhiever commented on #494
@teaearlgraycold is taking on this issue.

[2017-06-14 20:41] simonzcaiman commented on #479
Ensemble of pipelines would be a great improvement for TPOT!
Will it be better if there is a stacking model selection as well? For example, if one does not want to use a VotingClassifier as the stacking model, can he also use another TPOT pipeline optimization to choose the best stacking model?

[2017-06-14 22:18] rhiever commented on #479
@simonzcaiman, this is certainly something we should discuss now before we move forward with actual implementation of TPOTEnsemble. It seems like a good idea to allow different ensemble methods, but I only know of the ones in VotingClassifier from sklearn. Are there are ensemble methods (preferably with a sklearn-like interface) that we should be aware of?

[2017-06-15 13:45] korcky opened #499 "fit() doesn't end properly (no best pipeline)"
fit() method don't even trying find best pipeline.

## Context of the issue

I'm trying to find parameters for my ensemble regressor, but when number of models for ensemble increase fit() method doesn't end properly - ending but don't even trying find best pipeline.

## Process to reproduce the issue

I'm using custom config dictionary, like this:
[code]
Then:
Step 1. `tpot = TPOTRegressor(..., co

[2017-06-15 14:17] weixuanfu2016 commented on #499
A nice way to use TPOT. `config_dict` allows this kind of nested estimator as shown in our default [`config_dict`](https://github.com/rhiever/tpot/blob/master/tpot/config/regressor.py#L177-L185)  and we do not limit max number of parameters. Could you please use `verbosity=3` in `tpot = TPOTRegressor(..., config_dict=config_dict)` to check more detailed error message?

[2017-06-15 17:31] #215 closed

[2017-06-15 18:34] korcky commented on #499
Nice way to use such a nice thing. With `verbosity=3`:
[code]
Output:
[code]

[2017-06-15 19:04] weixuanfu2016 commented on #499
Hmm, it seems that `_pre_test decorator` printed out too many error messages. But I don't understand why these error messages were "Model*". Also, it seems that some pipelines passed `_pre_test` and should be passed to evaluation step to get CV scores. But no stdout showed up?

Please try the codes below to
[code]

[2017-06-15 20:26] korcky commented on #499
Doesn't work: `tpot.evaluated_individuals_` is empty.

[2017-06-15 20:40] weixuanfu2016 commented on #499
Hmm, it means that no valid pipeline can be randomly generated in the founder population (generation 0) or no pipeline has been a valid CV score

I changed that codes a little bit as below to check if these pipelines are generated and valid:

[code]

[2017-06-15 20:41] weixuanfu2016 commented on #499
Hmm, it means that no valid pipeline can be randomly generated in the founder population (generation 0) or no pipeline has been a valid CV score

I changed that codes a little bit as below to check if these pipelines are generated and valid:

[code]

[2017-06-15 21:00] korcky commented on #499
Got this (`...` - just a lot of parameters):
[code]

[2017-06-15 21:04] weixuanfu2016 commented on #499
Sorry, I changed `training_features` and `training_target` to `pretest_X_reg` and `pretest_y_reg` in the codes. Could you please try it again?

[2017-06-15 21:05] weixuanfu2016 commented on #499
And not fit() needed.

[2017-06-15 21:09] weixuanfu2016 commented on #499
Oh, just notice the scoring function for regression should be `neg_mean_squared_error `. I just updated codes in the comments above
cv_scores = cross_val_score(sklearn_pipeline, pretest_X_reg, pretest_y_reg, cv=5, scoring='neg_mean_squared_error', verbose=0)

[2017-06-15 21:17] korcky commented on #499
Negative score and, again, can't find one of the models:
[code]

[2017-06-16 02:40] weixuanfu2016 commented on #499
I figure out that the `KeyError` is due to a bug about `DEFAULT` value in these parameters of these stacked estimators in Ensemble. I just made a PR to fix this bug.

Before this PR is merged to dev branch or master branch. You may try my branch for testing if it works in your Ensemble method. The command below may help you to install the branch. Please let me know if this PR fix your issue.

[cod

[2017-06-16 09:24] korcky commented on #499
Score is still negative (in your code) but fit() end properly, score in `print(tpot.score(X_test, y_test))` correct, and with `verbosity=3` no lines like this:
[code]
I think that now all works. Thank you!

[2017-06-16 17:12] rhiever commented on #499
PR is merged into the dev branch now.

[2017-06-17 13:34] #499 closed

[2017-06-19 15:14] sashml commented on #479
Not sure if you should, but Sebastian has own Stacker here https://rasbt.github.io/mlxtend/user_guide/regressor/StackingRegressor/

[2017-06-19 20:48] JeremieGuez commented on #284
Hi guys,

I am trying to install xgboost on my mac (10.12.5) and after several attempts I did not succeed. I follow different tuto trying to modifi gcc variable by adding gcc-6 but I have the same problem.

So what I did:

1. git clone --recursive https://github.com/dmlc/xgboost
2. cd xgboost; cp make/minimum.mk ./config.mk; make -j4

I have the following error:

[code]
My gcc version is:

[code]

[2017-06-19 21:24] rhiever commented on #284
This is probably a better question to ask on the [XGBoost repo](https://github.com/dmlc/xgboost/issues). But my first thought is you should try installing XGBoost via Anaconda: `conda install py-xgboost`

If that doesn't work, I suggest filing an issue on the XGBoost repo.

[2017-06-19 21:48] JeremieGuez commented on #284
thanks, i will also report  on XGBoost repo. I don't use conda so I will be not abble to try your solution.
Thanks for your answer.

[2017-06-21 17:55] rhiever commented on #79
Checkpointing of the best pipeline from every generation has been added to the dev branch and will be included in the next release.

[2017-06-21 22:09] dartdog opened #503 "Tpot examples do not seem to differentiate/evolve?"
Running the example the initial optimization values found do not change?

## Context of the issue

so for instance on the Iris classifier example I ran it and got the following:

/home/tom/anaconda3/envs/py36n/lib/python3.6/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactore

[2017-06-21 23:30] manugarri commented on #79
Neat! Looking forward to it

[2017-06-21 23:48] weixuanfu2016 commented on #503
I think the population size of 50 and generation number of 5 in examples may be too small to show evolving.

[2017-06-22 14:04] rhiever commented on #503
Right. Does it work better if you set `population_size=100` and `generations=100`? The examples are meant to run fast, but they're not ideal parameter settings.

[2017-06-22 19:01] slavakurilyak commented on #265
For inspiration, check out **AutoNet** by auto-sklearn ([Paper](http://proceedings.mlr.press/v64/mendoza_towards_2016.html), [Source Code](https://github.com/automl/auto-sklearn/pull/223))

[2017-06-22 21:23] PG-TUe commented on #503
Actually, while working on a new extension to TPOT, I found the same issue to be true.
There are a significant amount of duplicates being produced both within the same generation and cross generations.
I have not yet tried to figure out the cause.
I made a very brief write-up [here](https://github.com/PG-TUe/MyNotepad/blob/master/TPOT/TPOT_Repeating_pipelines.ipynb).

[2017-06-22 22:12] rhiever commented on #503
Wow, that's a lot of duplicates! I wonder if we can change the mutation/xover functions to only produce individuals not in the cache using the pre_check function, @weixuanfu2016?

[2017-06-22 22:29] dartdog commented on #503
FWIW I upped the pop size to 150 on the iris example and 1st gen at .990909090909091 with no changes beyond that in subsequent generations was looking for something to really show the power that I assume is here!

[2017-06-22 23:25] PG-TUe commented on #503
@dartdog Good to hear! Indeed, the initial population seems to be generated a fairly diverse :) so that would align with getting better results by increasing population size (even in the 1st generation).

@rhiever I think you can do this in the `_random_mutation_operator` and `_mate_operator` functions by rewriting them from
[code]
to
[code]
Of course you probably want to use a for-loop defining s

[2017-06-22 23:58] PG-TUe commented on #503
Oops! It turns out the problem does exist, but is not as severe as stated in the notebook.
I made a mistake on when to log the population, over representing the amount of duplicates and cache hits.
I am currently rerunning the experiment, so far it seems that there are still a fair number of cache hits and duplicates, but not nearly as many (maybe 10~40% instead of near 100%).

[2017-06-23 00:00] weixuanfu2016 commented on #503
@rhiever that is a good idea. I will work on it.

@PG-TUe thank you for the notebook and idea. Maybe my understanding of `cache_hits` in your plots is not right. I may a quick [test branch](https://github.com/weixuanfu2016/tpot/tree/issue503) based on master branch in my forked repo to check how many unique new individuals in each generation (since [this line](https://github.com/rhiever/tpot/blob/

[2017-06-23 00:17] PG-TUe commented on #503
@ weixuanfu2016  No, your idea of cache hits was correct. As stated just before you made your post (you probably missed it since you were typing yours), I made a mistake raising cache-hits significantly (specifically, I counted logged the  `population` instead of `offspring`, meaning I only looked at what remained after `selection`).

My new results are just in (with correct logging) and results a

[2017-06-23 00:19] weixuanfu2016 commented on #503
@PG-TUe thank you for double-checking  it!

[2017-06-23 00:20] PG-TUe commented on #503
I still think the suggested changes to  `_random_mutation_operator` and `_mate_operator`, or alternatively `_pre_test` would be a good!

[2017-06-23 00:29] weixuanfu2016 commented on #503
Thank you for the suggestion. I have a little concern that it might cause a infinite loop. Could you please make a PR for these suggested changes? We could test it later.

[2017-06-23 00:58] weixuanfu2016 commented on #503
@PG-TUe I will work on this PR and test it since it is just some small changes.

[2017-06-23 10:33] PG-TUe commented on #503
@weixuanfu2016 I actually worked on this before I managed to check in here ^^;;
I'll put up a pull request with my changes when I round it up, then you can compare and see if you want to use some of it.

[2017-06-23 13:03] dartdog commented on #503
FYI my new results following the advice here, now shows progress, I do have xxgboost installed so that is why I don't get that message,, but wondering, why don't I get these lines?

    Number of new vaild pipelines in currect generation: 35
also would be very nice to have more insight as to what is going on internally? What is being tried?

    from tpot import TPOTClassifier
from sklearn.dataset

[2017-06-23 13:29] PG-TUe commented on #503
@dartdog
You do not get the line about the new valid individuals because that is something @weixuanfu2016 added himself when trying to evaluate your issue, for his local version of TPOT only.

From the top of my head, I am not sure what is exposed in the most recent version of TPOT, but I think you can access results of all evaluated pipelines with `tpot.evaluated_individuals_`. What kind of extra

[2017-06-23 13:38] PG-TUe commented on #503
@weixuanfu2016 I worked on the issue, my work can be found here: https://github.com/PG-TUe/tpot/tree/no_repeats
Specifically I changed:
* Crossover will keep trying to do new crossovers until one that has not been evaluated before has been found.
* Mutation will keep trying to do new crossovers until one that has not been evaluated before has been found.
* Mutation will no longer consider the `mut

[2017-06-23 13:54] dartdog commented on #503
tpot.evaluated_individuals_ looks quite helpful... at this point all I can think of is maybe a way to pretty the output  up?

[2017-06-23 13:58] PG-TUe commented on #503
@dartdog
The only thing that comes to mind for this is changing
[code]

into

[code]

while running and

[code]
to
[code]

Anything else you had in mind?

[2017-06-23 14:23] dartdog commented on #503
actually the output of tpot.evaluated_individuals_ in a more attractive format? It is a bit dump like...
[code]

[2017-06-23 14:44] PG-TUe commented on #503
Okay, that makes sense.
This field has only been recently officially exposed, the dump you see is because an internal dictionary simply gets put out to the screen.
For people wanting to access the TPOT objects themselves, this dictionary is useful as is.
I think perhaps the best solution is to also present a nicer, better legible option for those who just want to immediately gain some insight into

[2017-06-23 14:57] dartdog commented on #503
feel free to close as to not pile things up

[2017-06-23 15:10] PG-TUe opened #504 "Allow TPOT to run for the shortest (or longest) between generations and max_time_mins"
When I set-up an experiment, I often find myself wanting to execute a set number of generations, but cut off if it exceeds X minutes.
For example, I want to run TPOT for 100 generations, but only use at most 60 minutes of time.
I can also imagine someone would want to do the exact opposite; run TPOT for at least 100 generations, but also run for at least X minutes of time.

As is, you can only pic

[2017-06-23 15:24] PG-TUe commented on #504
I am not sure what the best way to do this is.
The first thing that comes to mind is redesigning the parameters this way: replace `max_time_mins` with `duration_mins` and add `stop_at_first_criteria` (bool)

If either only  `duration_mins` or `generations` is specified, then it will run for X minutes or generations, respectively (regardless of `stop_at_first_criteria`).

When both  `duration_mins`

[2017-06-23 15:31] PG-TUe commented on #503
@dartdog Will do once the respective pull request is made.
@weixuanfu2016 Let me know if you think I should just send a PR for the fixes as I implemented them.

[2017-06-23 16:08] NirantK opened #505 "tpot installation failure with windows error 87"
tpot installation failure with windows error 87 in conda environment

## Installation Failure

System: Windows 7 64 bit
Python 3.6.1
Anaconda 4.3.21

## Process to reproduce the issue

Install all packages in environment as mentioned in [guide](http://rhiever.github.io/tpot/installing/).
Next command: Try ```pip install tpot```

## Expected result
 ```tpot``` installed successfully

## Current res

[2017-06-23 16:44] weixuanfu2016 commented on #503
@PG-TUe Thank you for the fixes.

For crossover, I think only one individual with at least 2 Primitive in a pair can make a crossover. We also need to change [crossover operator](https://github.com/PG-TUe/tpot/blob/0aab429d99b4af2090df5b429c54adb5b3ca5bd9/tpot/gp_deap.py#L230-L240) for this purpose. For example:
[code]

Though crossover may not make big difference comparing with mutation.

I think

[2017-06-23 17:12] weixuanfu2016 commented on #504
Thank you for your suggestion. I agree with the scenario when `stop_at_first_criteria` is `True`. It is a little confused about the scenario when `stop_at_first_criteria` is `False`. I feel that the parameter `stop_at_first_criteria` is not very clear. @rhiever do you think that we should add this function?

[2017-06-23 17:28] weixuanfu2016 commented on #505
I think it is a issue related to python 3.6 in Windows OS. (See the [related issue](https://github.com/pytest-dev/py/issues/103)). For now, please try to use conda install python 3.5 environment (check this [instruction](https://conda.io/docs/py2or3.html#create-a-python-3-5-environment)). We will try to make a patch to fix this issue.

[2017-06-23 17:40] PG-TUe commented on #503
@weixuanfu2016 The length of an individual is defined by the number of primitives *and* terminals.
You have crossover given two individuals with only one terminal, try this example where two one-terminal individuals perform crossover by swapping a terminal:

[code]

So two individuals are eligble for crossover if they have any one terminal in common.
For TPOT, we want to select any two individuals

[2017-06-23 17:50] weixuanfu2016 commented on #505
I just created a python 3.6.1 (Anaconda 4.4.0) in my Window OS (using GitBash on Windows 10) environment but the `pip install tpot` works (see the log below). Maybe it is a issue on Windows 7. Could you please also update your conda environment of pyhon 3.6.1 to check if this is a issue of anaconda version?
[code]

[2017-06-23 18:10] dartdog commented on #503
Further,, (sorry)
when running the same example i get:

[code]

[2017-06-23 18:40] weixuanfu2016 commented on #503
the scores in `tpot.evaluated_individuals_` is average CV scores from [`cross_eval_score`](http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.cross_val_score.html). The output of `tpot.score` is fitness score of the best pipeline (see [these lines](https://github.com/rhiever/tpot/blob/master/tpot/base.py#L666-L671))

[2017-06-23 18:41] weixuanfu2016 commented on #503
the scores in `tpot.evaluated_individuals_` is average CV scores from [`cross_eval_score`](http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.cross_val_score.html). The output of `tpot.score` is fitness score of the best pipeline (see [these lines](https://github.com/rhiever/tpot/blob/master/tpot/base.py#L666-L671)) @dartdog

[2017-06-23 19:23] rhiever commented on #504
You're indeed right that the `generations` and `max_time_mins` parameters are in conflict with one another. When we implemented `max_time_mins`, we purposely decided to have `max_time_mins` override `generations` because `max_time_mins` is a more practical way to tell TPOT how long it has to run its optimization procedure, whereas `generations` is more for users like ourselves who want to run fixe

[2017-06-23 23:41] PG-TUe commented on #504
And for user specified number of generations, combined with `max_time_mins`, just have the current behavior? In that case I would just leave it as is and have the behavior be consistent.

But you are probably right in that specifying by generations is probably not that important in practice (compared to specifying by time).

[2017-06-24 07:08] NirantK commented on #505
Thanks for the suggestion @weixuanfu2016 .
Changing from Anaconda 4.3.x to 4.4.x did not solve the issue.
I am able to install ```tpot``` outside the environment. That is sufficient for now.

PS: Do I close the issue?

[2017-06-24 11:43] weixuanfu2016 commented on #505
I also tested in a Win 7 virtual machine and the issue did not happen. Maybe it is just a conda environment issue. You could close it for now.

[2017-06-24 12:26] #505 closed

[2017-06-24 14:52] rhiever commented on #504
In my proposed solution, if the user specifies `max_time_mins` *and* `generations`, then TPOT would quit either when `max_time_mins` is exceeded *or* `generations` iterations have passed. So TPOT could take less than `max_time_mins` if it completes `generations` iterations before that time limit, i.e., it won't continue until `max_time_mins` has elapsed as it currently does.

[2017-06-24 15:04] rhiever opened #507 "Add a built-in configuration dictionary for machine learning with text data"
We can support machine learning with text data in TPOT by adding the [CountVectorizer](http://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.CountVectorizer.html) and [TfidfVecorizer](http://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfVectorizer.html#sklearn.feature_extraction.text.TfidfVectorizer) to a separate built-in configuration d

[2017-06-24 17:38] teaearlgraycold commented on #507
How would the text be passed to `fit`/`transform`? Right now we only handle float values for features, but both of these operators expect blocks of text.

[2017-06-24 18:36] PG-TUe commented on #504
Okay, I understood that wrong then.
Does this take the ability away for a user to specify a certain duration (and not generations)?
Or would you for example then maybe allow an extra generations value (`none` or so) to indicate `max_time_mins` should be the only stopping criteria?

[2017-06-24 19:37] weixuanfu2016 commented on #507
Maybe we need a new text classification mode rather than a config file for transforming text input by the two operators.

[2017-06-24 21:02] dnuffer opened #508 "max_eval_time_mins parameter doesn't stop a long-running eval"
During `fit()`, I noticed that some evaluations were running for over an hour even though the `max_eval_time_mins=5`.
This is because the code is not actually stopping the thread doing the eval.

In `class Interruptable_cross_val_score`, `stop()` is not actually interrupting the thread, but instead calling `self._stopevent.set()`, which doesn't stop the thread because nothing is checking that even

[2017-06-24 23:22] weixuanfu2016 commented on #508
Thank you for suggestion. I will look into it. One of my branches uses `stopit` module for timeout function. I need to check if it is better than daemon thread solution.

[2017-06-25 06:20] ziarahman commented on #507
@weixuanfu2016, I like the idea of 'new text classification mode' .

@rhiever , thank you for opening this up for discussion. You mentioned CountVectorizer & TFIDFVectorizer. What about [HashingVectorizer](http://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.HashingVectorizer.html#sklearn.feature_extraction.text.HashingVectorizer)?

[2017-06-26 20:07] rhiever commented on #507
@teaearlgraycold, taking your example, it could work like this:

[code]

We would indeed need to change the dataset validation procedure when `config='TPOT text'`.

@ziarahman, I haven't used the HashingVectorizer. Does it take input data in the same format as the other two vectorizers?

[2017-06-26 21:00] weixuanfu2016 commented on #507
how about `fit(features (non-text data), text, target)`? CountVectorizer & TFIDFVectorizer can be used on text data only and then stacking them in pipeline as below:

[code]

[2017-06-26 21:03] teaearlgraycold commented on #507
That'd work, but would make for an even messier fit function

On Mon, Jun 26, 2017, 4:07 PM Randy Olson <notifications@github.com> wrote:

[2017-06-26 21:19] weixuanfu2016 commented on #507
Agree. Maybe we need `fit_params` in fit() to organize`weight`, `groups`  and `text_input` parameters as scikit-learn does.

[2017-06-26 21:20] weixuanfu2016 commented on #507
`fit_params` can take a parameter dictionary for these parameters.

[2017-06-26 23:12] ajing opened #511 "Will imputer be part of the exported pipeline?"
My data has some missing values. After running TPOT, the generated pipeline doesn't have any imputer. The model in the final pipeline is ExtraTreeRegressor, which requires no missing values. Is that normal?

[2017-06-26 23:58] weixuanfu2016 commented on #511
Hmm, the default imputer `Imputer(strategy="median", axis=1)` in TPOT is very simple as a step of preprocessing if imputer is not specified. The current version of TPOT won't export the imputation step. Maybe we should add this step in exported codes as demo below? @rhiever

[code]

[2017-06-27 02:47] ziarahman commented on #507
@rhiever, as far as I know, yes, HashingVectorizer takes input data the same way as the other two vectorizers. Even though TFIDF and Count vectorizers are more popular for text classification with ML, Hashing vectorizer is mostly used when the text corpus is large.

[2017-06-27 06:23] teaearlgraycold commented on #507
I think that the best solution here is to decompose `TPOTBase.fit()` into a series of smaller functions, then implement a separate fit function for each of `TPOTClassifier`, `TPOTRegressor` and a new `TPOTText`. That way there doesn't need to be a ton of code like:

[code]

Might need to do something similar for `_evaluate_individual()`.

[2017-06-27 15:07] rhiever commented on #511
Seems reasonable to add the imputation step to the exported pipeline if missing data was in the training data. Perhaps we can store an internal boolean variable indicating whether missing data was in the training data, and add the Imputer to the exported pipeline if True?

cc @teaearlgraycold

[2017-06-27 15:09] rhiever commented on #508
@weixuanfu2016's PR that should fix this issue is merged on to the development branch. @dnuffer, can you try the dev branch and let us know if that corrects your issue?

[2017-06-27 15:35] rhiever commented on #507
Is text classification such a fundamentally different problem type that it requires a new TPOT class? Once the text is converted to a bag-of-[words, ngrams, etc.] representation, we're working with a regular feature matrix again. Maybe it'll be a sparse matrix, but it's still a feature matrix.

Here's an example of using sklearn pipelines to CountVectorize (etc) specific columns in a dataset: [lin

[2017-06-27 15:56] rhiever commented on #507
This sklearn issue seems relevant to our conversations here: https://github.com/scikit-learn/scikit-learn/pull/9012

[2017-06-27 15:58] rhiever commented on #504
That seems like a good idea to support both use cases.

[2017-06-27 20:10] teaearlgraycold commented on #511
Sure, that's easy enough.

[2017-06-27 22:40] CSNoyes opened #513 "TPOT Output Inconsistent with Exported Pipeline Crossval Results"
Using TPOT to optimize a classifier on a set of time-series data, using any of the exported pipelines (with identical data, cross-validator, model) gives different (and significantly worse) results.

To reproduce, I've uploaded the dataset here: https://drive.google.com/file/d/0B_shzyNv2gBQdGdHTHNTUEdsU3M/view?usp=sharing
[code]

Running the below snippet, I get outputs that get to about 60% accur

[2017-06-27 23:57] weixuanfu2016 commented on #513
I think this issue is about non `random_state` in export codes in TPOT output. Below is a small demo to reproduce the issue. You may also use the demo to add `random_state` to your pipelines for consistent CV score. (Note, the old API of xgboost use `seed` for random seeds.)

[code]

[2017-06-28 00:42] CSNoyes commented on #513
Fantastic, thank you. A suggestion: for problems where the data is extremely noisy, it might be good to make TPOT reseed the random weights of each model at each generation, such that a model that is good in a very noisy dataset with a certain random weight will be less likely to be selected as a top performing genome.

[2017-06-28 01:00] #513 closed

[2017-06-28 01:05] CSNoyes opened #514 "Make TPOT Robust for Noisy Datasets"
I recently raised #513, which had to do with the random_state in TPOT being a (false) contributing factor to the selection of the top pipeline. For the problem referenced there, the problem was not intractable (logistic regression with some preprocessing, a deterministic model) gave 59% classification accuracy, which is actually great.

For highly noisy datasets, I would recommend adding an option

[2017-06-28 14:02] weixuanfu2016 commented on #514
@rhiever Do you like this idea? I think a piratical way for adding random seed is to add `random_state` into built-in configuration of operators, like `'random_state': [42, 84, 100,...]` for operators with this parameters. Or we can add this function into `self._add_terminals()`

[2017-06-28 20:22] rhiever commented on #514
The reason we evaluate all TPOT pipelines with a specific `random_state` is so the pipeline will give a consistent score every time they are evaluated. If pipelines gave different scores every time they were evaluated, then it would be problematic for us to rank pipelines because, as you said, some pipelines can just get "lucky" with a particular seed. Also, having pipelines with a fixed seed is a

[2017-06-29 03:48] CSNoyes opened #516 "tpot.evaluated_individuals_ to pipeline"
Is there a helper function to convert pipelines represented as strings into sklearn pipeline objects? This isn't in the documentation but I assume there must be.

For example, the following individual from evalued_individuals_:

`LinearSVC(PolynomialFeatures(input_matrix, PolynomialFeatures__degree=2, PolynomialFeatures__include_bias=False, PolynomialFeatures__interaction_only=False), LinearSVC__C

[2017-06-29 04:11] weixuanfu2016 commented on #516
Note: just edit some codes on the comments above because of messing up `tpot_obj` and `tpot`

[2017-06-29 06:17] CSNoyes commented on #516
Thanks @weixuanfu2016 that works perfectly. The key line here is
`deap_pipeline = creator.Individual.from_string(pipeline_string, tpot._pset)`

Worth noting for others that the tpot object can be an unfit object of the same model (TPOTClassifier or TPOTRegressor) used for tpot._pset.

I'll try to find some time this weekend to work on the documentation if that is something you guys would find help

[2017-06-29 10:34] tiefan opened #517 "run tpot says missing dll"
I followed the steps and successfully installed tpot, but i failed to run tpot. It says missing **libgomp-1.dll**

## Context of the issue
I followed the steps and successfully installed tpot, but i failed to run tpot. It says missing **libgomp-1.dll**
my os is windows 7 64, and i use python 3.5 and conda

**Here is info from jupyter notebook when I try the iris example:**
OSError

[2017-06-29 11:26] weixuanfu2016 commented on #517
It seems a Xgboost import error. Could you try the command `from xgboost import XGBClassifier`? I think it may reproduce the error. If so, please uninstall or reinstall xgboost. If not, please let us know which version of xgboost is in your environment.

[2017-06-29 14:26] rhiever commented on #516
Feedback (and PRs) on the docs are always welcome!

[2017-06-30 03:21] tiefan commented on #517
thanks a lot @weixuanfu2016 , i confirmed it is a xgboost error. after i uninstalled xgboost, everything works fine. then i reinstalled xgboost, the error still exists. my xgboost version:

C:\Users\tiefan>conda install py-xgboost
Fetching package metadata ...........
Solving package specifications: .

Package plan for installation in environment C:\Program Files\Anaconda3:

The following NEW pack

[2017-06-30 11:48] weixuanfu2016 commented on #517
Hmm, not sure why the conda recipe of xgboost is not working in Windows. Maybe you need install xgboost following [official installation guide](http://xgboost.readthedocs.io/en/latest/build.html)

[2017-06-30 21:35] ktran9891 opened #520 "Pickling TPOT Objects"
Are we able to pickle TPOT objects (e.g., `TPOTRegressor()`)?

## Context of the issue

I prefer to work with the TPOT object instead of the exported pipeline, since I am accustomed to SKLearn (e.g., using `TPOT.predict()`). I also do not store my data in csv files, and so it is cumbersome to modify exported pipelines to fit my needs.

As such, I would love to be able to save the object for later

[2017-07-01 14:24] tjvananne commented on #520
I was just about to ask this same question:

The "**warm start**" feature is really awesome, but it would be significantly better if there were also some way to save/serialize  your current TPOT object as-is and then be able to load it back into memory later.

When I tried pickling my TPOT object that had already processed a few generations, I received this error:

    cannot serialize '_io.TextIO

[2017-07-02 19:47] dnuffer commented on #508
I tried the development branch, and it didn't fix the issue. I'm think it's probably because the stopit module is a pure python solution and so can only interrupt a thread once it runs some python code, and since the core of most ml training algorithms is written non-python code, stopit won't get a chance to interrupt the thread.

I also tried my earlier suggestion, but it doesn't work because a p

[2017-07-02 20:23] weixuanfu2016 commented on #508
Hmm, interesting. Thank you for these tests. I will look into it.

[2017-07-03 15:51] ps2802 commented on #314
@rhiever When I try conda update scikit-learn, I am getting this error

`PackageNotInstalledError: Package is not installed in prefix.
  prefix: /anaconda
  package name: scikit-learn

`

[2017-07-04 22:28] mrgloom opened #521 "Using my own csv loader"
I'm trying to reproduce MNIST result using my own csv loader. Howewer it eat too much memory(>100Gb)and I stopped process with `Optimization Progress: 0%`.

Here is the code:

[code]

I'm using default `tpot_mnist_pipeline.py`

[code]

What can cause this problem?

Running default example seems ok:

[code]

[code]

[2017-07-05 08:40] CSNoyes commented on #508
I can report similar issues. Using the development branch also does not fix it.

[2017-07-05 13:54] weixuanfu2016 commented on #521
Hmm, I am not sure what is wrong in code about `np.genfromtxt`. I tried `load_train_data` with the MNIST download from this [link](https://pjreddie.com/projects/mnist-in-csv/) and no error happened.

Maybe your issue is related to #492 . Could you please try `pandas` module instead of `numpy` for reading input data? Below is a demo:

[code]

[2017-07-05 16:39] weixuanfu2016 commented on #508
I just posted a PR #522 and use the way in `hyperopt-sklearn` to kill child process. Could you try this branch and let us know if that corrects your issue using the command below? @dnuffer @CSNoyes

[code]

@rhiever  For this way, I need use `threading` backend in joblib instead of `multiprocessing`. It maybe not as efficient as before in parallel computing.

One drewback is that CTRL+C only works

[2017-07-05 19:55] CSNoyes commented on #508
@weixuanfu2016 Tested on OSX 10.12 and Ubuntu 14.04 with high dimensionality dataset (I think poly features was getting stuck), looks good so far. Will update if it creeps back in.

[2017-07-06 18:41] teaearlgraycold opened #523 "Define TPOT pipelines with a configurable grammar"
Currently, TPOT's pipelines are loosely structured, requiring only that they end in an estimator. Allowing for a configurable grammer in BNF would allow for more a intelligent pipeline structure and more research opportunities.

[2017-07-07 02:10] djKooks opened #524 "API for report"
Hello! Thanks for a good project first.

Instead of export py code file, is there some kind of API for returning report of Classification/Regression research result? It is good to suggest optimized code, but some one may be want to know the result as report.

This is just a suggestion. If this concept is not fit with this project, please ignore it.
Thanks!

[2017-07-07 17:38] rhiever commented on #524
TPOT integrates directly with the scikit-learn API, so you could use a package like [scikit-plot](https://github.com/reiinakano/scikit-plot) and scikit-learn's plotting functions to generate reports of the results. I'm not sure if it's currently in the scope of TPOT to generate reports itself; even if we did develop something like that, it'd probably be best to develop it as a separate package tha

[2017-07-07 17:42] rhiever commented on #520
Sorry for the slow response on this issue. First to answer @ktran9891's question. If all you want to do is pickle the best fitted pipeline at the end of the run, instead of pickling the entire TPOT object, you can pickle just the best pipeline stored in the `fitted_pipeline_` attribute. That attribute stores the best fitted pipeline from the run, which is what TPOT uses to make the predictions etc

[2017-07-07 17:48] rhiever commented on #520
@tjvananne, it does indeed seem to be difficult to pickle (or even dill) the TPOT object because of how we're generating classes on-the-fly for TPOT's internal pipeline representation. We've had a long-standing issue to implement a serialization/checkpointing feature (#79), which I agree would be useful for some use cases, but no one has taken it on.

That said, the dev branch has a new feature th

[2017-07-07 17:49] rhiever commented on #517
I think this is a known issue for XGBoost. It's historically been difficult to install XGBoost on Windows. I did hear recently that they plan to add better support for Windows via conda, though.

[2017-07-07 17:51] rhiever commented on #314
Did you try `conda update sklearn`?

[2017-07-07 18:03] ktran9891 commented on #520
@rhiever :  For my specific case, your suggestion works perfectly, thank you. I defer the closure (or non-closure) of this issue to you.

Thanks!

[2017-07-07 19:00] rhiever opened #525 "[dev] OneHotEncoder bug?"
I've been using the OneHotEncoder that we ported from auto-sklearn for a separate project and keep getting an error message when using it in a pipeline.

Here's a minimal example that reproduces the issue:

[code]

Oddly, this doesn't happen with lower `n_splits`. It's also not limited to classification problems.

Any ideas what's going on? My initial guess is that it's not resetting for each fold

[2017-07-07 23:24] djKooks commented on #524
@rhiever Thanks for answer! I was just think about this, but also not sure if this function is fit on this project.

[2017-07-07 23:24] #524 closed

[2017-07-08 03:16] mfeurer commented on #525
When did you port the code? I fixed an issue at some point between March and May. If the code is older than that, you may consider updating it? Also, could you please post a link? I can't find the code with the github search?

[2017-07-08 14:11] rhiever commented on #525
[OneHotEncoder](https://github.com/rhiever/tpot/blob/development/tpot/builtins/one_hot_encoder.py)

[2017-07-09 18:15] dnuffer commented on #508
The timeout_pipe branch has fixed the issue for me.

[2017-07-10 09:50] RensDimmendaal opened #526 "Sparse matrix not supported because np.isnan does not work there"
Tpot does not accept sparse matrix format (scipy.sparse.csr_matrix)  because np.isnan is not supported.

## Context of the issue

In my usage context: I use gensim to transform a text corpus to some matrix format.
When the data is large this library use the scipy scipy.sparse.csr_matrix format to store the results.
When I use this as an input in tpot I get an error because numpy's np.isnan functio

[2017-07-10 09:52] rebeen commented on #284
I have the same problem

C:\Python27\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module wil

[2017-07-10 11:37] weixuanfu2016 commented on #284
The DeprecationWarning should be from the old version of xgboost. You may need rebuild the latest xgboost from source codes and then install xgboost python module, for solving this problem.

[2017-07-10 18:22] weixuanfu2016 commented on #526
The current version (0.8.3) of TPOT do not supported sparse matrix as input array and `np.isnan` is for
imputation function in TPOT. In the future version of TPOT, we may add the support for sparse matrix since one hot encoder supports sparse matrix (related PR #462 has been merged under dev branch)

For now, please try to use `X.toarray()` to convert to a dense numpy array.

[2017-07-10 21:41] JeremieGuez commented on #284
Check your gcc version. I solved my problem like that

[2017-07-11 10:03] RensDimmendaal commented on #526
Thanks. Appreciate the background info.

[2017-07-11 10:03] #526 closed

[2017-07-11 19:03] weixuanfu2016 commented on #508
@dnuffer @CSNoyes Thank you for feedbacks.

@rhiever and I had second thoughts about this issue. We thought this issue might be related to ['start methods in multiprocessing'](http://scikit-learn.org/stable/faq.html#why-do-i-sometime-get-a-crash-freeze-with-n-jobs-1-under-osx-or-linux). I also reproduced the freezing issue when n_jobs  >1 in MacOS and Linux but it seems everything is all right whe

[2017-07-11 19:40] weixuanfu2016 commented on #508
I tested the solution of `forkserver` when n_jobs > 1 and it at least solving the freezing issue when using TPOT on super large datasets. I put the demo in [a branch](https://github.com/weixuanfu2016/tpot/tree/mp_forkserver), which can only be tested in Linux and MacOS with python 3.4+

[2017-07-11 21:57] dnuffer commented on #508
I have been using ubuntu 17.04 with python 3.5.3. I've been mostly using n_jobs=22. I am using a dataset with dimensionality of ~17000.

[2017-07-12 07:21] unaigarciarena opened #528 "Pipeline pre-testing"
Hello everyone,

digging into the TPOT code, I have found the "_pre_test" function in the "decorators.py" script, which seems to be a decorator of other functions (i.e., mutation, crossover, and generation functions in "base.py"). This function appears to be run each time an unevaluated pipeline is generated, with a generic database generated from sklearn (pretest_X and pretest_Y). Am I right?
If

[2017-07-12 14:50] weixuanfu2016 commented on #528
Yes, the `_pre_test` is to check correctness of the parameter combinations in the operators within pipeline since these parameter combinations are randomly generated in these three functions. For example, Dual formulation is only implemented for l2 penalty in `sklearn.linear_model.LogisticRegression`, but the unsupported combination (`dual=True, penalty='l1'` in this case) can be randomly generate

[2017-07-13 09:37] unaigarciarena commented on #528
Understood. Thank you very much.

[2017-07-15 15:16] DBCerigo opened #529 "Can't fit multilabel?"
I'm struggling to fit for a multilabel problem - getting response that I'm feeding invalid data into scikitlean; "target labels must be a 1-D array".

I tried wrapping TPOT with scikit's One-Rest classified i.e.
`OneVsRestClassifier(TPOTClassifier(...)).fit...`
but still struggling.

Is this the correct way of using TPOT with mutlilabel problems or am I missing something?

Thanks

[2017-07-15 16:10] rhiever commented on #529
TPOT doesn't currently support multi-label classification problems, only multi-class problems. TPOT performs a check at the beginning of a run that includes a check to ensure that the labels are a 1-D array, which is likely why you're receiving the error you quoted.

This question is related to #196.

[2017-07-17 09:53] rhiever commented on #479
Dropping an idea here while it's on my mind: Maybe the original approach to TPOTEnsemble is not good because it requires too many expensive evaluations every generation. Perhaps a better approach would be similar to what @lacava does in FEW:

1) Take entire TPOT population and stack the outputs into a feature matrix
2) Fit a regularized (Lasso, preferably) linear model on the feature matrix
3) Use

[2017-07-18 09:24] rhiever commented on #525
Ping... any ideas?

[2017-07-18 09:24] #528 closed

[2017-07-18 09:25] rhiever commented on #521
@mrgloom, did that solution work for you?

[2017-07-18 09:25] rhiever commented on #520
OK. Please feel free to re-open the issue (or comment further) if you have any more questions about pickling TPOT.

[2017-07-18 09:25] #520 closed

[2017-07-18 09:27] rhiever commented on #422
Closing this issue for now. Please feel free to re-open if you have any more questions or comments.

[2017-07-18 09:27] #422 closed

[2017-07-18 09:27] rhiever commented on #436
Closing this issue for now. Please feel free to re-open if you have any more questions or comments.

[2017-07-18 09:27] #436 closed

[2017-07-18 09:27] rhiever commented on #448
Closing this issue for now. Please feel free to re-open if you have any more questions or comments.

[2017-07-18 09:27] #448 closed

[2017-07-18 09:28] rhiever commented on #458
Closing this issue for now. Please feel free to re-open if you have any more questions or comments.

[2017-07-18 09:28] #458 closed

[2017-07-18 09:29] rhiever commented on #459
Closing this issue for now. Please feel free to re-open if you have any more questions or comments.

[2017-07-18 09:29] #459 closed

[2017-07-18 09:29] rhiever commented on #466
Closing this issue for now. Please feel free to re-open if you have any more questions or comments.

[2017-07-18 09:29] #466 closed

[2017-07-18 09:29] rhiever commented on #503
Closing this issue for now. Please feel free to re-open if you have any more questions or comments.

[2017-07-18 09:29] #503 closed

[2017-07-18 09:29] rhiever commented on #514
Ping. Any progress on this, @CSNoyes?

[2017-07-18 09:30] rhiever commented on #516
Closing this issue for now. Please feel free to re-open if you have any more questions or comments.

We look forward to your suggestions for improvement, especially in the docs. :-)

[2017-07-18 09:30] #516 closed

[2017-07-18 09:31] rhiever commented on #517
Closing this issue for now. Please feel free to re-open if you have any more questions or comments.

[2017-07-18 09:31] #517 closed

[2017-07-18 09:54] rhiever commented on #494
@teaearlgraycold, think you can PR this early this week? Would be good to get this issue finished before we start anything larger.

[2017-07-18 17:58] CSNoyes commented on #514
Hey, sorry for the radio silence. The RF was adversely affected, but not to a degree that would *usually* be significant (1.5% accuracy). However, there are many times when a lot of KNN's are tried in the initial population in which some random combination or parameters leads to a good accuracy. However, that result is truly due only to randomness, and fails completely with a different random_stat

[2017-07-18 19:50] teaearlgraycold commented on #525
Well I may have pulled the code some time in May.

It looks like the last change to autosklearn's OHE implementation on master is from March - https://github.com/automl/auto-sklearn/commits/master/autosklearn/pipeline/implementations/OneHotEncoder.py.

[2017-07-18 20:20] teaearlgraycold commented on #494
I've added a table of related projects. Any other information I should provide?

[2017-07-19 07:19] rhiever commented on #494
Looks good---thanks @teaearlgraycold.

[2017-07-19 07:22] #494 closed

[2017-07-19 07:23] rhiever commented on #525
Seems possible (probable?) the bug is present in both softwares, then.

[2017-07-19 07:34] rhiever commented on #514
It sounds like this issue could be driven more by the data split moreso than the random state of the algorithms. KNNs, for example, aren't stochastic algorithms and don't use the random state.

Are you shuffling your dataset beforehand? Are you performing stratified splits before passing the data to TPOT?

[2017-07-20 14:16] weixuanfu commented on #508
@dnuffer @CSNoyes

Below is the demo for using `forkserver` to solving this issue in Linux and MacOS. I am still thinking whether we should put this solution into codes. It seems that it is not easy to use `forkserver` with joblib in interactive mode. Maybe we should provide a friendly warning message about this and/or tghe solution in the demo below as [the Q&A in scikit-learn](http://scikit-lear

[2017-07-20 15:36] mfeurer commented on #525
That would be very unfortunate. @rhiever could you provide me a pickle/csv of the data which produces the error?

[2017-07-21 17:37] kegl commented on #108
I went through this thread and the related sklearn thread and it's not clear to me what the consensus is. Somebody asked me to used balanced accuracy from [here](http://www.causality.inf.ethz.ch/AutoML/Starting_kit.zip), `scoring_program/libscores.py`, line 187. Should I clean this up or I can use recall_score(..., average='macro') from sklearn?

[2017-07-21 17:48] amueller commented on #108
@kegl I would have hoped you could tell us ;) There is multiple definitions of balanced accuracy, and one of them is ``recall_score(..., average='macro')`` and another is something different, see https://github.com/scikit-learn/scikit-learn/pull/8066/
It looks like https://github.com/ch-imad/AutoMl_Challenge/blob/2353ec0/Starting_kit/scoring_program/libscores.py#L187 implements  ``recall_score(...

[2017-07-21 17:52] amueller commented on #108
@kegl are you doing binary classification? Then it's pretty clear and using the macro average should be fine. If it's multi-class, it's a bit less clear.

[2017-07-21 17:59] kegl commented on #108
No, it's multiclass.

[2017-07-21 18:01] weixuanfu commented on #108
@kegl you may try the `balanced_accuracy` in [tpot.metrics](https://github.com/rhiever/tpot/blob/master/tpot/metrics.py)

[2017-07-21 18:02] kegl commented on #108
OK, thanks!

[2017-07-21 18:03] amueller commented on #108
@kegl the one in that toolkit is "adjusted for chance" though, and the one in TPOT is not. So that toolkit does macro average recall but adjusted for chance.

[2017-07-21 18:04] amueller commented on #108
while tpot.metrics does macro-average accuracy.

[2017-07-21 22:04] crawles opened #535 "increase n_estimators in config_dict default"
I recently evaluated tpot and compared the results to sklearn RandomForest. I noticed the config_dict only has `[100]` trees in the default dict. I recommend this be increased to `[100, 500]` or something similar. Same with ExtraTreesClassifier. In my experience, n_estimators is a crucial parameter and it would be nice if the default config had a higher number of trees so new users can get optimal

[2017-07-23 09:45] mrgloom commented on #521
I have tested speed of numpy vs pandas loader:

numpy
real	1m17.487s
user	1m14.974s
sys	0m4.410s

pandas
real	0m9.028s
user	0m8.662s
sys	0m4.043s

Code:
[code]

[2017-07-25 18:55] weixuanfu commented on #521
Thank you for the feedback. We already add `pandas` as default csv reader in the PR #519 that was merged to dev branch.

[2017-07-25 19:02] weixuanfu commented on #535
Thank you for the suggestion. I agree that `n_estimators` is a crucial parameter. But, increasing `n_estimator` to 500 may largely increase computational time of pipeline evaluation (check #318 for more details). We need more evaluation before increasing `n_estimators` in default `config_dict`

[2017-07-26 02:27] amir-abdi commented on #390
I have the same problem with new version of TPO

[2017-07-26 13:53] dclambert opened #536 "Feature Selection scoring using `f_classif` in both `regressor.py` and `regressor_light.py`"
## Context of the issue

The standard and light configs for regression use `sklearn.feature_selection.f_classif` as the score function for both `SelectPercentile` and `SelectFwe` rather than `sklearn.feature_selection.f_regression`.

Is this intentional?

[2017-07-26 14:01] Valdi opened #537 "tpot.fit() error"
I am trying to use tpot for the first time, but I have been getting the following error which has to do with fit() function

'list' object has no attribute 'astype'

the data I am using I import it from matlab and save it in numpy array.

[2017-07-26 14:18] weixuanfu commented on #537
Could you please provide more details about this issue, like detail stderr or codes for reproducing the issue?

[2017-07-26 14:20] weixuanfu commented on #536
Hmm, I think it is a bug. I will submit a PR for fixing it.

[2017-07-26 14:23] weixuanfu commented on #390
@amir-abdi Could you please provide more details about the problem, like codes for reproducing the issue? Or could you please try the dev branch. It may give you some error message. Please try the command for install dev branch

[code]

[2017-07-26 14:28] Valdi commented on #537
![capture](https://user-images.githubusercontent.com/1936480/28626507-70eaa49e-721f-11e7-9914-4d99029e520d.JPG)

This is the error I am getting

I am trying to run tpot using jupyter

[2017-07-26 14:52] weixuanfu commented on #536
@dclambert Thank you for reporting this issue.

I just posted a PR #538 for it and it is based on dev branch. You may try the commands below to reinstall TPOT with the patch

[code]

Also I made another branch with the patch based on Master branch (I did not post PR for it for avoiding conflicts). Try the commands below for installing the branch.

[code]

[2017-07-26 14:55] weixuanfu commented on #537
It seem that `input_nn` is a list instead a numpy array based on the error message. Could you please print out `type(input_nn)` for checking the type of `input_nn`?

[2017-07-26 15:33] Valdi commented on #537
Thanks! it was actually a list and I have just converted to numpy array, however I am now getting the following error

![image](https://user-images.githubusercontent.com/1936480/28629395-94d85588-7227-11e7-8f9d-3699aaf4790c.png)

I am getting the following error now, which has to do with the shape of my data.

my input data is definitely 2D array with each column being an example, while my output

[2017-07-26 15:38] weixuanfu commented on #537
I think maybe `outputnn` is not a 1-D array. Could please change the shape of `outputnn`?

[2017-07-26 15:49] Valdi commented on #537
It's definitely not a 1D array, because this is how I stored my data in matlab and now I have no idea how to format it to work for tpot.

I basically have a 2D array as an input in which each column corresponds to an example and another 2D array as the output with each column corresponding to a label for the corresponding data in the input array.

so outputnn[:,1] corresponds to input[:,1]

This i

[2017-07-26 18:58] amir-abdi commented on #390
@weixuanfu  The code is as simply as

[code]

[2017-07-26 19:51] weixuanfu commented on #537
Is this a multilabel problem as mentioned in #529?

If not, I suggest to use one label out of output to each `tpot.fit()`.  You just need select one column out of output as `y` in fit().

[2017-07-26 19:54] weixuanfu commented on #390
Could you please let me know more details about your case? For example, system environment  (OS, python version, TPOT version) ? Also, did you reproduce the issue with IRIS or MINST example in the [link](http://rhiever.github.io/tpot/examples/)

[2017-07-26 20:21] Valdi commented on #537
No its not a multi label problem. So I need to feed one set of examples and their corresponding class? because I have 19 classes in my problem, I need to do this for each set of examples? I am not quite sure how this works

[2017-07-26 20:57] davidfox-ap commented on #507
Is there a workaround for this we can use in the interim?

I tried simply adding the tpot classifier to a pipeline:

pipeline_optimizer = pipeline = Pipeline([('vect', CountVectorizer()),
                     ('tfidf', TfidfTransformer()),
                    ('clf', TPOTClassifier(generations=5, population_size=20, verbosity=2))])

But this returns an error 'ufunc 'isnan' not supported for the in

[2017-07-26 22:52] weixuanfu commented on #537
Oh, sorry for the misunderstanding before. I think you need to reformat the output table to 1-D array, like nameing these classes as 1-19 in the array.

[2017-07-26 22:55] weixuanfu commented on #507
For solving this issue, we are working on the related issue #529 for adding a grammar configuration for supporting text classification.

[2017-07-26 22:56] weixuanfu commented on #507
Sorry it should be #523

[2017-07-26 22:58] weixuanfu commented on #507
Oops, I just closed by mistake. Cellphone screen is too small for typing. Sorry.

[2017-07-30 06:54] mfeurer commented on #525
I cannot reproduce the error in Auto-sklearn. This piece of code works all fine (tried >10 times):
[code]
Does this work for you?

I'm not sure if the latest fix from March 28 would make a difference, but it seems that you guys didn't pull that. Another possibility is that you introduced a bug when refactoring the class.

[2017-07-30 08:37] drorhilman opened #539 "Is it possible to add "early stopping" in case the accuracy pass a specific value."
Question:
TPOT runs can be very long for large population, but sometime you reach a very high accuracy early-on, and you would like the process to stop if it is not improving after a while. is it possible to do it?
For example if it reaches 99% accuracy and not improving in 3 generation then stop.

[2017-07-31 14:14] weixuanfu commented on #539
Hmm, I think we might add this option once the accuracy of classification reaches a very high score, like 0.999. What do you think of this idea? @rhiever

But I think it is not simply to use the option in most of scoring functions in regression tasks.

[2017-08-02 04:01] drorhilman commented on #539
Yes. I think that it should have a notion of "progress" - check whether you are still improving or not, and if not then stop.

[2017-08-02 14:28] weixuanfu commented on #539
If the option just check whether the best pipeline is still improving in GP, this option maybe misused with small number of population size due to limited number of new better individuals per generation. I think we still need a threshold value if we add this option.

[2017-08-02 15:27] rhiever commented on #525
@teaearlgraycold, can you look into this please? Could any of the changes you made introduce this bug?

[2017-08-02 15:33] rhiever commented on #535
From our internal tests, we've found that the RandomForest has small improvements when adding beyond 100 trees. You can use a [custom configuration dictionary](http://rhiever.github.io/tpot/using/#customizing-tpots-operators-and-parameters), though, if you want TPOT to explore a larger number of trees.

[2017-08-02 16:54] weixuanfu commented on #525
Just have a quick look on the `OneHotEncoder` codes in TPOT. I think [_auto_select_categorical_features](https://github.com/rhiever/tpot/blob/development/tpot/builtins/one_hot_encoder.py#L45-L75) causes `ValueError: X has different shape than during fitting. Expected 2, got 3` in this issue. Because `KFold` provides different train/test indices to split data but `_auto_select_categorical_features`

[2017-08-02 17:45] teaearlgraycold commented on #525
Given that the shape from fitting is `3` and should be `2`, and the indices array looks like `[ 0,  6, 35]`, I believe the difference in shape comes from the addition of a `0` at line 333:

https://github.com/rhiever/tpot/blob/development/tpot/builtins/one_hot_encoder.py#L333

[code]

Can anyone explain the addition of the `0` here?

[2017-08-02 18:53] rhiever commented on #525
That seems to be right, @weixuanfu. I've changed the default behavior of OHE to be in-line with @mfeurer's OHE (i.e., treating all features as categorical features) until we figure out what's going on with the auto_select function.

[2017-08-03 05:34] mfeurer commented on #525
The implementation is in line with the implementation of scikit-learn, and the categorical features need to be specified by the user. Did you find that having less than ten unique values is a good predictor of categorical features?

[2017-08-03 14:46] weixuanfu commented on #539
@drorhilman after some discussions with @rhiever, we will add this option to stop process if the score does not improve after N generations. The option will be added into next version of TPOT and of course, it is turned off by default.

[2017-08-03 15:19] StefanoTrebeschi opened #540 "groups K fold"
Question: when I have to fit a GroupKFold cross validation, is it enough to specify the group index of each sample in the fit function, or should I set the generator at object instantiation too? 'cuz the latter will result in no increase on the performance whatsoever.

[2017-08-03 15:51] weixuanfu commented on #540
[code]

[2017-08-03 15:57] StefanoTrebeschi commented on #540
cool thanks!

[2017-08-03 15:57] #540 closed

[2017-08-04 17:23] weixuanfu commented on #537
Closing this issue for now. Please feel free to re-open if you have any more questions or comments.

[2017-08-04 17:23] #537 closed

[2017-08-04 17:23] weixuanfu commented on #529
Closing this issue for now. Please feel free to re-open if you have any more questions or comments.

[2017-08-04 17:23] #529 closed

[2017-08-04 17:23] weixuanfu commented on #521
Closing this issue for now. Please feel free to re-open if you have any more questions or comments.

[2017-08-04 17:23] #521 closed

[2017-08-04 17:26] weixuanfu commented on #539
Update: We added this option in the PR #541 and it should be merged later.

[2017-08-04 18:34] rhiever commented on #525
That's a rule of thumb that we've often used in the lab, but we haven't evaluated it experimentally. Usually we make that a parameter for the user.

[2017-08-05 13:12] nirvana1122 opened #542 "TPOT stuck at 0%"
I am using TPot classifier for a smallish dataset with 20,000 rows and 68 features. I ran the following code

pipeline_optimizer = TPOTClassifier()
pipeline_optimizer = TPOTClassifier(generations=5, population_size=20, cv=5, random_state=0, verbosity=2,n_jobs = 10)
X_train = np.nan_to_num(X_train)
pipeline_optimizer.fit(X_train, dataY_train)
Warning: Although parallelization is currently supported

[2017-08-05 13:25] weixuanfu commented on #542
I think this is related to #508. Please try to run TPOT like this demo below:

[code]
Please let me know if this way solve this issue.

[2017-08-05 16:53] nirvana1122 commented on #542
@weixuanfu Thank you for the prompt reply. I should have mentioned that I am using Windows. Sorry about that. 'fork server' doesn't work on windows. How can I make it work for Windows? Thanks again!

[2017-08-05 18:26] weixuanfu commented on #542
Oh, I just found that. Maybe decreasing n_jobs to 1 would help for Windows. Or you could try the latest dev branch where has better timeout control. Please let me know and inform me more environment infos (Tpot and its deps' versions) if both possible solutions do not work. I need double-check it.

[2017-08-06 12:57] HansLeonardVanBrueggemann opened #543 "SelectFromModel"
I was trying to set multiple estimators in the selectFromModel.

[code]

But TPOT complains that the estimator does not have a get_params() function.

Is it possible to have multiple estimators for the SeletFromModel option?

[2017-08-06 17:00] nirvana1122 commented on #542
@weixuanfu n_jobs =1 worked for windows. Thanks!

[2017-08-08 13:58] ben0it8 opened #544 "How to use TPOT in the text domain?"
Hello,

My question is if it's possible to use TPOT in the text domain for classification task?
Given a labeled corpus (eg. label - document pairs) I'd like to perform classification to infer the label of an unseen piece of document.

Thanks,
Oliver

[2017-08-08 14:36] weixuanfu commented on #543
Thank you of this interesting idea. For now, TPOT does not allow multiple estimators in `estimator` parameter in `SeletFromModel` since this parameter only takes one estimator. By default, TPOTClassifier uses `ExtraTreesClassifier` for the estimator as shown [here](https://github.com/rhiever/tpot/blob/master/tpot/config/classifier.py#L188-L197). We may add this support into TPOT later

[2017-08-08 14:44] weixuanfu commented on #544
I think this issue is related to #507. We are working on a configurable grammar in #523 to add the support for text classification. For now, you may try to transform text to numeric matrix using [CountVectorizer](http://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.CountVectorizer.html), [TFIDFVectorizer](http://scikit-learn.org/stable/modules/generated/sklearn.feature_

[2017-08-09 08:25] HansLeonardVanBrueggemann commented on #543
I noticed it works if you give a list of instantiated estimators, like
[code]
However those estimators won't be optimized

[2017-08-09 17:53] crawles commented on #535
Thanks @rhiever. Understood about the custom configuration dictionary. I was surprised that RF with 500 trees beat TPOT result. Understand it's not automatically optimized out of the box. Thinking about it more, I used all default TPOT setup (population size and generations). I see in the docs you recommend AutoML is often designed to run for a long time, so impatience could have been it :)

I ran

[2017-08-09 18:27] rhiever commented on #535
That's more-or-less what we've seen across 100s of datasets. Glad you were able to replicate it.

[2017-08-13 21:19] gvyshnya opened #545 "Underlying Xgboost Exception in TPOTClassifier.Fit"
TPOTClassifier.Fit method inclines to select _xgboost_ as an optimal model algorithm for the MNIST data set (vs. other locally installed modellers) but then it fires the error below

In the evidence of the problem, I have two questions
- Is there a way to conditionally exclude xgboost (or equally any other algorithm) from the grid search that TPOTClassifier does?
- What is the best workaround for

[2017-08-14 12:14] weixuanfu commented on #545
The answer to the first question is using the customized configuration of operators and their parameters.
 Please check the [link](http://rhiever.github.io/tpot/using/#customizing-tpots-operators-and-parameters) for more details.

The second question of this issue related to the issue #449 in tpot repo and [the issue 2349](https://github.com/dmlc/xgboost/issues/2349) in xgboost repo. In general, t

[2017-08-14 15:45] gvyshnya commented on #545
@weixuanfu : thanks for detailed and prompt explanation.

Just wanted to clarify the practical steps on my end.
1. Since no model is generated by TPOT on my premise due to the xgboost-driven issue referred, shall I simply exclude in the customized configuration?
2. Otherwise, shall I try to tweak xgboost settings in the customized configuration to find some setup where it does not crash and allows

[2017-08-14 16:09] weixuanfu commented on #545
Yes, you may need exclude xgboost from [built-in configuration](https://github.com/rhiever/tpot/blob/master/tpot/config/classifier.py) to avoid the error. Or you could try to run the codes with default configuration in Linux or macOS where the error message would still be printed out but TPOT optimization process would not be stopped.

[2017-08-15 10:15] #544 closed

[2017-08-15 10:23] ben0it8 opened #546 "Kernel appears to have died in Jupyter Notebook using TPOTClassifier"
Hello,

When calling the fit method from a Jupyter Notebook, the kernel seems to die.
I use Python 2.7 with the latest Jupyter release and an upgraded version of tpot.
First I have this DeprecationWarning:
<img width="1086" alt="screen shot 2017-08-15 at 12 21 13" src="https://user-images.githubusercontent.com/11842615/29312124-58f25a90-81b4-11e7-8a73-1b2d7d1b7cdd.png">

Then, after a couple of se

[2017-08-15 10:36] ksyme99 opened #547 "Imbalanced Learn?"
I was wondering how possible it would be to incorporate the sampling preprocessors in Imbalanced learn?

[https://github.com/scikit-learn-contrib/imbalanced-learn
](https://github.com/scikit-learn-contrib/imbalanced-learn)

I have had a cast around the tpot code but unfortunately can't quite figure out how it hangs together enough to know how painful this would be (even just for myself hacking it

[2017-08-15 10:37] weixuanfu commented on #546
I think it may be related to the issue #508. Please try to set n_jobs=1 with python 2.7 or try use `forkserver` start mode in python 3.4+ (see the demo codes in issue #508)

[2017-08-15 15:50] weixuanfu commented on #547
I tried to use `config_dict` for incorporating `imblalanced-learn` with the codes below:

[code]

However, I got a lot error messages like:
[code]

Maybe we need wrap these `imblalanced-learn` object as subclass of [sklearn.base.TransformerMixin](http://scikit-learn.org/stable/data_transforms.html) and add implement `transform`.

[2017-08-15 15:58] ksyme99 commented on #547
It seems if you are using pipelines than imbalanced-learn comes with it's own implementation,[imblearn.pipeline.Pipeline](http://contrib.scikit-learn.org/imbalanced-learn/stable/generated/imblearn.pipeline.Pipeline.html#imblearn.pipeline.Pipeline) which has a bunch of extra functions to do with transforming and sampling. Looks to be to do with supporting having a different number of examples throu

[2017-08-16 18:52] lperozzi opened #548 "Using predefined X_train/y_train in TPOT command line"
Thanks for this beautiful tool.
From the documentation I see that the input are the dataset and the column name of the target variable, however I wonder if there are a way to give `X_train`, `y_train`, `X_test` and `y_test` as input, since my train/test split is not done using `train_test_split`?

[2017-08-16 19:00] weixuanfu commented on #548
Sorry, the current CLI mode in TPOT do not have this option. You may need write python scripts for this purpose.

[2017-08-16 20:44] rhiever opened #549 "Add feature selection operators to select categorical or continuous features"
Currently, TPOT operators act on the full dataset regardless of the feature types. For example, if TPOT decides to apply a OneHotEncoder on the data, then the OneHotEncoder will be applied to all features---even continuous features. This issue can be problematic for datasets with mixed feature types.

We should look into adding feature selection operators that select *only continuous* or *only cat

[2017-08-17 16:51] snorreralund commented on #201
I had the same problem. This was caused by using a sparse matrix as input. np.isnan() does not work on sparse matrices. Is there a way around this other than converting to dense?

[2017-08-17 17:05] weixuanfu commented on #201
Please try [scipy.sparse.csr_matrix.todense](https://docs.scipy.org/doc/scipy-0.19.0/reference/generated/scipy.sparse.csr_matrix.todense.html)

[2017-08-17 17:06] snorreralund commented on #201
yes, that works. I meant if it was possible to use TPOT with a sparse matrix.

[2017-08-17 17:10] weixuanfu commented on #201
Oh, sorry for the misunderstanding. We are working on #523 and #462 (One hot encoder can deal with sparse matrix) to add this support in the future version of TPOT.

[2017-08-17 19:01] lacava commented on #479
@rhiever sounds like a good idea. you could use it with any method that admits some kind of feature score, e.g. lasso, random forests, etc.. and perhaps even with stacking if stacking can be made to score the models it uses in its ensemble.

[2017-08-18 08:32] bicepjai commented on #449
Do we know why this issue occurs ? it will be helpful to know why "colsample_bytree=1 is too small that no
feature can be included" occurs.

[2017-08-18 12:19] weixuanfu commented on #449
The reason is that feature-selection step in a pipeline can exclude all features before running xgboost. We need better control on feature numbers within pipeline.

[2017-08-25 18:11] jonathanng opened #550 "Outlier Removal"
I'm curious to know why outlier removal isn't part of the pipeline.

`scikit-learn` offers several outlier detection methods, and it seems simple to implement.

See here:

http://scikit-learn.org/stable/auto_examples/covariance/plot_outlier_detection.html#sphx-glr-auto-examples-covariance-plot-outlier-detection-py

[2017-08-25 19:58] #550 closed

[2017-08-27 13:01] mattvan83 opened #551 "Applying Leave One Out CV"
I would like to apply LOOCV inside tpot command.

## Context of the issue

My whole dataset contains 82 samples and 17 features.
So, for each sample I would like to apply LOOCV on the other 81 samples.

## Process to reproduce the issue

Please find the code below:

[code]

## Expected result

I would like that tpot optimize classification using LOO cross validation on the 81 other samples

## Cur

[2017-08-28 18:45] #551 closed

[2017-08-28 18:49] mattvan83 opened #553 "Determine best simple estimator (no ensemble)"
Dear experts,

Would it be possible to specify to tpot to determine the best estimator not formed based on ensemble machine learning, i.e. not compound estimators ?

Best regards,
Matthieu

[2017-08-28 21:38] crawles opened #554 "Nested cross validation"
Utilizing [nested cross validation](https://sebastianraschka.com/faq/docs/evaluate-a-model.html) would give a less biased view of the best (i.e. chosen) pipeline performance as then the framework is not using the test folds for pipeline selection and pipeline evaluation. It shouldn't affect the search optimization process for the optimal pipeline/parameters, but it would give a better estimate of

[2017-08-29 14:54] weixuanfu commented on #554
From the [link](http://scikit-learn.org/stable/tutorial/statistical_inference/model_selection.html#grid-search-and-cross-validated-estimators), tpot uses `cross_val_score` for nested CV, right?

[2017-08-30 03:36] muxueqianshan opened #555 "Will tpot support py-earth in the future？"
Py-earth is a Python implementation of Jerome Friedman's Multivariate Adaptive Regression Splines algorithm, in the style of scikit-learn. The py-earth package implements Multivariate Adaptive Regression Splines using Cython and provides an interface that is compatible with scikit-learn's Estimator, Predictor, Transformer, and Model interfaces.
https://github.com/scikit-learn-contrib/py-earth
Will

[2017-08-31 13:57] avgaydashenko opened #557 "TPOTClassifier with custom cv parameter"
Hi,

I would like to use TPOTClassifier with _my generator function_ as cv parameter. But I have some troubles even with the code provided in the answer here: https://github.com/rhiever/tpot/issues/551

So, here's the error:

![default](https://user-images.githubusercontent.com/11502139/29926948-87dc8aea-8e6d-11e7-9f3d-6b60c274dcc9.png)

Basically, my question is: what format my function should ha

[2017-08-31 14:37] avgaydashenko commented on #557
I rewrote my function as follows, still same result:

[code]

[2017-09-05 16:40] lesshaste opened #558 "How to set n_jobs = -1 from tpot"
I am trying out the simple MNIST digit recognition example from https://rhiever.github.io/tpot/examples/ .

I noticed that only one core was being used despite many of the sklearn classifiers supporting n_jobs.

## Context of the issue

Is there a simple way to add n_jobs to those classifiers that support it through tpot?

## Process to reproduce the issue

Run the simple MNIST digit recognition e

[2017-09-05 17:19] #558 closed

[2017-09-05 17:35] lesshaste opened #559 "How to optimize for the AUC"
Taking the simple MNIST digit recognition as an example, how would you optimize for the AUC using TPOT? In my case my data will be imbalanced so this is the best measure.

## Context of the issue

I would like to use TPOT to find a good classifier for an imbalanced data set. How can I get TPOT to optimize for the AUC?

## Process to reproduce the issue

## Expected result

## Current result

## Po

[2017-09-05 18:52] #559 closed

[2017-09-07 15:13] FriiSRS opened #561 "## Context"
[provide general introduction to the issue and why it is relevant to this repository]

## Context of the issue

[provide more detailed introduction to the issue itself and why it is relevant]

[the remaining entries are only necessary if you are reporting a bug]

## Process to reproduce the issue

[ordered list the process to finding and recreating the issue, example below]

1. User creates TPOT i

[2017-09-07 16:18] #561 closed

[2017-09-08 13:34] #539 closed

[2017-09-08 13:34] #525 closed

[2017-09-08 13:34] #536 closed

[2017-09-11 18:40] shirishr opened #563 "Can not reproduce results"
## general introduction
I am working with a dataset called Dorothea hosted at UCI. I tried TPOTClassifier with scoring= 'roc_auc' and random state =42 and got results:
Generation 1 - Current best internal CV score: 0.9860243055555555
Generation 2 - Current best internal CV score: 0.9860243055555555
Generation 3 - Current best internal CV score: 0.988107638888889
Generation 4 - Current best interna

[2017-09-11 21:53] weixuanfu commented on #563
@shirishr Another possible reason is that exported pipeline in `tpot_dorothea_auc.py` should use default `accuracy` scoring function instead of `auc_roc`. You need add one line of code for using [`roc_auc_score`](http://scikit-learn.org/stable/modules/generated/sklearn.metrics.roc_auc_score.html).

[2017-09-12 05:56] dah33 opened #564 "Repeated preprocessor in pipeline: ZeroCount()"
I've been experimenting with TPOT on [Fashion MNIST](https://github.com/zalandoresearch/fashion-mnist), and been presented with this rather strange pipeline:

[code]

ZeroCount just counts the number of zero and non-zero features per sample. Since there are some zero and some non-zero features in every sample, repeating ZeroCount will just report the same zero count each time, and a non-zero count

[2017-09-19 15:48] QuantumDamage opened #565 "Imputer calculates mean along rows not columns"
https://github.com/rhiever/tpot/blob/1e032375a365d317cf35ffb1eefe431e96b0de6f/tpot/base.py#L740

As far as I understand from [Imputer documentation](http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.Imputer.html) we should calculate mean for each column and not each row. Assuming typical Pandas data frame.

So I guess that line should look more or less like:
 self._fitted_impu

[2017-09-20 18:47] #565 closed

[2017-09-20 19:31] #564 closed

[2017-09-21 06:25] formath opened #567 "Does `tpot` support large data set such as billion instances and million features"

[2017-09-21 08:04] #567 closed

[2017-09-25 12:29] rhiever opened #568 "Fix support for sparse matrices"
Add a check [here](https://github.com/rhiever/tpot/blob/4549a6fe1c7f54d2634500b24dfc473f88a4548c/tpot/base.py#L500) for whether `features` is a sparse matrix. If `features` is a sparse matrix, do not apply imputation.

Add a unit test that generates a small random matrix with values 0, 1, and 2. Apply our OHE to it, then make sure TPOT properly handles it as input.

(Also, remove `axis=0` on [this

[2017-09-25 14:17] #563 closed

[2017-09-25 14:17] #557 closed

[2017-09-25 14:17] #555 closed

[2017-09-25 14:18] #548 closed

[2017-09-26 20:07] weixuanfu opened #574 "Customizing TPOT's starting population"
Need a new feature to customize a set of pipelines used in the first generation. This can be done either through a `population_seeds` parameter in the TPOT constructor, or through a population_seeds attribute in a custom config file. Ideally, this parameter should take a Python list of **strings presenting sklearn pipelines** or just sklearn Pipeline objects.

[2017-09-26 20:09] #574 closed

[2017-09-29 20:51] rhiever opened #577 "Add support for scikit-learn Pipeline memory"
scikit-learn now has [Pipeline memory](http://scikit-learn.org/stable/auto_examples/plot_compare_reduction.html#caching-transformers-within-a-pipeline) that allows intermediate transformations to be cached. We should add this as an option to TPOT as another way to speed up the pipeline optimization process.

This feature will probably help speed up the TPOT-MDR configuration as well.

[2017-09-30 06:35] moonlione opened #578 "prod"
[provide general introduction to the issue and why it is relevant to this repository]

## Context of the issue

[provide more detailed introduction to the issue itself and why it is relevant]

[the remaining entries are only necessary if you are reporting a bug]

## Process to reproduce the issue

[ordered list the process to finding and recreating the issue, example below]

1. User creates TPOT i

[2017-09-30 10:37] #578 closed

[2017-10-02 08:18] Damian89 opened #579 "Scoring: Use also the current fitted/tested estimator as first param?"
Hi guys,

it may be a good Idea to add the estimator as the first parameter of your own scoring function. Take a look at GridSearchCV where a custom scoring function has the params (clf, x_test, y_true).

Currently I'm able to create a custom callable for tpot with two params:
def my_scorer(X, y):

What do you think? Is there currently a way to use the estimator within my own scoring function?

Be

[2017-10-04 08:54] saddy001 opened #581 "Question FunctionTransformer(copy)"
In my best estimator I see a FunctionTransformer(copy). Is it useful? It just seems to copy the input to the output.

[2017-10-04 14:00] prasad0896 opened #582 "Evaluate Performance of pipeline generated from TPOT"
Generated Pipeline for an example makes use of Random Forest Regressor. How to evaluate the performance of this pipeline generated by TPOT alongwith the stationary available data. And also how to handle Time series using TPOT ( any time series examples making use of TPOT available?)

[2017-10-04 17:18] saddy001 opened #583 "CV score differs from manually calculated score"
Hi,
Currently I'm evaluating a TPOT classifier with a single CV split like the following:
[code]

With prc() being the precision_score of sklearn and multilabel targets.

I'm getting the following output:
[code]

I would have expected the score .99 to be equal to the last best CV score (.7).
Am I doing something wrong? Or may the internal CV score use a different metrics than 'precision_macro'?
I

[2017-10-04 17:20] saddy001 commented on #583
Sorry, somehow the markdown seems to be broken...

[2017-10-05 11:34] weixuanfu commented on #583
Yes, TPOT refit on the whole set after CV. Another possible reason of the difference is that the pipelines used in CV has the  fixed `random_state` of 42 but `TPOT.fitted_pipeline_`  after optimization process doesn’t

[2017-10-05 12:34] rhiever opened #584 "Add a TPOT time series analysis example to the docs"
We should add an example to the docs of TPOT being applied to a time series problem. That could be a helpful starting point for people interested in time series analysis.

(from #582)

[2017-10-05 12:35] #582 closed

[2017-10-05 13:31] bartdp1 opened #585 "Keeping track of more statistics of individuals"
TPOT recently got my interest, and i must say i really like it, both from conceptual as well as performance point of view.  To do some in depth analyses on the inner workings and performance of the algorithm, it would be great to have some more statistics on the individuals that TPOT examines along the way. These could for example be added to the '_evaluated_individuals_' attribute, where currentl

[2017-10-05 13:36] PG-TUe opened #586 "Question about claims in RECIPE paper"
This is just a question about the current state of TPOT, I hope that's fine.

I was reading a paper introducing another GP-based AutoML tool, [RECIPE](https://www.researchgate.net/publication/315065572_RECIPE_A_Grammar-Based_Framework_for_Automatically_Evolving_Classification_Pipelines).
The paper is from March 2017, and also talks about TPOT.
Having worked on TPOT, some of the claims contradicted

[2017-10-05 13:57] #586 closed

[2017-10-06 20:14] rhiever opened #588 "Unit tests freezing and timing out on Python 2.7 / Windows"
The TPOT unit tests have been timing out and failing for Python 2.7 / Windows. Both on the `master` and `development` branch, CI gets stuck on the following unit test:

`Assert that varOr() applys crossover only and removes CV scores in offsprings.`

Eventually the AppVeyor times out the process and the unit tests fail.

It looks like [this](https://github.com/rhiever/tpot/commit/8b2b27b771aea1a60

[2017-10-06 21:28] weixuanfu commented on #588
It also happened in Python 3.6 in the same unit test (check [this](https://travis-ci.org/rhiever/tpot/builds/284397636?utm_source=github_status&utm_medium=notification)).

I think there is a infinity loop in [_random_mutation_operator](https://github.com/rhiever/tpot/blob/master/tpot/base.py#L1195). The issue is about [L1239-L1241](https://github.com/rhiever/tpot/blob/master/tpot/base.py#L1239-L12

[2017-10-06 21:30] weixuanfu commented on #588
I pushed [a commit](https://github.com/rhiever/tpot/pull/580/commits/7a182e297ae5caa40e7cbafe3e2ad9bb31da5346) in #580 for fixing this infinity loop.

I think in rare cases the mutation operator cannot generated a valid and new individual and then it goes into a infinity loop.

[2017-10-08 11:41] #581 closed

[2017-10-09 13:40] rhiever opened #589 "Add note to docs that TPOT refits the best pipeline(s) on the full training set"
From discussions in #583, we should add a note to the docs that TPOT refits the best pipeline(s) on the full training set. This behavior may affect some users' pipelines, especially if they're using a single train/test split as the `cv` procedure.

[2017-10-09 13:41] #583 closed

[2017-10-09 13:56] #29 closed

[2017-10-09 13:56] #87 closed

[2017-10-09 14:13] lesshaste opened #591 "How to use a custom loss function for regression"
I am experimenting with tpot for regression with a custom loss function.  To do this I have made a  toy experiment to see how well it can estimate the permanent  of a matrix under particular circumstances.  My code samples lots of  submatrices of a bigger matrix and trains on that.  Unlike a normal  regression problem, at test time I want to optimize the correlation  coefficient between the predic

[2017-10-09 15:07] #591 closed

[2017-10-10 10:17] lesshaste opened #593 "Basic tpot examples crash python on OS X"
I am running the basic tpot regression example from the tpot front page

## Context of the issue

This example crashes python almost immediately both using python 2 and 3 on my OS X machine. I am running the script from the command line.

## Process to reproduce the issue

Attempt to run

[code]

## Expected result

The code should run without error.

## Current result

It crashes quickly with (th

[2017-10-10 14:54] #577 closed

[2017-10-10 14:59] #588 closed

[2017-10-10 15:00] #554 closed

[2017-10-10 15:01] #553 closed

[2017-10-10 15:02] #546 closed

[2017-10-10 15:03] #545 closed

[2017-10-10 15:04] #542 closed

[2017-10-10 15:05] #535 closed

[2017-10-11 18:57] gaochen219 opened #595 "What is the problem TPOT score less than 0"
I am new to TPOT, am trying it and get the .py file as below. But the Score is negative. I thought the score shouldn't be less than 0. What is the issue?

Sometimes I also saw my "internal best CV score" from TPOT.score bigger than 1. I thought cross validation score should be between 0-1 as accuracy %. How could I understand thr result? Thanks!

# Score on the training set was:-0.0641924968157452

[2017-10-11 19:40] weixuanfu opened #596 "Refine computationally expensive unit tests"
## Context of the issue

This issue is related to #588 and #587. We found some computationally expensive unit tests in which MINST dataset are fitted in TPOT object or an expensive pipeline may randomly cause freezing in CI test in python 2.7 only.

## Possible fix

Refine these unit test to make them fit on a small dataset.

[2017-10-12 02:47] #595 closed

[2017-10-12 02:51] gaochen219 opened #597 "How can I use TPOT but ignore zero in the column"
In my data file, I have 24 independent variables (X) in column and 1 dependent variable (y) in column. I realized that some of my y is zero which I want to ignore but not delete them. How could I add this condition in TPOT code? Thanks!

[code]

[2017-10-12 06:37] gaochen219 opened #598 "In Python, how to predict Y (1) if 0 or not (2)if not 0 then what value"
I want to use 24 Xs to predict Y. Assume we’ll use all 24 Xs (don’t worry about feature selection) and use all records.

Y is a continuous variable but half of my records are zero (total is 40k). These ZEROs are meaningful.
Goal is to know: When I have new 24 Xs data coming in, what is the Y?
I’m thinking about two steps:
1.	Determine if Y is 0 or not. Using RandomForestClassifier or Logistic Regr

[2017-10-12 15:18] #585 closed

[2017-10-12 17:02] #597 closed

[2017-10-14 12:11] #511 closed

[2017-10-14 13:28] #79 closed

[2017-10-17 13:10] #598 closed

[2017-10-18 11:42] #589 closed

[2017-10-22 14:33] sayakpaul opened #602 "Keras built Networks"
Could we introduce a new feature which leverages to try Keras models also using TPOT?

[2017-10-24 16:21] unaigarciarena opened #603 "Doubt with implemented mutation operator"
Hello everyone,

I have been studying the mutation function specifically implemented for TPOT (mutNodeReplacement, line 301 in gp_deap.py), and I'm not sure if there is a little mistake, or if I haven't fully understood how it works.

## Context of the issue

I think that, in case the random generator selects a primitive from the pipeline rather than a terminal, the for loop found immediately afte

[2017-10-25 10:03] mikister opened #605 "pywin32 can pip install only up to 3.3"
While following the installation docs I tried using
[code]
but got an error saying that the required version couldn't be found.
On [PyPi](https://pypi.python.org/pypi/pywin32) it says it is available up to Python version 3.3.

 I use:
1. Windows 10
2. python 3.6.3
3. install with pip

After some searching on Stack Overflow, there was a suggestion to install it from [Unofficial Windows Binaries for

[2017-10-31 16:00] selahlynch opened #608 "Error thrown when pickling TPOTClassifier object"
When I attempt to pickle a TPOTClassifier object I get an error.

To reproduce, use the iris TPOT demo and add lines at the end to pickle the TPOTClassifier object.

[code]

When I run above code I get the following error output:
[code]
and the .pkl file has 0 bytes in it.

I would expect to be able to pickle a TPOTClassifier object and reload it.

[2017-11-01 16:57] #605 closed

[2017-11-01 17:03] #593 closed

[2017-11-01 17:14] #584 closed

[2017-11-03 09:14] QuantumDamage opened #611 "How to access stratified folds inside cv?"
Hi,
i wrote my custom scoring function which sums profits and loses based on prediction:

[code]

It works nice but its needs access to whole array, so it will not work as scoring for fold inside tpot cross validation. Is there a way to access current fold inside cv and use it instead whole array?

Or maybe other way to approach this problem?

[2017-11-03 10:18] QuantumDamage opened #612 "Bug in displaying "Current best internal CV score: ""
I'm using custom scoring function called "my_max_profit_constant" - which is supposed to be maximized.

Subsequent iterations of tpot fit are giving:
[code]
Above output looks like minimizing function.
But when I'm checking periodic checkpoint output, in comments there are lines:

[code]
And those files look like they representing pipelines with ascending score.

So my guess is that there is bug i

[2017-11-03 16:57] alexgcsa opened #613 "Multi-class issue when running TPOT"
Hi,

I've been trying to run TPOT on multi-class datasets (such as car and vehicle), but it always outputs the same error for this kind of dataset:

"RuntimeError: There was an error in the TPOT optimization process. This could be because the data was not formatted properly, or because data for a regression problem was provided to the TPOTClassifier object. Please make sure you passed the data to

[2017-11-03 17:01] weixuanfu commented on #613
Hmm, what is this issue about? @alexgcsa

[2017-11-03 18:20] #613 closed

[2017-11-06 10:13] hardy110 opened #615 "TPOTClassifier fit report error"
hi
i use it ,but it is error ,can you help me ?

array([[ 1.349,  1.337,  1.365,  1.344],
       [ 0.89 ,  0.89 ,  0.92 ,  0.899],
       [ 1.058,  1.048,  1.078,  1.056],
       [ 1.687,  1.682,  1.765,  1.683],
       [ 1.041,  1.035,  1.064,  1.034]])

array([ 1.347,  0.912,  1.066,  1.74 ,  1.058])

Warning: xgboost.XGBClassifier is not available and will not be used by TPOT.

Traceback (most

[2017-11-06 13:17] mlapierre opened #616 "Failure to periodically save pipeline if the directory doesn't exist"
If the periodic_checkpoint_folder doesn't exist an error is thrown

## Context of the issue

In the spirit of automation, it would be nice if the periodic_checkpoint_folder were created for us if it doesn't exist. At the moment an error is thrown and no checkpoints are saved.

## Process to reproduce the issue

Create a TPOT instance with a nonexistent folder as the periodic_checkpoint_folder

##

[2017-11-08 05:41] pannalal opened #618 "How to use tpot for logistic regression"
This is a super piece of code for Data Scientists. I have used it for classification and regression with very good result.

I just want to know whether we can use tpot for logistic regression?

[2017-11-08 13:43] korcky opened #619 "_pre_test decorator"
## Context of the issue

My models used complex data to fit and to predict. TPOT gets not exactly this data, it gets something like 'map' of my data. Because of this any raw generic data doesn't  work in my models.

## Questions

1. Could this `_pre_test` be off?
2. I receive warnings like this during fit:
  * `_pre_test decorator: _generate: num_test=0 all the input arrays must have same number o

[2017-11-08 14:30] korcky opened #620 "Fixed parameter"
## Context of the issue

Sometimes I need to fixed some of model's parameters (without any changing in model's code) and when this parameter is value -- it's work fine (most of the time used non default value). Like this:

[code]

But when this parameter should be method or class TPOT always used DEFAULT value

## Code example

[code]

Result of `print(a, b)` always: `<value> None` (or sometimes `

[2017-11-08 19:11] #616 closed

[2017-11-10 14:07] #579 closed

[2017-11-10 14:08] #603 closed

[2017-11-14 18:09] weixuanfu opened #623 "Compatibility issues with the latest version (1.2.2) of deap"
From the ci tests in my recent PR #622, it seems that there are some Compatibility issues with the lasted version of deap (version 1.2.2) which was released 2 days ago. We need some patches to fix them.

[2017-11-17 13:26] rwexler opened #625 "RuntimeError in the TPOT optimization"
I am trying to use TPOT to generate an optimized pipeline for the safe driver prediction challenge on Kaggle (https://www.kaggle.com/c/porto-seguro-safe-driver-prediction). I was able to successfully complete the optimization process once for 5 generations and a population of 20. All subsequent attempts, however, to increase the either the number of generations or the size of the population have c

[2017-11-19 19:42] unnir opened #627 "any recommendations to "Skipped pipeline #1 due to time out. Continuing to the next pipeline"?"
Hi guys,

thank you for the tpot, looks really cool and I want to test it, but getting this all the time:

`Skipped pipeline #1 due to time out. Continuing to the next pipeline.
`

my code:

[code]

Do you have any recommendations how to avoid it?

[2017-11-20 19:20] dantaki opened #628 "warm_start example: continuing TPOT from a previous job"
The server I use has a limit of 2 days of walltime. My TPOT jobs are going to surpass the 48 hour limit. Reading the documentation, the `warm-start` option seems to be my solution.

However, I am confused on how to properly implement this function.

Do I have to create a temporary memory location for the `warm_start` option to pick up from a previous TPOT job?

Could someone please sketch out a sm

[2017-11-20 20:09] rhiever opened #629 "Have TPOT explain why it selected a particular pipeline"
Brief description until I get more time: Currently, TPOT recommends pipelines to the user based on the predictive performance of the pipeline. It would be helpful to some users if it could explain *why* that pipeline was selected, e.g., use the information from its evaluated pipelines dictionary to suggest that using a particular preprocessing method/ML algorithm/parameter setting improves perform

[2017-11-21 17:51] #628 closed

[2017-11-22 10:45] PG-TUe opened #630 "Failing unit tests on development branch"
I noticed three unit tests failing on a clean development branch.
Specifically, they are unit tests ` test_init_default_scoring_[2/3/4]`.
To reproduce the issue, I think it should be enough to run the unit tests on the development branch.

The issue lies with the assertion of the number of warnings `assert len(w) == 1` (or similar, depending on unit test).
I correctly get the deprecation warning (

[2017-11-22 13:09] #630 closed

[2017-11-24 14:52] lesshaste opened #631 "What is the formula used for r2 scoring in tpot?"
I am using tpot for regression. My code is:

tpot = TPOTRegressor(scoring="r2", generations=2, population_size=50, verbosity=2, n_jobs=-1)
tpot.fit(trainX, trainY)
print("Score is", tpot.score(testX, testY))

However I get:

Score is 122.641597476

The maximum should be 1.0  according to http://scikit-learn.org/stable/modules/generated/sklearn.metrics.r2_score.html .

## Context of the issue

## P

[2017-11-24 16:08] PG-TUe opened #632 "[Discussion] How to integrate Layered TPOT"
Hi all,

I am working on integrating [Layered TPOT](http://ceur-ws.org/Vol-1998/paper_06.pdf) with the updated development branch, so hopefully it can be part of TPOT :) my work so far can be seen [here](https://github.com/PG-TUe/tpot/tree/LTPOT/tpot).
I had a few questions about implementation details.

### Progress bar
The progress bar shows how many individuals are evaluated out of the total am

[2017-11-25 19:31] ijeffking opened #633 "Cannot install TPOT after installing Anaconda 5.0.1"
UnsatisfiableError: The following specifications were found to be in conflict:
  - python 3.6*
  - tpot -> deap >=1.0 -> python 3.4*
Use "conda info <package>" to see the dependencies for each package.
## Context of the issue

[provide more detailed introduction to the issue itself and why it is relevant]

[the remaining entries are only necessary if you are reporting a bug]

## Process to reprodu

[2017-11-29 15:23] #612 closed

[2017-11-29 15:26] #633 closed

[2017-11-29 15:47] #625 closed

[2017-11-29 15:48] #620 closed

[2017-11-29 15:54] #618 closed

[2017-11-29 15:54] #615 closed

[2017-11-29 15:56] #631 closed

[2017-11-29 15:56] #627 closed

[2017-12-05 16:01] kanekalla opened #635 "Error in my TPOT "PATH/TO/DATA/FILE""
using TPOT to predict using it in virtual env

Error 1:
/home/kishore/.virtualenvs/celegans/lib/python3.6/site-packages/ipykernel_launcher.py:10: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
Remove the CWD

[2017-12-07 16:07] bartdp1 opened #636 "CombineDFs(input_matrix, input_matrix) operator"
Tpot evaluates the following pipeline:
`RandomForestClassifier(CombineDFs(input_matrix, input_matrix), RandomForestClassifier__bootstrap=True, RandomForestClassifier__criterion=entropy, RandomForestClassifier__max_features=0.15, RandomForestClassifier__min_samples_leaf=11, RandomForestClassifier__min_samples_split=15, RandomForestClassifier__n_estimators=100)`

If i understand correctly, this simp

[2017-12-10 10:48] danelee2601 opened #637 "zero CV score with a very simple example"
I wanted to test a very simple example.

![p1](https://user-images.githubusercontent.com/34414758/33804133-c1318282-dde1-11e7-9b33-7f935d8517e2.PNG)

1.  I used read_excel and refined the dataframe into features and target.
2. Till running the Regressor, there's no problem in short.
from tpot import TPOTRegressor
from sklearn.model_selection import train_test_split
from pandas import *

This is th

[2017-12-11 03:56] #637 closed

[2017-12-11 04:01] danelee2601 opened #638 "2 Error messages"
1. 1st issue
C:\python36\Lib\importlib\_bootstrap.py:205: ImportWarning: can't resolve package from __spec__ or __package__, falling back on __name__ and __path__
  return f(*args, **kwds)
![image](https://user-images.githubusercontent.com/34414758/33815214-0de17f60-de73-11e7-9b40-bba72f55efd5.png)

2. 2nd issue
C:\python36\Lib\importlib\_bootstrap_external.py:426: ImportWarning: Not importing dir

[2017-12-12 23:09] #638 closed

[2017-12-17 08:49] jonathansantilli opened #640 "Is possible to have access to the features used in generations after selection, preprocessing and construction?"
Hello, thanks for TPOT, is really amazing!

I was looking this information in other questions, no found yet,

TPOT execute Feature selection, preprocessing and construction according to the documentation:

![screen shot 2017-12-17 at 09 28 30](https://user-images.githubusercontent.com/1774227/34077773-d4c423e2-e30c-11e7-9763-68a73f855187.png)

Is it possible to have access to those finally selecte

[2017-12-23 17:48] Shaista1 opened #643 "Customize tpot.fit() function"
Hello everyone,

I was wondering if anyone has worked on this subject. I will soon go about and try to test this out but before that I thought I'd ask for past experience.

I was thinking that make a customize fit function of tpot.

Since I am a beginner, I would welcome any thoughts from more experienced users on how to properly make this change and use it.

Thank you in advance.

Best regards,
S

[2017-12-25 02:03] berisfu opened #644 "Can it support multi label?"
for example，if Label is location(Longitude,Latitude),can I feed the location directly to the fit()?

[2018-01-02 15:49] davidbp opened #645 "tpot freezing jupyter notebook"
Hi,

When training a regressor with n_jobs=-1 the process freezes after a minute. All resources go to 0 and the algorithm never stops.

## Process to reproduce the issue

[code]
I get the following

[code]

And the process freezes even though    `max_time_mins=3`.

[2018-01-02 21:47] miteshyadav opened #647 "Cross validation parameter bug in TPOTRegressor using iterable object"
Cross validation parameter bug in TPOTRegressor using iterable object while creating a customized validation set

## Context of the issue
When using the iterable object, the function throws an error without specifying the details of the error. When I use the same iterable object in the GridSearchCV method, it was found that it works fine.
Also, when using the CV iterable function, the train/splitt

[2018-01-03 20:22] davidbp commented on #645
After the upgrade I still have the same issue.

[2018-01-04 22:16] miteshyadav opened #648 "Scoring parameter in TPOTRegressor unable to take customized loss functions"
I am trying to fit my TPOTRegressor using a customized scoring function. I have followed the instructions as per given on the website but it throws an error.

[code]

The following is the screenshot of the error message:

![image](https://user-images.githubusercontent.com/31832306/34586684-0526e172-f173-11e7-9f5e-49e9c11386d9.png)

  Same function works fine for any other regressor

![image](https

[2018-01-04 22:17] #647 closed

[2018-01-10 19:27] garciaev opened #650 "TPOTClassifier.score() doesn't return the same value as TPOTClassifier.fitted_pipeline.score()?"
Hello -

I am trying to output the final, fitted pipeline from TPOTClassifier. I am planning on deploying the model to a production environment. From issue #520, it was suggested to pickle the final pipeline:

[code]
However, when the output of `pipeline_optimizer.score` and `pipeline_optimize.fitted_pipeline_.score` return different numbers on a new testing data set.

Are the two `.score` functio

[2018-01-11 18:44] pliablepixels opened #651 "There was an error in the TPOT optimization process"
Hi, Thank you for your efforts.
I am experimenting with a proprietary dataset and TPOT. The error I am facing is the following:

[code]

## Context of the issue

I have a dataset of approximately 10,000 records. the X and Y data types are as follows (to ensure they are all numbers) (column names changed)

**X.dtypes**
[code]

**Y.dtypes**
[code]

My test code with TPOT:
[code]

## Other possibly r

[2018-01-11 19:09] #651 closed

[2018-01-12 19:34] GlobalMin opened #652 "TPOTRegressor doesn't seem to use xgboost"
When running TPOTClassifier xgboost is very commonly in the pipeline but for a regression problem I keep seeing GradientBoostingRegressor. In theory it's possibly that this outperforms xgboost but I am very skeptical. How can I debug that xgboost regression is being checked? Any way to debug this or explain this choice?

[2018-01-12 20:47] pliablepixels opened #653 "Using TPOT classifier output to create new entries (not an issue, more of a question)"
Hi, I've successfully used TPOT Classifier to arrive at a model that does a great job of classification (Y given A,B,C,D)

It's final choice was:
[code]

That's much better than what I did manually, including a DNN model, so thats great.

Is it at all possible to use this generated pipeline (or saved  fitted_pipeline_ model, which I saved using pickle) to now create new values of A,B,C,D that will

[2018-01-15 13:41] myjz opened #654 "every generation with the same results"
hello，tpot is  so  great idea, i like it so much, however when i use it with my own data and
tpot_config = {
    'sklearn.ensemble.AdaBoostClassifier': {
        'algorithm':['SAMME'],
        'n_estimators':[50,100,200,300,400],
        'learning_rate':[0.1,0.3,0.5,0.8,1.2]
    },
}
 like this ,every generation from 1 to 100 with the same results, ls that normal? or why does it behave like this?

[2018-01-15 14:18] #652 closed

[2018-01-16 18:32] jonathanng opened #655 "StackingEstimator is implemented incorrectly"
I believe the current implementation of `StackingEstimator` is incorrect. There is a very large possibility of data leakage.

Let's say `X` has 100 rows and 10 columns.

With the current implementation, a stacking estimator is trained on the full 100 rows, and a `X_transformed` is created by taking predictions from the stacking estimator and adding it as another column to `X`. The final result is

[2018-01-17 15:27] miteshyadav opened #656 "Ensembling functionality in TPOTs"
Does the final classifier obtained after using the TPOT only contain the best individual models or is it possible to get stacked estimators by ensembling different models?

[2018-01-17 19:23] #623 closed

[2018-01-18 15:48] #653 closed

[2018-01-19 20:43] dhanush987 opened #657 "Cannot Import tpot python3"
from tpot import TPOTClassifier
from sklearn.datasets import load_digits
from sklearn.model_selection import train_test_split

digits = load_digits()
X_train, X_test, y_train, y_test = train_test_split(digits.data, digits.target,
train_size=0.75, test_size=0.25)

tpot = TPOTClassifier(generations=5, population_size=20, verbosity=2)
tpot.fit(X_train, y_train)
print(tpot.score(X_test, y_test))
tpot.

[2018-01-21 00:22] pliptor opened #658 "Is it possible to save the state of the generations for later refinement?"
Thank you for this fine tool!

I noticed that the evolving procedure may take many hours and I was wondering if there is a way to save the state of generations.

[2018-01-21 15:17] Mandelbr0t opened #659 "CV Score = 1.0? Generation 1"
First Off: Great Project, i like the idea a lot and already thought about using GA`s for Model Selection but lacked the time to investigate it further. I was very happy when i found out that somebody was already doing it!

I tried running the Iris data set for testing purposes, but i constantly get a cv score of 1.0.

The Code used, is the one of the Examples section in tpot
Im calling the script

[2018-01-22 16:34] bartdp1 opened #660 "Smart handeling of pipeline timeouts"
I am currently working on a problem where i'm optimizing a pipeline quite a large dataset (100,000 obs, 80 features). A lot of the pipelines (approx 20/100) time out with the time limit on 15 minutes, which is basically a waste of computation time. Would there be any way to avoid such cases?

Possibilities:
- Keep counts of timeout of each operator, and disable a operator during the optimization w

[2018-01-22 19:04] #657 closed

[2018-01-23 10:59] bartdp1 opened #661 "Issue with subsample parameter of XGBoost classifier in the pipeline string"
From the _evaluated_invividuals dict i get the following pipeline:
[code]

When parsing this string to an (unfitted) pipeline object using:
`creator.Individual.from_string(str, tpot._pset)` i get a syntax error.:

[code]

I have been able to track this issue down to the fact that
'XGBClassifier__subsample=0.9500000000000001' is not in the tpot._pset.mappings,,
'XGBClassifier__subsample=0.95' is.

[2018-01-24 13:49] #661 closed

[2018-01-29 00:16] aspiringguru opened #663 "sklearn\cross_validation.py:41: DeprecationWarning"
deprecation warning from
pipeline_optimizer = TPOTClassifier()

python3Anaconda\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module

[2018-02-05 15:37] bartdp1 opened #664 "Customer scoring function and forkserver"
I am using forkserver in order to avoid freezing of TPOT on large dataset. However, i also use a customer scoring function:
[code]
when using `scoring = cust_scoring_mcc ` as argument for TPOT, it crashes and i find the following in the traceback:
[code]

Any thoughts?

[2018-02-05 16:08] galapah opened #665 "classification fails on multi-class data"
I cannot get TPot (v. 0.9.2, Python 2.7) working on multiclass data. (If TPot is only for binary-class data, it should be mentioned in the manual.)

## Context of the issue

An example provided below. It runs until 9% and then drops dead with the below mentioned error.
However, with n_classes=2 in the data, it is running well.

## Process to reproduce the issue

[code]

## Expected result

trained

[2018-02-06 14:10] #665 closed

[2018-02-13 06:37] whitewizard333 opened #666 "AttributeError: 'TPOTClassifier' object has no attribute 'classes_'"
I am trying to convert TPOT binary classifier result into probability score using CalibratedClassifierCV.

Code is as below

**from tpot import TPOTClassifier
from sklearn.datasets import load_digits
from sklearn.model_selection import train_test_split

from sklearn.calibration import CalibratedClassifierCV

tpot = TPOTClassifier(max_time_mins=6, verbosity=2)
tpot.fit(titanic_x, titanic['Survived'

[2018-02-13 16:56] phillip-martin opened #667 "Run Arbitrary Code Every Generation"
I couldn't find this in the api or [documentation](http://epistasislab.github.io), so please excuse me if this is trivial. At the end of training a model using tpot, I score the generated model based on mean absolute error and mean squared error. The following demonstrates an example.

[code]

I would like to be able to run these scores every generation, ideally through a function passed to either

[2018-02-13 18:41] weixuanfu commented on #667
Sorry, TPOT cannot export holdout scores every generation.

[2018-02-14 05:24] #666 closed

[2018-02-14 23:52] rhiever opened #668 "Default TPOT configuration parameter refinement"
Some of the parameters in TPOT's default configurations aren't ideal. The following should be refined:

* VarianceThreshold's `threshold` parameter should focus on a smaller range, e.g., `[0.0001, 0.0005, 0.001, 0.005, 0.01, 0.05, 0.1, 0.2]`. Most of the current parameter range probably removes all of the features.

* Remove the `precomputed` parameter from FeatureAgglomeration's `affinity` parame

[2018-02-28 14:54] beijingtl opened #670 "ImportWarning when import tpot modules"
[provide general introduction to the issue and why it is relevant to this repository]

## Context of the issue

I install tpot following http://epistasislab.github.io/tpot/installing/, and I use Anaconda3 installed my python3 environment. I try to test the examples from
http://epistasislab.github.io/tpot/examples/, but run into import errors.

## Process to reproduce the issue

[ordered list the p

[2018-02-28 15:27] #670 closed

[2018-03-01 11:07] alifayyazhussain opened #671 "bistreams.tgz.1.gz files are not extracting out any files"
[provide general introduction to the issue and why it is relevant to this repository]

## Context of the issue

[provide more detailed introduction to the issue itself and why it is relevant]

[the remaining entries are only necessary if you are reporting a bug]

## Process to reproduce the issue

[ordered list the process to finding and recreating the issue, example below]

1. User creates TPOT i

[2018-03-01 12:05] #671 closed

[2018-03-09 17:56] ogencoglu opened #673 "Is there refit to all data when .score is called?"
Is there anything similar to scikit-learn GridSearchCV, refit = True?

Meaning that, when k-fold CV is performed, is all of the data fitted one final time before giving a score on an unseen data.

`tpot.score(X_test, y_test)`

[2018-03-14 14:27] bartdp1 opened #674 "Questions on specific details of the GP algorithm"
Currently i am going to the literature on TPOT, and there are some unclarities in what i read w.r.t. what i find in the code. The main question i have here is a about the selection of individuals that proceed to the next generation. In the code i see that new population is selected from both the old population and the offspring. In the [paper](http://proceedings.mlr.press/v64/olson_tpot_2016.pdf)

[2018-03-16 07:04] rishabhjain09 opened #675 "tpotRegressor is giving large negative value"
for regression tpotRegressor is giving large negative value  , whereas if you try tpotclassifier for regression problem it gives a value in range from 0 to 1 , why so ?

[2018-03-16 20:15] #654 closed

[2018-03-16 20:15] #659 closed

[2018-03-16 20:15] #673 closed

[2018-03-16 20:16] #663 closed

[2018-03-20 14:11] #674 closed

[2018-03-20 17:35] saddy001 opened #676 "Segfault on optimization process"
I'm getting a segfault at some stage of the process. I got a traceback with gdb. Code as follows:

Traceback and context:

Versions:

If you need further information, please let me know.

[2018-03-26 13:43] weixuanfu opened #678 "Add Callbacks for logging and/or performing custom operations after every generation"
Similar to Keras's [“callbacks”](https://keras.io/callbacks/)— we need add a class that can access the training state after every training iteration for better logging and/or performing custom operations after every generation during TPOT optimization. This class is related to a few features in current version (0.9.2) of TPOT (e.g. early stopping and verbosity in general).

[2018-03-26 13:46] #675 closed

[2018-03-26 13:49] #644 closed

[2018-03-26 13:49] #636 closed

[2018-03-26 13:51] #619 closed

[2018-03-27 17:09] #676 closed

[2018-03-30 15:23] LarsChrWiik opened #679 "figure"

[2018-03-30 15:25] #679 closed

[2018-04-09 06:11] chikiuso opened #680 "Is it GPU enabled?"
Hi, is it GPU enabled? Since I found gpu is idle when running it, thanks.

[2018-04-09 12:54] iWangLin opened #681 "why my cv score is negative number?"
my code
from tpot import TPOTRegressor
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split

housing = load_boston()
X_train, X_test, y_train, y_test = train_test_split(housing.data, housing.target,
                                                    train_size=0.75, test_size=0.25)

tpot = TPOTRegressor(generations=5, population_size=50, verbosity=2)
tpot.

[2018-04-09 17:14] villasv opened #682 "TPOTBase.score doesn't impute values like TPOTBase.predict does"
Here's the code inside `TPOTBase(BaseEstimator).predict`

[code]

So yeah, it will use the `self._fitted_imputer` when predicting because of the `self._impute_values` call.

But now here's the code inside `TPOTBase(BaseEstimator).score`:

[code]

It simply forwards the `testing_features` without using the `self._fitted_imputer`, so unlike I expected, it won't do imputation automatically when using

[2018-04-09 20:37] #682 closed

[2018-04-09 20:38] #681 closed

[2018-04-25 14:22] tehlinger opened #686 "Is there a way to limit the maximum number of estimators?"
I understand that it is possible to limit the type of estimators TPOT with config files.
I wonder if it is possible to limit the total number of estimators returned in the pipeline at the end.

Thank you very much,

[2018-04-26 09:08] #686 closed

[2018-05-01 13:51] alokgogate opened #687 "unable to call tpot into python script"
Hello,
when I try running tpot classifier as a python script file then I am unable to import tpot.classifier however I am able to run tpot classifier in a jupyter notebook? Any clue as to why this may be the case?
thanks

[2018-05-02 06:37] Chianghung opened #688 "Hope tpot support LightGBM."
AS the title, advise tpot to support LightGBM and provide one option to specify some algorithms.
Thanks very much.

[2018-05-03 16:16] TheBrownViking20 opened #689 "What does TPOT use for optimizing the models? Does it use Grid Search or something related to genetic programming?"
So, I created a notebook on kaggle demonstrating the use of tpot. So far the response has been good.
[Click here to view](https://www.kaggle.com/thebrownviking20/tpot-a-great-tool-to-automate-your-ml-workflow)

However, a fellow kaggler thought/assumed that tpot uses Grid Search to optimize the models. Is it true or does genetic programming has some role in optimization of models? Or does tpot use

[2018-05-03 16:40] #687 closed

[2018-05-07 13:52] avdusen opened #690 "Questions about the StackingEstimator"
I ran a short regression test with a small data set. Here is the TPOT input:
tpot_optimizer = TPOTRegressor(generations=5, population_size=20, scoring='neg_median_absolute_error',cv=5, random_state=42, verbosity=2)

Here is the best pipeline output:
Best pipeline: ExtraTreesRegressor(XGBRegressor(LassoLarsCV(PolynomialFeatures(RidgeCV(input_matrix), degree=2, include_bias=False, interaction_only=F

[2018-05-14 17:44] scolemann opened #691 "Score from pipeline_optimizer is different than score in exported pipeline"
Hi,

I've noticed that the score in the pipeline_optimizer.score(testing_features, testing_target)), which I print upon completion, is different than the score in the tpot_exported_pipeline.py where it says "# Score on the training set was x"

It seems the number that I print from pipeline_optimizer is always lower than the one listed in the file.  I expected them to be the same.  Can you explain

[2018-05-14 20:26] RyanZotti opened #692 "Question: Location in source code where models are trained?"
I really like TPOT, but I'd like to parallelize the code to run on Spark or Dask as this is a requirement for my use case. I understand that the TPOT maintainers aren't a fan of incorporating Spark or Dask, so I'm happy to make the changes on my own in a fork. I have a lot of experience with Python, sklearn, pandas, numpy, Spark, and AWS. I just need to know which file / line TPOT currently uses t

[2018-05-22 01:26] zhaoyingjun opened #694 "MAC OS install topt,but ImportError: No module named tpot"
File "iris_automl_demo.py", line 1, in <module>
    from tpot import TPOTRegressor
ImportError: No module named tpot

[2018-05-23 05:49] JYLFamily opened #696 "OSError: [Errno 12] Cannot allocate memory"
Hi Tpot Team:

  File "/data/finupcard_python/anaconda3/lib/python3.6/multiprocessing/context.py", line 277, in _Popen
    return Popen(process_obj)
  File "/data/finupcard_python/anaconda3/lib/python3.6/multiprocessing/popen_fork.py", line 26, in __init__
    self._launch(process_obj)
  File "/data/finupcard_python/anaconda3/lib/python3.6/multiprocessing/popen_fork.py", line 73, in _launch
    se

[2018-05-28 07:40] #696 closed

[2018-05-29 09:11] zsurnz opened #697 "how to constrain models further"
Hi, I am interested in ML as a complement to physically-based models to predict some molecular properties from relatively small datasets (~100-1000 data points). For now I started using TPOT from command-line only and would need advice regarding how to lay focus on simple models (beyond the TPOT light config) and apply stringent validation criteria in this context.
I have in particular two questio

[2018-05-29 15:08] cpereir1 opened #698 "StackingEstimator Interpretation of Exported Pipeline"
Hi!
I am ran the TPOT classifier as follows:

pipeline_optimizer = tpot.TPOTClassifier(warm_start=True, periodic_checkpoint_folder="C:\Users\...",
                                         verbosity=3, max_eval_time_mins=20, config_dict='TPOT light')

On a training set of shape 1871, 18.

I obtained the following exported pipeline:

exported_pipeline = make_pipeline(
    make_union(
        Stackin

[2018-05-29 22:08] cpereir1 commented on #698
Thanks for the reply!

Can you explain further why should the results be passes to a decision
tree? I miss to locate that indication on the output.

Thanks a lot!

BR,
Carmina

On Tue, May 29, 2018, 7:19 PM Weixuan Fu <notifications@github.com> wrote:

[2018-05-30 07:47] #698 closed

[2018-05-30 09:53] #697 closed

[2018-05-31 10:30] prabhant opened #700 "Precision and recall in multiclass classification"
Errors in multiclass scenario while using TPOT with another scoring measure than accuracy

## Context of the issue
I'm getting this error while using tpot on iris data and using any other scoring measure than accuracy.

[code]

[2018-06-02 14:41] shirishr opened #701 "More a question: Can models be added to config with ease?"
[provide general introduction to the issue and why it is relevant to this repository]

I see that I can define my own config_dict and choose which classifier / regressor to keep.
Conversely can I add say lightgbm to my own config_dict and have TPOT do its magic?

[2018-06-02 18:31] #701 closed

[2018-06-06 09:41] cpereir1 opened #702 "Classification score result used for choosing the best pipeline"
When running the tpot pipeline optimization search, the output file includes a comment for the score on the training set, as shown in the figure below.

![image](https://user-images.githubusercontent.com/23639131/41030349-6df101f0-697e-11e8-8996-c49392593337.png)

From literature I realize that the score on the training set is always very optimistic, and ideally, a model should be chosen based on

[2018-06-06 23:07] pan-alex opened #703 "Question: Can multiple models be saved/exported from one TPOT optimization?"
Hi, I'm new to using TPOT, but it looks very promising. My question is if it is possible to save the parameters and/or export code for multiple models from one TPOT optimization, rather than just the most predictive model.

For example, I would like to see the top 5 (or whatever) models to assess if there are any common features, or maybe to choose a model that is easier to explain compared to one

[2018-06-12 02:32] Arvind1992 opened #706 "Feature Selection using TPOT."
[provide general introduction to the issue and why it is relevant to this repository]
Hi all,
     I am new to this tool and I am explored this tool to some extent and I got some questions/suggestion. I am not sure whether this is the right platform to ask my questions.
I am using Genetic Programming to select the prominent features. I want to use TPOT for this task as, it's based on GP. I see tha

[2018-06-13 06:36] earthat opened #707 "Why Genetic Programming is still used instead of latest heuristic methods"
Hi, I opened the issue as I am working on the research issues in machine learning to get the optimal set of parameters in a classifier along with optimal selection of features etc.

## Genetic Programming is Old

I found that there are many other heuristic optimization algorithms which perform better than GA as it stuck into local optima and may not give the optimal solution, also converging time

[2018-06-13 16:09] carterrees commented on #638
I am running into the same issue as @danelee2601 Running 3.6 on Windows 10. Have reinstalled deap using pip install --upgrade --upgrade-strategy "eager" --force-reinstall --ignore-installed --compile --process-dependency-links --no-binary :all: deap with no luck. Also followed the instructions from the Deap issue #240 link provided above which included installing and putting mingw64 on my PATH. tp

[2018-06-16 00:39] joseortiz3 opened #708 "Sample_weights - question about what happens, improve documentation"
After sample_weights were introduced in response to [this](https://github.com/EpistasisLab/tpot/issues/310), the documentation for sample_weights was updated with this description:

This leaves some questions unanswered, and I want to make sure I understand what is happening "under the hood".

From looking at [operator_utils.py]..........(https://github.com/EpistasisLab/tpot/blob/master/tpot/opera

[2018-06-19 07:41] fferroni opened #709 "[Question] Different measurements per sample pre-processing"
Hello,

My classification dataset has a different number of features per example. This is because I get a different number of measurements per sample which I am trying to classify, like trying to classify a sentence, or classifying a sequence, or an unordered set of points.

I am wondering whether TPOT has the ability to explore using GA the featurizing step as well as the classifiers. For example

[2018-06-19 19:22] #709 closed

[2018-06-20 02:43] IamAVB opened #710 "Feature selection using TPOT"
Hi All,
     My aim is to use Genetic Programming for feature selection. For this is I am using TPOT by giving the just one classification model and some known hyper parameter values as input through config_dict along with MDR type which uses different sklearn feature selection operators to create populations in different generations. I am using  the classification accuracy as feature set fitness

[2018-06-20 08:59] ritabratamaiti opened #711 "TPOT is not performing well for Timeseries Data"
I am pulling out data from the Quandl API, and using the stock data to predict future stock prices, the model is a linear model and fits well with training data, but provides a straight line for future data. I have converted the dates to a standard int format before processing so I don't know what I am doing wrong :( , any help is appreciated: like code examples and stuff.....

## Process to repro

[2018-06-20 18:32] ritabratamaiti commented on #711
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABJQAAANfCAYAAACPIoe8AAAABHNCSVQICAgIfAhkiAAAAAlwSFlz%0AAAALEgAACxIB0t1+/AAAADl0RVh0U29mdHdhcmUAbWF0cGxvdGxpYiB2ZXJzaW9uIDIuMi4yLCBo%0AdHRwOi8vbWF0cGxvdGxpYi5vcmcvhp/UCwAAIABJREFUeJzs3WmUZXd5H+rfPlNVV1fPrRYSEgiB%0AxCAkWlgCYRukEMUrDsu+RHC5GRzHYMc2ygUbeXkA30yOA3KyQEQBQi4kXN+FjXPNoBAcJ7EsS9hW%0AAAkkMQgkMQlkSUjd1VN1d9UZ9r4fTnV1l7q61dU1nNNVz/Ol9tl7n6O3V+2ls9

[2018-06-21 07:27] joseortiz3 opened #712 "Feature selection using TPOT - implement a subset selector?"
The previous ["feature selection" question](https://github.com/EpistasisLab/tpot/issues/710) reminded me to ask this slightly different question.

I was wondering roughly how one might go about implementing a "`SubsetSelector`" pipeline element to go in the very first stage of the pipeline. The job of this element would be to pass only certain subsets of the features onwards. If someone would "poi

[2018-06-21 10:50] samratp opened #714 "Issue in Documentation Page"
The documentation in "Using TPOT" -> "Scoring Functions" ([http://epistasislab.github.io/tpot/using/](http://epistasislab.github.io/tpot/using/)) is broken because of a missing tag in the HTML code.

The below code in line 483 should be enclosed in class "Python"

code class="Python"

from tpot import TPOTClassifier

[2018-06-21 13:22] #714 closed

[2018-06-22 07:24] AGTGreg opened #716 "How about scaling?"
Hello, I'm new here and I would like to make a question about scaling.

In the documentation, non of the examples scale the features before fitting them to the TPOTClassifier.

[code]

So does this mean that when I fit my own data in TPOTClassifier I don't have to scale the features just like I would normally do with any other Classifier?
Does TPOT do the scaling on its own?

Thank you in advance.

[2018-06-26 02:47] #711 closed

[2018-06-26 15:13] terry07 opened #720 "optimize based on specific criterion"
Could we use TPOT framework for optimizing a dataset with other metric, such as precision or recall?
Thanks for your time and your great contribution.

[2018-06-27 14:43] terry07 opened #721 "control the scrutinized learners that are tuned"
Running some examples with TPOT tool, i get that the best classifiers/regressors could be other than DTs.
Could i restrict the spectrum of the learners that are taken into consideration during an optimization step?

Thanks in advance.

[2018-06-30 17:01] sgaseretto opened #722 "Is it posible to exclude certain algorithms in a TPOTRegressor or TPOTClassifier?"
How can I specify in a TPOTRegressor or TPOTClassifier to exclude certain algorithms? Let's say, for example, to not generate a pipeline that uses Random Forest or something like that. Is it possible to do this, similarly to what can be done with the TPOT's operators and parameters customization.

[2018-07-02 19:32] #680 closed

[2018-07-02 19:32] #688 closed

[2018-07-02 19:32] #689 closed

[2018-07-02 19:33] #692 closed

[2018-07-02 19:33] #707 closed

[2018-07-02 19:33] #708 closed

[2018-07-02 19:34] #655 closed

[2018-07-02 19:34] #667 closed

[2018-07-02 19:35] #716 closed

[2018-07-09 16:41] rhiever opened #723 "Improve TPOT progress bar: detect whether TPOT is running in a notebook"
This is a user experience quality issue.

TPOT should detect whether it's running in a notebook and use `tqdm_notebook` for the progress bar instead of the regular `tqdm`. This can be accomplished as simply as detecting whether TPOT is being run in a notebook during import time, and changing the `tqdm` import from `from tqdm import tqdm` to `from tqdm import tqdm_notebook as tqdm`.

See [this page

[2018-07-10 13:59] #721 closed

[2018-07-10 14:02] #720 closed

[2018-07-10 19:06] #722 closed

[2018-07-10 19:19] #710 closed

[2018-07-10 19:20] #703 closed

[2018-07-11 09:17] itscarrot opened #725 "Is it possible to see the features which are selected for each pipeline?"

[2018-07-11 10:52] #725 closed

[2018-07-11 13:08] lesshaste opened #726 "Is it possible to disable StackingEstimator and CombineDFs ?"
It was suggest on gitter that I ask here.

Is it currently possible  to disable StackingEstimator and CombineDFs ?

[2018-07-11 15:04] sohrabtowfighi opened #727 "Does cv option do anything when given a custom generator?"
I am examining the results of my output which make me question whether TPOT is actually using the type of cross validation I specified using the 'cv' parameter. Please hear me out.

I am running a classification problem with the TPOTClassifier and I have set its 'cv' option to 'cv=LeaveOneOut()' so as to run leave one out cross validation internally. During the execution, my terminal read 'Generat